<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.ProcessInstanceDao">
	
	<resultMap id="ProcessInstanceMap" type="java.util.Map">
		<result column="INS_UID" 						property="insUid"/>
		<result column="INS_TITLE" 						property="insTitle"/>
		<result column="INS_DESCRIPTION" 				property="insDescription"/>
		<result column="INS_ID" 						property="insId"/>
		<result column="INS_PARENT" 					property="insParent"/>
		<result column="INS_STATUS" 					property="insStatus"/>
		<result column="INS_STATUS_ID" 					property="insStatusId"/>
		<result column="PRO_APP_ID" 					property="proAppId"/>
		<result column="PRO_UID" 						property="proUid"/>
		<result column="PRO_VER_UID" 					property="proVerUid"/>
		<result column="INS_INIT_USER" 					property="insInitUser"/>
		<result column="INS_CREATE_DATE" 				property="insCreateDate"/>
		<result column="INS_INIT_DATE" 					property="insInitDate"/>
		<result column="INS_FINISH_DATE" 				property="insFinishDate"/>
		<result column="INS_UPDATE_DATE" 				property="insUpdateDate"/>
		<result column="INS_DATA" 						property="insData"/>
		<result column="INS_DURATION" 					property="insDuration"/>
		<result column="INS_DELAY_DURATION" 			property="insDelayDuration"/>
		<result column="INS_DRIVE_FOLDER_UID" 			property="insDriveFolderUid"/>
		<result column="INS_ROUTING_DATA" 				property="insRoutingData"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		INS_UID,INS_TITLE,INS_DESCRIPTION,INS_ID,
		INS_PARENT,INS_STATUS,INS_STATUS_ID,PRO_APP_ID,
		PRO_UID,PRO_VER_UID,INS_INIT_USER,INS_CREATE_DATE,
		INS_INIT_DATE,INS_FINISH_DATE,INS_UPDATE_DATE,INS_DATA,
		INS_DURATION,INS_DELAY_DURATION,INS_DRIVE_FOLDER_UID,INS_ROUTING_DATA
	</sql>
	
	<select id="selectAllProcess" parameterType="com.desmart.desmartportal.entity.ProcessInstance" resultType="com.desmart.desmartportal.entity.ProcessInstance">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_PROCESS_INSTANCE
		<where>
			<if test="insUid != null and insUid != ''">
				INS_UID = #{insUid}
			</if>
			<if test="insTitle != null and insTitle != ''">
				AND INS_TITLE = #{insTitle}
			</if>
			<if test="insDescription != null and insDescription != ''">
				AND INS_DESCRIPTION = #{insDescription}
			</if>
			<if test="insId != null and insId != ''">
				AND INS_ID = #{insId}
			</if>
			<if test="insParent != null and insParent != ''">
				AND INS_PARENT = #{insParent}
			</if>
			<if test="insStatus != null and insStatus != ''">
				AND INS_STATUS = #{insTitle}
			</if>
			<if test="insStatusId != null and insStatusId != ''">
				AND INS_STATUS_ID = #{insTitle}
			</if>
			<if test="proUid != null and proUid != ''">
				AND PRO_APP_ID = #{proUid}
			</if>
			<if test="insTitle != null and insTitle != ''">
				AND PRO_UID = #{insTitle}
			</if>
			<if test="proVerUid != null and proVerUid != ''">
				AND PRO_VER_UID = #{proVerUid}
			</if>
			<if test="insInitUser != null and insInitUser != ''">
				AND INS_INIT_USER = #{insInitUser}
			</if>
			<if test="insCreateDate != null and insCreateDate != ''">
				AND INS_CREATE_DATE = #{insCreateDate}
			</if>
			<if test="insInitDate != null and insInitDate != ''">
				AND INS_INIT_DATE = #{insInitDate}
			</if>
			<if test="insFinishDate != null and insFinishDate != ''">
				AND INS_FINISH_DATE = #{insFinishDate}
			</if>
			<if test="insUpdateDate != null and insUpdateDate != ''">
				AND INS_UPDATE_DATE = #{insTitle}
			</if>
			<if test="insData != null and insData != ''">
				AND INS_DATA = #{insData}
			</if>
			<if test="insDuration != null and insDuration != ''">
				AND INS_DURATION = #{insDuration}
			</if>
			<if test="insDelayDuration != null and insDelayDuration != ''">
				AND INS_DELAY_DURATION = #{insDelayDuration}
			</if>
			<if test="insDriveFolderUid != null and insDriveFolderUid != ''">
				AND INS_DRIVE_FOLDER_UID = #{insDriveFolderUid}
			</if>
			<if test="insRoutingData != null and insRoutingData != ''">
				AND INS_ROUTING_DATA = #{insRoutingData}
			</if>
		</where>
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.desmart.desmartportal.entity.ProcessInstance">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		DH_PROCESS_INSTANCE
		<where>
			INS_UID = #{insUid}
		</where>
	</select>
	
	<update id="updateByPrimaryKey" parameterType="java.lang.String">
		UPDATE DH_PROCESS_INSTANCE
		<set>
			<if test="insTitle != null and insTitle != ''">
				INS_TITLE = #{insTitle},
			</if>
			<if test="insDescription != null and insDescription != ''">
				INS_DESCRIPTION = #{insDescription},
			</if>
			<if test="insId != null and insId != ''">
				INS_ID = #{insId},
			</if>
			<if test="insParent != null and insParent != ''">
				INS_PARENT = #{insParent},
			</if>
			<if test="insStatus != null and insStatus != ''">
				INS_STATUS = #{insTitle},
			</if>
			<if test="insStatusId != null and insStatusId != ''">
				INS_STATUS_ID = #{insTitle},
			</if>
			<if test="proUid != null and proUid != ''">
				PRO_APP_ID = #{proUid},
			</if>
			<if test="insTitle != null and insTitle != ''">
				PRO_UID = #{insTitle},
			</if>
			<if test="proVerUid != null and proVerUid != ''">
				PRO_VER_UID = #{proVerUid},
			</if>
			<if test="insInitUser != null and insInitUser != ''">
				INS_INIT_USER = #{insInitUser},
			</if>
			<if test="insCreateDate != null and insCreateDate != ''">
				INS_CREATE_DATE = #{insCreateDate},
			</if>
			<if test="insInitDate != null and insInitDate != ''">
				INS_INIT_DATE = #{insInitDate},
			</if>
			<if test="insFinishDate != null and insFinishDate != ''">
				INS_FINISH_DATE = #{insFinishDate},
			</if>
			<if test="insUpdateDate != null and insUpdateDate != ''">
				INS_UPDATE_DATE = #{insTitle},
			</if>
			<if test="insData != null and insData != ''">
				INS_DATA = #{insData},
			</if>
			<if test="insDuration != null and insDuration != ''">
				INS_DURATION = #{insDuration},
			</if>
			<if test="insDelayDuration != null and insDelayDuration != ''">
				INS_DELAY_DURATION = #{insDelayDuration},
			</if>
			<if test="insDriveFolderUid != null and insDriveFolderUid != ''">
				INS_DRIVE_FOLDER_UID = #{insDriveFolderUid},
			</if>
			<if test="insRoutingData != null and insRoutingData != ''">
				INS_ROUTING_DATA = #{insRoutingData}
			</if>
			<where>
				INS_UID = #{insUid}
			</where>
		</set>
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE 
		FROM 
		DH_PROCESS_INSTANCE
		<where>
			INS_UID = #{insUid}
		</where>
	</delete>
	
	<insert id="insertProcess" parameterType="com.desmart.desmartportal.entity.ProcessInstance">
		INSERT INTO
		DH_PROCESS_INSTANCE
		(<include refid="Base_Column_List"/>)
		VALUES
		(
			#{insUid},
			#{insTitle},
			#{insDescription},
			#{insId},
			#{insParent},
			#{insStatus},
			#{insStatusId},
			#{proAppId},
			#{proUid},
			#{proVerUid},
			#{insInitUser},
			sysdate,
			sysdate,
			#{insFinishDate},
			#{insUpdateDate},
			#{insData},
			#{insDuration},
			#{insDelayDuration},
			#{insDriveFolderUid},
			#{insRoutingData}
		)
	</insert>
	
</mapper>