<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmart.desmart_systemmanagement.dao.SysDepartmentDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.desmart.desmart_systemmanagement.entity.SysDepartment">
		<result column="DEPART_UID" property="departUid" />
		<result column="DEPART_PARENT" property="departParent" />
		<result column="DEPART_NAME" property="departName" />
		<result column="ORDER_INDEX" property="orderIndex" />
		<result column="DEPART_DESC" property="departDesc" />
		<result column="DEPART_NO" property="departNo" />
		<result column="DEPART_LAYER" property="departLayer" />
		<result column="DEPART_ADMINS" property="departAdmins" />
		<result column="DEPART_ZONE" property="departZone" />
		<result column="COMPANY_UID" property="companyUid" />
		<result column="EXT1" property="ext1" />
		<result column="EXT2" property="ext2" />
		<result column="WORK_CALENDAR" property="workCalendar" />
		<result column="EXT3" property="ext3" />
		<result column="EXT4" property="ext4" />
		<result column="EXT5" property="ext5" />
		<result column="DEPART_TYPE" property="departType" />
		<result column="IS_CLOSED" property="isClosed" />
		<result column="CLOSE_DATE" property="closeDate" />
		<result column="BEGIN_DATE" property="beginDate" />
		<result column="END_DATE" property="endDate" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="UPDATE_DATE" property="updateDate" />
	</resultMap>
	
	<select id="selectAll" parameterType="com.desmart.desmart_systemmanagement.entity.SysDepartment"  resultMap="BaseResultMap">
			select 
			DEPART_UID,
		    DEPART_PARENT,
		    DISPLAY_NAME,
		    DEPART_NAME,
		    ORDER_INDEX,
		    DEPART_DESC,
		    DEPART_NO,
		    DEPART_LAYER,
		    DEPART_ADMINS,
		    DEPART_ZONE,
		    COMPANY_UID,
		    EXT2,
		    WORK_CALENDAR,
		    EXT3,
		    EXT4,
		    EXT5,
		    DEPART_TYPE,
		    IS_CLOSED,
		    CLOSE_DATE,
		    BEGIN_DATE,
		    END_DATE,
		    CREATE_DATE,
		    UPDATE_DATE,
		    (select dd.depart_name from sys_department dd where dd.depart_no=d.depart_parent) EXT1
		    from Sys_Department d where 1=1 
	 		<if test="departName!= null and departName!='' ">
	 			and d.DEPART_NAME LIKE CONCAT(CONCAT('%',#{departName}),'%') 
	 		</if>
	 		
	 		<if test="departParent!= null and departParent!='' ">
	 			and d.DEPART_PARENT=#{departParent}
	 		</if>
	 		
	  </select>
	  
	  <select id="select" parameterType="com.desmart.desmart_systemmanagement.entity.SysDepartment"  resultMap="BaseResultMap">
	  		select * from Sys_Department
	  </select>
		
	 <insert id="insert" parameterType="com.desmart.desmart_systemmanagement.entity.SysDepartment" >
	 </insert>
	  
	  <select id="findById" parameterType="com.desmart.desmart_systemmanagement.entity.SysDepartment" resultMap="BaseResultMap" >
	  		select 
			DEPART_UID,
		    DEPART_PARENT,
		    DISPLAY_NAME,
		    DEPART_NAME,
		    ORDER_INDEX,
		    DEPART_DESC,
		    DEPART_NO,
		    DEPART_LAYER,
		    DEPART_ADMINS,
		    DEPART_ZONE,
		    COMPANY_UID,
		    EXT2,
		    WORK_CALENDAR,
		    EXT3,
		    EXT4,
		    EXT5,
		    DEPART_TYPE,
		    IS_CLOSED,
		    CLOSE_DATE,
		    BEGIN_DATE,
		    END_DATE,
		    CREATE_DATE,
		    UPDATE_DATE,
		    (select dd.depart_name from sys_department dd where dd.depart_no=d.depart_parent) EXT1
		    from  Sys_Department d where d.DEPART_UID=#{departUid}
	  </select>
	  
	  <select id="selectTree" parameterType="com.desmart.desmart_systemmanagement.entity.TreeNode" resultType="TreeNode">
	  		select depart_uid as code,depart_name as name,depart_no id,depart_parent pId,lvl,isParent from(
			select  d.depart_uid,d.depart_name,d.depart_no,d.depart_parent,1 lvl,case when (select count(*) from Sys_Department cd where d.depart_no=cd.depart_parent)>0 then 'true' else 'false' end  isParent from Sys_Department  d  
			) where
			<choose>
				<when test="id!=null and id!='' ">
					 depart_parent=#{id}
				</when>  
             	<otherwise>
             		depart_no='10000000'
             	</otherwise>
			</choose>
	  </select>
	  
	  <delete id="delete" parameterType="com.desmart.desmart_systemmanagement.entity.SysDepartment">
	  		DELETE FROM SYS_RESOURCE where RESOUCE_UID=#{resouceUid}
	  </delete>
	  
	  <update id="update" parameterType="com.desmart.desmart_systemmanagement.entity.SysDepartment" >
	  </update>

</mapper>
