<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmart_systemmanagement.dao.SysResourceMapper" >
  <resultMap id="BaseResultMap" type="com.desmart.desmart_systemmanagement.entity.SysResource" >
    <id column="RESOUCE_UID" property="resouceUid" jdbcType="VARCHAR" />
    <result column="RESOUCE_NAME" property="resouceName" jdbcType="VARCHAR" />
    <result column="ORDER_INDEX" property="orderIndex" jdbcType="DECIMAL" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="RESOUCE_NO" property="resouceNo" jdbcType="VARCHAR" />
    <result column="RESOUCE_DESC" property="resouceDesc" jdbcType="VARCHAR" />
    <result column="RESOUCE_TYPE" property="resouceType" jdbcType="DECIMAL" />
    <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
    <result column="EXT4" property="ext4" jdbcType="VARCHAR" />
    <result column="EXT5" property="ext5" jdbcType="VARCHAR" />
    <result column="IS_CLOSED" property="isClosed" jdbcType="DECIMAL" />
    <result column="CLOSE_DATE" property="closeDate"  />
    <result column="BEGIN_DATE" property="beginDate"  />
    <result column="END_DATE" property="endDate"  />
    <result column="CREATE_DATE" property="createDate"  />
    <result column="UPDATE_DATE" property="updateDate"  />
  </resultMap>
  <sql id="Base_Column_List" >
    RESOUCE_UID, RESOUCE_NAME, ORDER_INDEX, PARENT_ID, RESOUCE_NO, RESOUCE_DESC, RESOUCE_TYPE, 
    EXT1, EXT2, EXT3, EXT4, EXT5, IS_CLOSED, CLOSE_DATE, BEGIN_DATE, END_DATE, CREATE_DATE, 
    UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_RESOURCE
    where RESOUCE_UID = #{resouceUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_RESOURCE
    where RESOUCE_UID = #{resouceUid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.desmart.desmart_systemmanagement.entity.SysResource" >
    insert into SYS_RESOURCE (RESOUCE_UID, RESOUCE_NAME, ORDER_INDEX, 
      PARENT_ID, RESOUCE_NO, RESOUCE_DESC, 
      RESOUCE_TYPE, EXT1, EXT2, 
      EXT3, EXT4, EXT5, IS_CLOSED, 
      CLOSE_DATE, BEGIN_DATE, END_DATE, 
      CREATE_DATE, UPDATE_DATE)
    values (#{resouceUid,jdbcType=VARCHAR}, #{resouceName,jdbcType=VARCHAR}, #{orderIndex,jdbcType=DECIMAL}, 
      #{parentId,jdbcType=VARCHAR}, #{resouceNo,jdbcType=VARCHAR}, #{resouceDesc,jdbcType=VARCHAR}, 
      #{resouceType,jdbcType=DECIMAL}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{isClosed,jdbcType=DECIMAL}, 
      #{closeDate,jdbcType=TIMESTAMP}, #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.desmart.desmart_systemmanagement.entity.SysResource" >
    insert into SYS_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resouceUid != null" >
        RESOUCE_UID,
      </if>
      <if test="resouceName != null" >
        RESOUCE_NAME,
      </if>
      <if test="orderIndex != null" >
        ORDER_INDEX,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="resouceNo != null" >
        RESOUCE_NO,
      </if>
      <if test="resouceDesc != null" >
        RESOUCE_DESC,
      </if>
      <if test="resouceType != null" >
        RESOUCE_TYPE,
      </if>
      <if test="ext1 != null" >
        EXT1,
      </if>
      <if test="ext2 != null" >
        EXT2,
      </if>
      <if test="ext3 != null" >
        EXT3,
      </if>
      <if test="ext4 != null" >
        EXT4,
      </if>
      <if test="ext5 != null" >
        EXT5,
      </if>
      <if test="isClosed != null" >
        IS_CLOSED,
      </if>
      <if test="closeDate != null" >
        CLOSE_DATE,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resouceUid != null" >
        #{resouceUid,jdbcType=VARCHAR},
      </if>
      <if test="resouceName != null" >
        #{resouceName,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="resouceNo != null" >
        #{resouceNo,jdbcType=VARCHAR},
      </if>
      <if test="resouceDesc != null" >
        #{resouceDesc,jdbcType=VARCHAR},
      </if>
      <if test="resouceType != null" >
        #{resouceType,jdbcType=DECIMAL},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="isClosed != null" >
        #{isClosed,jdbcType=DECIMAL},
      </if>
      <if test="closeDate != null" >
        #{closeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmart_systemmanagement.entity.SysResource" >
    update SYS_RESOURCE
    <set >
      <if test="resouceName != null" >
        RESOUCE_NAME = #{resouceName,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        ORDER_INDEX = #{orderIndex,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="resouceNo != null" >
        RESOUCE_NO = #{resouceNo,jdbcType=VARCHAR},
      </if>
      <if test="resouceDesc != null" >
        RESOUCE_DESC = #{resouceDesc,jdbcType=VARCHAR},
      </if>
      <if test="resouceType != null" >
        RESOUCE_TYPE = #{resouceType,jdbcType=DECIMAL},
      </if>
      <if test="ext1 != null" >
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        EXT4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        EXT5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="isClosed != null" >
        IS_CLOSED = #{isClosed,jdbcType=DECIMAL},
      </if>
      <if test="closeDate != null" >
        CLOSE_DATE = #{closeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RESOUCE_UID = #{resouceUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.desmart.desmart_systemmanagement.entity.SysResource" >
    update SYS_RESOURCE
    set RESOUCE_NAME = #{resouceName,jdbcType=VARCHAR},
      ORDER_INDEX = #{orderIndex,jdbcType=DECIMAL},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      RESOUCE_NO = #{resouceNo,jdbcType=VARCHAR},
      RESOUCE_DESC = #{resouceDesc,jdbcType=VARCHAR},
      RESOUCE_TYPE = #{resouceType,jdbcType=DECIMAL},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR},
      EXT4 = #{ext4,jdbcType=VARCHAR},
      EXT5 = #{ext5,jdbcType=VARCHAR},
      IS_CLOSED = #{isClosed,jdbcType=DECIMAL},
      CLOSE_DATE = #{closeDate,jdbcType=TIMESTAMP},
      BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where RESOUCE_UID = #{resouceUid,jdbcType=VARCHAR}
  </update>
</mapper>