<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmart.desmartsystem.dao.BpmGlobalConfigMapper">

	<sql id="Base_Column_List">
		CONFIG_ID, BPM_ADMIN_NAME, BPM_ADMIN_PSW, BPM_CLIENT_TIMEOUT, BPM_SERVER_HOST,
		BPMFORMS_HOST,
		BPMFORMS_WEB_CONTEXT, CONFIG_NAME, CONFIG_STATUS, CREATE_TIME, GMT_TIME_ZONE,
		HTTP_MAX_CONNECTION,
		PRE_ROUTE_MAX_CONNECTION, SCHEDULER_HOST, UPDATE_TIME, BPM_API_HOST,SFTP_PATH,SFTP_USERNAME,SFTP_PASSWORD,SFTP_IP
	</sql>

	<select id="queryActiveConfig" resultType="com.desmart.desmartsystem.entity.BpmGlobalConfig">
		select
		<include refid="Base_Column_List" />
		from BPM_GLOBAL_CONFIG
		where config_status = 'on'
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultType="com.desmart.desmartsystem.entity.BpmGlobalConfig">
		select
		<include refid="Base_Column_List" />
		from BPM_GLOBAL_CONFIG
		where CONFIG_ID = #{configId}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from BPM_GLOBAL_CONFIG
		where CONFIG_ID = #{configId}
	</delete>
	<insert id="insert" parameterType="com.desmart.desmartsystem.entity.BpmGlobalConfig">
		insert into BPM_GLOBAL_CONFIG (CONFIG_ID, BPM_ADMIN_NAME, BPM_ADMIN_PSW,
		BPM_CLIENT_TIMEOUT, BPM_SERVER_HOST, BPMFORMS_HOST,
		BPMFORMS_WEB_CONTEXT, CONFIG_NAME, CONFIG_STATUS,
		CREATE_TIME, GMT_TIME_ZONE, HTTP_MAX_CONNECTION,
		PRE_ROUTE_MAX_CONNECTION, SCHEDULER_HOST, UPDATE_TIME,
		BPM_API_HOST,SFTP_PATH,SFTP_USERNAME,SFTP_PASSWORD,SFTP_IP)
		values (#{configId}, #{bpmAdminName}, #{bpmAdminPsw},
		#{bpmClientTimeout}, #{bpmServerHost}, #{bpmformsHost},
		#{bpmformsWebContext}, #{configName}, #{configStatus},
		sysdate, #{gmtTimeZone}, #{httpMaxConnection},
		#{preRouteMaxConnection}, #{schedulerHost}, #{updateTime},
		#{bpmApiHost},#{sftpPath},#{sftpUserName},#{sftpPassword},#{sftpIp})
	</insert>
	<insert id="insertSelective" parameterType="com.desmart.desmartsystem.entity.BpmGlobalConfig">
		insert into BPM_GLOBAL_CONFIG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="configId != null">
				CONFIG_ID,
			</if>
			<if test="bpmAdminName != null">
				BPM_ADMIN_NAME,
			</if>
			<if test="bpmAdminPsw != null">
				BPM_ADMIN_PSW,
			</if>
			<if test="bpmClientTimeout != null">
				BPM_CLIENT_TIMEOUT,
			</if>
			<if test="bpmServerHost != null">
				BPM_SERVER_HOST,
			</if>
			<if test="bpmformsHost != null">
				BPMFORMS_HOST,
			</if>
			<if test="bpmformsWebContext != null">
				BPMFORMS_WEB_CONTEXT,
			</if>
			<if test="configName != null">
				CONFIG_NAME,
			</if>
			<if test="configStatus != null">
				CONFIG_STATUS,
			</if>
			
			<if test="gmtTimeZone != null">
				GMT_TIME_ZONE,
			</if>
			<if test="httpMaxConnection != null">
				HTTP_MAX_CONNECTION,
			</if>
			<if test="preRouteMaxConnection != null">
				PRE_ROUTE_MAX_CONNECTION,
			</if>
			<if test="schedulerHost != null">
				SCHEDULER_HOST,
			</if>
			<if test="bpmApiHost != null">
				BPM_API_HOST,
			</if>
			<if test="sftpPath != null">
				SFTP_PATH,
			</if>
			<if test="sftpUserName != null">
				SFTP_USERNAME,
			</if>
			<if test="sftpPassword != null">
				SFTP_PASSWORD,
			</if>
			<if test="sftpIp != null">
				SFTP_IP,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="configId != null">
				#{configId},
			</if>
			<if test="bpmAdminName != null">
				#{bpmAdminName},
			</if>
			<if test="bpmAdminPsw != null">
				#{bpmAdminPsw},
			</if>
			<if test="bpmClientTimeout != null">
				#{bpmClientTimeout},
			</if>
			<if test="bpmServerHost != null">
				#{bpmServerHost},
			</if>
			<if test="bpmformsHost != null">
				#{bpmformsHost},
			</if>
			<if test="bpmformsWebContext != null">
				#{bpmformsWebContext},
			</if>
			<if test="configName != null">
				#{configName},
			</if>
			<if test="configStatus != null">
				#{configStatus},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="gmtTimeZone != null">
				#{gmtTimeZone},
			</if>
			<if test="httpMaxConnection != null">
				#{httpMaxConnection},
			</if>
			<if test="preRouteMaxConnection != null">
				#{preRouteMaxConnection},
			</if>
			<if test="schedulerHost != null">
				#{schedulerHost},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="bpmApiHost != null">
				#{bpmApiHost},
			</if>
			<if test="sftpPath != null">
				#{sftpPath},
			</if>
			<if test="sftpUserName != null">
				#{sftpUserName},
			</if>
			<if test="sftpPassword != null">
				#{sftpPassword},
			</if>
			<if test="sftpIp != null">
				#{sftpIp},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartsystem.entity.BpmGlobalConfig">
		update BPM_GLOBAL_CONFIG
		<set>
			<if test="bpmAdminName != null">
				BPM_ADMIN_NAME = #{bpmAdminName},
			</if>
			<if test="bpmAdminPsw != null">
				BPM_ADMIN_PSW = #{bpmAdminPsw},
			</if>
			<if test="bpmClientTimeout != null">
				BPM_CLIENT_TIMEOUT = #{bpmClientTimeout},
			</if>
			<if test="bpmServerHost != null">
				BPM_SERVER_HOST = #{bpmServerHost},
			</if>
			<if test="bpmformsHost != null">
				BPMFORMS_HOST = #{bpmformsHost},
			</if>
			<if test="bpmformsWebContext != null">
				BPMFORMS_WEB_CONTEXT = #{bpmformsWebContext},
			</if>
			<if test="configName != null">
				CONFIG_NAME = #{configName},
			</if>
			<if test="configStatus != null">
				CONFIG_STATUS = #{configStatus},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="gmtTimeZone != null">
				GMT_TIME_ZONE = #{gmtTimeZone},
			</if>
			<if test="httpMaxConnection != null">
				HTTP_MAX_CONNECTION = #{httpMaxConnection},
			</if>
			<if test="preRouteMaxConnection != null">
				PRE_ROUTE_MAX_CONNECTION = #{preRouteMaxConnection},
			</if>
			<if test="schedulerHost != null">
				SCHEDULER_HOST = #{schedulerHost},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			<if test="bpmApiHost != null">
				BPM_API_HOST = #{bpmApiHost},
			</if>
			<if test="sftpPath != null">
				SFTP_PATH = #{sftpPath},
			</if>
			<if test="sftpUserName != null">
				SFTP_USERNAME = #{sftpUserName},
			</if>
			<if test="sftpPassword != null">
				SFTP_PASSWORD = #{sftpPassword},
			</if>
			<if test="sftpIp != null">
				SFTP_IP = #{sftpIp},
			</if>
		</set>
		where CONFIG_ID = #{configId}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.desmart.desmartsystem.entity.BpmGlobalConfig">
		update BPM_GLOBAL_CONFIG
		set BPM_ADMIN_NAME = #{bpmAdminName},
		BPM_ADMIN_PSW = #{bpmAdminPsw},
		BPM_CLIENT_TIMEOUT = #{bpmClientTimeout},
		BPM_SERVER_HOST = #{bpmServerHost},
		BPMFORMS_HOST = #{bpmformsHost},
		BPMFORMS_WEB_CONTEXT = #{bpmformsWebContext},
		CONFIG_NAME = #{configName},
		CONFIG_STATUS = #{configStatus},
		CREATE_TIME = #{createTime},
		GMT_TIME_ZONE = #{gmtTimeZone},
		HTTP_MAX_CONNECTION = #{httpMaxConnection},
		PRE_ROUTE_MAX_CONNECTION = #{preRouteMaxConnection},
		SCHEDULER_HOST = #{schedulerHost},
		UPDATE_TIME = #{updateTime},
		BPM_API_HOST = #{bpmApiHost},
		SFTP_PATH = #{sftpPath},
		SFTP_USERNAME = #{sftpUserName},
		SFTP_PASSWORD = #{sftpPassword},
		SFTP_IP = #{sftpIp}
		where CONFIG_ID = #{configId}
	</update>

</mapper>