<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.AccessoryFileUploadMapper" >
   <insert id="insertDhInstanceDocuments" parameterType="java.util.List">
   	INSERT INTO DH_INSTANCE_DOCUMENT 
   	(APP_DOC_UID,APP_DOC_FILENAME,APP_DOC_TITLE,APP_DOC_COMMENT
   	,DOC_VERSION,APP_UID,TASK_ID,USER_UID,APP_DOC_TYPE,APP_DOC_CREATE_DATE
   	,APP_DOC_INDEX,APP_DOC_TAGS,APP_DOC_STATUS,APP_DOC_FILEURL) 
	SELECT A.*
    FROM (
	<foreach collection="dhInstanceDocuments" item="emp" separator="UNION ALL">  
	SELECT 
	 #{emp.appDocUid} appDocUid, #{emp.appDocFileName} appDocFileName, #{emp.appDocTitle} appDocTitle
	 , #{emp.appDocComment} appDocComment, #{emp.docVersion} docVersion, #{emp.appUid} appUid
	 , #{emp.taskId} taskId, #{emp.userUid} userUid, #{emp.appDocType} appDocType  
	 , #{emp.appDocCreateDate} appDocCreateDate, #{emp.appDocIndex} appDocIndex
	 , #{emp.appDocTags} appDocTags, #{emp.appDocStatus} appDocStatus,#{emp.appDocFileUrl} appDocFileUrl
	FROM dual
	</foreach>
	)A
   </insert>
   
   <select id="checkFileActivityIdByName" parameterType="map"
    resultType="com.desmart.desmartportal.entity.DhInstanceDocument">
   select * from dh_instance_document 
   where APP_UID = #{appUid} and App_Doc_FileName = #{myFileName}
   and APP_DOC_STATUS = 0
   </select>
   
   <select id="loadFileListByCondition" 
   parameterType="com.desmart.desmartportal.entity.DhInstanceDocument"
   resultType="com.desmart.desmartportal.entity.DhInstanceDocument">
   select did.app_Doc_Uid,did.app_Doc_FileName,did.app_Doc_FileUrl,did.app_Doc_Title,
   did.app_Doc_Comment,did.doc_Version,did.app_Uid,did.task_id,did.user_uid,did.app_doc_Type
   ,did.app_doc_Create_Date,did.app_doc_index,did.app_doc_tags,did.app_doc_status
   ,su.user_name as appUserName from dh_instance_document did left join sys_user su 
   on did.APP_UID = su.USER_UID 
   where 1 = 1 
   <if test="appUid != null and appUid != '' ">
    and APP_UID = #{appUid}
   </if>
   <if test="appDocFileName != null and appDocFileName != '' ">
    and app_doc_fileName = #{appDocFileName}
   </if>
   <if test="appDocStatus!=null and appDocStatus != '' ">
    and app_doc_status = #{appDocStatus}
   </if>
   </select>
   
   <update id="updateFileByKeys" 
   parameterType="java.util.List">
    begin  
        <foreach collection="dhInstanceDocuments" item="item" index="index" separator=";" > 
            update dh_instance_document 
            <set>
            <if test="item.appDocFileName != null and item.appDocFileName != '' ">
                app_doc_filename = #{item.appDocFileName},
            </if>
            <if test="item.appDocFileUrl != null and item.appDocFileUrl != '' ">
                app_doc_fileUrl = #{item.appDocFileUrl},
            </if>
            <if test="item.appDocTitle != null and item.appDocTitle != '' ">
                app_doc_title = #{item.appDocTitle},
            </if>
            <if test="item.appDocComment != null and item.appDocComment != '' ">
                app_doc_comment = #{item.appDocComment},
            </if>
            <if test="item.docVersion != null ">
                doc_version = #{item.docVersion},
            </if>
            <if test="item.appUid != null and item.appUid != '' ">
                app_uid = #{item.appUid},
            </if>
            <if test="item.taskId != null ">
                task_id = #{item.taskId},
            </if>
            <if test="item.userUid !=null and item.userUid !=''">
                user_uid = #{item.userUid},
            </if>
            <if test="item.appDocType !=null and item.appDocType !=''">
                app_doc_type = #{item.appDocType},
            </if>
            <if test="item.appDocCreateDate !=null ">
                app_doc_create_date = #{item.appDocCreateDate},
            </if>
            <if test="item.appDocIndex !=null ">
                app_doc_index = #{item.appDocIndex},
            </if>
            <if test="item.appDocTags !=null and item.appDocTags !=''">
                app_doc_tags = #{item.appDocTags},
            </if>
            <if test="item.appDocStatus !=null and item.appDocStatus !=''">
                app_doc_status = #{item.appDocStatus},
            </if>
            
            </set>
            where APP_DOC_UID = #{item.appDocUid}
            </foreach>
          ;end;
   </update>
   
   <delete id="deleteFileByAppDocUid" 
   parameterType="com.desmart.desmartportal.entity.DhInstanceDocument">
     DELETE dh_instance_document WHERE APP_DOC_UID = #{appDocUid}
   </delete>
</mapper>