<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.BackLogMapper">

	<resultMap id="TaskInstanceMap"
		type="com.desmart.desmartportal.entity.DhTaskInstance">
		<result column="TASK_UID" property="taskUid" />
		<result column="INS_UID" property="insUid" />
		<result column="TASK_ID" property="taskId" />
		<result column="USR_UID" property="usrUid" />
		<result column="ACTIVITY_BPD_ID" property="activityBpdId" />
		<result column="TASK_TYPE" property="taskType" />
		<result column="TASK_STATUS" property="taskStatus" />
		<result column="TASK_TITLE" property="taskTitle" />
		<result column="INS_UPDATE_DATE" property="insUpdateDate" />
		<result column="TASK_PREVIOUS_USR_UID" property="taskPreviousUsrUid" />
		<result column="TASK_PREVIOUS_USR_USERNAME" property="taskPreviousUsrUsername" />
		<result column="TASK_DELEGATE_DATE" property="taskDelegateDate" />
		<result column="TASK_INIT_DATE" property="taskInitDate" />
		<result column="TASK_FINISH_DATE" property="taskFinishDate" />
		<result column="TASK_DUE_DATE" property="taskDueDate" />
		<result column="TASK_RISK_DATE" property="taskRiskDate" />
		<result column="TASK_PRIORITY" property="taskPriority" />
		<result column="TASK_DATA" property="taskData" />
		<result column="TASK_DELEGATE_USER" property="taskDelegateUser" />
		<result column="SYN_NUMBER" property="synNumber" />
		<result column="FROM_TASK_UID" property="fromTaskUid" />
		<result column="TO_TASK_UID" property="toTaskUid" />
	</resultMap>

	<resultMap id="TaskInstanceByProcessAndUserMap"
		type="com.desmart.desmartportal.entity.DhTaskInstance">
		<result column="TASK_UID" property="taskUid" />
		<result column="INS_UID" property="insUid" />
		<result column="TASK_ID" property="taskId" />
		<result column="USR_UID" property="usrUid" />
		<result column="ACTIVITY_BPD_ID" property="activityBpdId" />
		<result column="TASK_TYPE" property="taskType" />
		<result column="TASK_STATUS" property="taskStatus" />
		<result column="TASK_TITLE" property="taskTitle" />
		<result column="INS_UPDATE_DATE" property="insUpdateDate" />
		<result column="TASK_PREVIOUS_USR_UID" property="taskPreviousUsrUid" />
		<result column="TASK_PREVIOUS_USR_USERNAME" property="taskPreviousUsrUsername" />
		<result column="TASK_DELEGATE_DATE" property="taskDelegateDate" />
		<result column="TASK_INIT_DATE" property="taskInitDate" />
		<result column="TASK_FINISH_DATE" property="taskFinishDate" />
		<result column="TASK_DUE_DATE" property="taskDueDate" />
		<result column="TASK_RISK_DATE" property="taskRiskDate" />
		<result column="TASK_PRIORITY" property="taskPriority" />
		<result column="TASK_DATA" property="taskData" />
		<result column="TASK_DELEGATE_USER" property="taskDelegateUser" />
		<result column="SYN_NUMBER" property="synNumber" />
		<result column="FROM_TASK_UID" property="fromTaskUid" />
		<result column="TO_TASK_UID" property="toTaskUid" />
		<association property="dhProcessInstance"
			javaType="com.desmart.desmartportal.entity.DhProcessInstance">
			<result column="INS_UID" property="insUid" />
			<result column="INS_TITLE" property="insTitle" />
			<result column="INS_DESCRIPTION" property="insDescription" />
			<result column="INS_ID" property="insId" />
			<result column="INS_PARENT" property="insParent" />
			<result column="INS_STATUS" property="insStatus" />
			<result column="INS_STATUS_ID" property="insStatusId" />
			<result column="PRO_APP_ID" property="proAppId" />
			<result column="PRO_UID" property="proUid" />
			<result column="PRO_VER_UID" property="proVerUid" />
			<result column="INS_INIT_USER" property="insInitUser" />
			<result column="INS_CREATE_DATE" property="insCreateDate" />
			<result column="INS_INIT_DATE" property="insInitDate" />
			<result column="INS_FINISH_DATE" property="insFinishDate" />
			<result column="INS_UPDATE_DATE" property="insUpdateDate" />
			<result column="INS_DATA" property="insData" />
			<result column="INS_DURATION" property="insDuration" />
			<result column="INS_DELAY_DURATION" property="insDelayDuration" />
			<result column="INS_DRIVE_FOLDER_UID" property="insDriveFolderUid" />
			<result column="INS_ROUTING_DATA" property="insRoutingData" />
			<result column="COMPANY_NUMBER" property="companyNumber" />
		</association>
		<association property="sysUser" javaType="com.desmart.desmartsystem.entity.SysUser">
			<result column="USER_UID" property="userUid" />
			<result column="USER_NO" property="userNo" />
			<result column="USER_ID" property="userId" />
			<result column="USER_NAME" property="userName" />
			<result column="ORDER_INDEX" property="orderIndex" />
			<result column="PASSWORD" property="password" />
			<result column="DEPART_UID" property="departUid" />
			<result column="IS_MANAGER" property="isManager" />
			<result column="WORK_CALENDAR" property="workCalendar" />
			<result column="OFFICE_TEL" property="officeTel" />
			<result column="OFFICE_FAX" property="officeFax" />
			<result column="MOBILE" property="mobile" />
			<result column="EMAIL" property="email" />
			<result column="USER_IP" property="userIp" />
			<result column="IS_SINGLE_LOGIN" property="isSingleLogin" />
			<result column="WORK_STATUS" property="workStatus" />
			<result column="SESSION_TIME" property="sessionTime" />
			<result column="WECHAT" property="wechat" />
			<result column="EXT1" property="ext1" />
			<result column="EXT2" property="ext2" />
			<result column="EXT3" property="ext3" />
			<result column="EXT4" property="ext4" />
			<result column="EXT5" property="ext5" />
			<result column="REPORT_TO" property="reportTo" />
			<result column="IS_CLOSED" property="isClosed" />
			<result column="CLOSE_DATE" property="closeDate" />
			<result column="BEGIN_DATE" property="beginDate" />
			<result column="END_DATE" property="endDate" />
			<result column="CREATE_DATE" property="createDate" />
			<result column="UPDATE_DATE" property="updateDate" />
			<result column="SESSION_TIME" property="sessionTime" />
			<result column="COSTCENTER" property="costCenter" />
			<result column="COMPANYNUMBER" property="companynumber" />
			<result column="DEPARTMENTNUMBER" property="departmetNumber" />
			<result column="EMPLOYEETYPE" property="employeeType" />
			<result column="DEPART_NAME" property="departName" />
			<result column="ACCOUNT_TYPE" property="accountType" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		TASK_UID,INS_UID,TASK_ID,USR_UID,
		ACTIVITY_BPD_ID,TASK_TYPE,TASK_STATUS,TASK_TITLE,
		INS_UPDATE_DATE,TASK_PREVIOUS_USR_UID,TASK_PREVIOUS_USR_USERNAME,TASK_DELEGATE_DATE,
		TASK_INIT_DATE,TASK_FINISH_DATE,TASK_DUE_DATE,TASK_RISK_DATE,
		TASK_PRIORITY,TASK_DATA,TASK_DELEGATE_USER,SYN_NUMBER,FROM_TASK_UID,TO_TASK_UID
	</sql>
	
	<sql id="TaskAndProcess_Column_List">
		T.TASK_UID,T.INS_UID,T.TASK_ID,T.USR_UID,
		T.ACTIVITY_BPD_ID,T.TASK_TYPE,T.TASK_STATUS,T.TASK_TITLE,
		T.INS_UPDATE_DATE,T.TASK_PREVIOUS_USR_UID,T.TASK_PREVIOUS_USR_USERNAME,T.TASK_DELEGATE_DATE,
		T.TASK_INIT_DATE,T.TASK_FINISH_DATE,T.TASK_DUE_DATE,T.TASK_RISK_DATE,
		T.TASK_PRIORITY,T.TASK_DATA,T.TASK_DELEGATE_USER,T.SYN_NUMBER,T.FROM_TASK_UID,T.TO_TASK_UID,P.INS_TITLE,
		P.INS_CREATE_DATE,S.USER_NAME,S.USER_ID
	</sql>

	<select id="selectBackLogTaskInfoByCondition" 
	parameterType="map"
		resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			P.INS_INIT_USER = S.USER_ID
			AND T.TASK_STATUS IN (12,-2)
			AND T.TASK_TYPE IN ('normal','simpleLoop','multiInstanceLoop'
			 	,'add','normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			<if test="dhTaskInstance.dhProcessInstance != null ">
			<if test="dhTaskInstance.dhProcessInstance.insTitle != null 
				and dhTaskInstance.dhProcessInstance.insTitle!='' ">
				AND p.ins_title like CONCAT(CONCAT('%',#{dhTaskInstance.dhProcessInstance.insTitle}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.sysUser != null ">
			<if test="dhTaskInstance.sysUser.userName != null 
				and dhTaskInstance.sysUser.userName !='' ">
				AND S.USER_NAME like CONCAT(CONCAT('%',#{dhTaskInstance.sysUser.userName}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.taskPreviousUsrUsername != null and dhTaskInstance.taskPreviousUsrUsername != ''">
				AND T.TASK_PREVIOUS_USR_USERNAME like CONCAT(CONCAT('%',#{dhTaskInstance.taskPreviousUsrUsername}),'%')
			</if>
			<if test="startTime != null ">
				AND TASK_INIT_DATE &gt;=
				to_date(concat(to_char(#{startTime},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="endTime != null ">
				AND TASK_INIT_DATE &lt;=
				to_date(concat(to_char(#{endTime},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			AND T.USR_UID = #{dhTaskInstance.usrUid}
		</where>
		ORDER BY P.INS_CREATE_DATE DESC
	</select>
	
</mapper>