<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhAgentMapper">
	<sql id="base_agent_column_List">
		a.AGENT_ID, a.AGENT_ODATE, a.AGENT_OPERATOR,
		a.AGENT_CLIENTELE, a.AGENT_SDATE, a.AGENT_EDATE,a.AGENT_STATUS,a.AGENT_IS_ALL
	</sql>
	
	<sql id="base_agent_proinfo_column_List">
		agent_proinfo_id,agent_id,pro_app_id,pro_uid
	</sql>
	
	<sql id="insert_column_List">
		AGENT_ID, AGENT_ODATE, AGENT_OPERATOR,
		AGENT_CLIENTELE, AGENT_SDATE, AGENT_EDATE,AGENT_STATUS,AGENT_IS_ALL
	</sql>
	
	<select id="selectAgentList" resultType="com.desmart.desmartportal.entity.DhAgent" parameterType="map">
		select <include refid="base_agent_column_List"/>,u.user_name agentClienteleName
		from dh_agent_agentinfo a left join sys_user u
		on a.agent_clientele = u.user_uid
		where a.agent_operator = #{currUser}
	    <if test="person != null and !person.trim().isEmpty()">
	    	and u.user_name like '%' || #{person} || '%' 
	   	</if>
	</select>
	
	<select id="queryDhAgentProInfoByAgentId" parameterType="String" resultType="com.desmart.desmartportal.entity.DhAgentProInfo">
		select <include refid="base_agent_proinfo_column_List"/>
		from dh_agent_proinfo
		where agent_id = #{agentId}
	</select>
	
	<delete id="deleteByAgentId" parameterType="java.lang.String">
		DELETE
		FROM DH_AGENT_AGENTINFO
		<where>
			AGENT_ID = #{agentId}
		</where>
	</delete>
	
	<insert id="save" parameterType="com.desmart.desmartportal.entity.DhAgent">
		INSERT INTO DH_AGENT_AGENTINFO (<include refid="insert_column_List"/>) 
		VALUES (
			#{agentId},
			#{agentOdate},
			#{agentOperator},
			#{agentClientele},
			#{agentSdate},
			#{agentEdate},
			#{agentStatus}
		)
	</insert>
	
</mapper>