<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhAgentMapper">
	<sql id="base_agent_column_List">
		a.AGENT_ID, a.AGENT_ODATE, a.AGENT_OPERATOR,
		a.AGENT_CLIENTELE, a.AGENT_SDATE, a.AGENT_EDATE,a.AGENT_STATUS,a.AGENT_IS_ALL
	</sql>
	
	<sql id="base_agent_proinfo_column_List">
		agent_proinfo_id,agent_id,pro_app_id,pro_uid
	</sql>
	
	<sql id="insert_column_List">
		AGENT_ID, AGENT_ODATE, AGENT_OPERATOR,
		AGENT_CLIENTELE, AGENT_SDATE, AGENT_EDATE,AGENT_STATUS,AGENT_IS_ALL
	</sql>
	
	<select id="selectAgentList" resultType="com.desmart.desmartportal.entity.DhAgent" parameterType="map">
		select <include refid="base_agent_column_List"/>,u.user_name agentClienteleName
		from dh_agent_agentinfo a left join sys_user u
		on a.agent_clientele = u.user_uid
		where a.agent_operator = #{currUser}
	    <if test="person != null and !person.trim().isEmpty()">
	    	and u.user_name like '%' || #{person} || '%' 
	   	</if>
	   	order by a.agent_odate desc
	</select>
	
	<select id="queryDhAgentProInfoByAgentId" parameterType="String" resultType="com.desmart.desmartportal.entity.DhAgentProInfo">
		select <include refid="base_agent_proinfo_column_List"/>
		from dh_agent_proinfo
		where agent_id = #{agentId}
	</select>
	
	<select id="queryAgentProInfoBySelective" parameterType="map" resultType="com.desmart.desmartportal.entity.DhAgentProInfo">
		select <include refid="base_agent_proinfo_column_List"/>
		from dh_agent_proinfo
		where agent_id in (select agent_id 
	        from dh_agent_agentinfo 
	        where agent_operator = #{agentOperator} and agent_status = 'ENABLED'
	          and(#{agentSdate} >= agent_sdate
		          and #{agentSdate} &lt;= agent_edate
		          or #{agentEdate} >= agent_sdate
		          and #{agentEdate} &lt;= agent_edate)
	    )and pro_app_id = #{meta.proAppId} and pro_uid = #{meta.proUid}
	</select>
	
	<select id="queryAgentInfoByUserAndDate" parameterType="map" resultType="com.desmart.desmartportal.entity.DhAgent">
		select <include refid="insert_column_List"/>
		from dh_agent_agentinfo  
		where agent_operator = #{agentOperator} and agent_status = 'ENABLED'
	    	and(#{agentSdate} >= agent_sdate
				and #{agentSdate} &lt;= agent_edate
				or #{agentEdate} >= agent_sdate
				and #{agentEdate} &lt;= agent_edate)
	</select>
	
	<select id="queryAgentProInfoBySelectiveNotSelf" parameterType="map" resultType="com.desmart.desmartportal.entity.DhAgentProInfo">
		select <include refid="base_agent_proinfo_column_List"/>
		from dh_agent_proinfo
		where agent_id in (select agent_id 
	        from dh_agent_agentinfo 
	        where agent_operator = #{agentOperator} and agent_status = 'ENABLED'
	          and(#{agentSdate} >= agent_sdate
		          and #{agentSdate} &lt;= agent_edate
		          or #{agentEdate} >= agent_sdate
		          and #{agentEdate} &lt;= agent_edate)
		      and agent_id != #{agentId}
	    )and pro_app_id = #{meta.proAppId} and pro_uid = #{meta.proUid}
	</select>
	
	<select id="queryAgentInfoByUserAndDateNotSelf" parameterType="map" resultType="com.desmart.desmartportal.entity.DhAgent">
		select <include refid="insert_column_List"/>
		from dh_agent_agentinfo  
		where agent_operator = #{agentOperator} and agent_status = 'ENABLED'
	    	and(#{agentSdate} >= agent_sdate
				and #{agentSdate} &lt;= agent_edate
				or #{agentEdate} >= agent_sdate
				and #{agentEdate} &lt;= agent_edate)
			and agent_id != #{agentId}
	</select>
	
	<insert id="addAgentInfo" parameterType="com.desmart.desmartportal.entity.DhAgent">
		insert into dh_agent_agentinfo(<include refid="insert_column_List"/>) 
		values(#{agentId},sysdate,#{agentOperator},#{agentClientele},
			#{agentSdate},#{agentEdate},#{agentStatus},#{agentIsAll})
	</insert>
	
	<insert id="addAgentProInfo" parameterType="com.desmart.desmartportal.entity.DhAgentProInfo">
		insert into dh_agent_proinfo(<include refid="base_agent_proinfo_column_List"/>)
		values(#{agentProInfoId},#{agentId},#{proAppId},#{proUid})
	</insert>
	
	<update id="updateAgentById" parameterType="com.desmart.desmartportal.entity.DhAgent">
		update dh_agent_agentinfo 
		set agent_sdate = #{agentSdate},
			agent_edate = #{agentEdate},
			agent_clientele = #{agentClientele},
			agent_is_all = #{agentIsAll}
		where agent_id = #{agentId}
	</update>
	
	<update id="updateAgentStatus" parameterType="com.desmart.desmartportal.entity.DhAgent">
		update dh_agent_agentinfo
		set agent_status = #{agentStatus}
		where agent_id = #{agentId}
	</update>
	
	<delete id="deleteAgentProById" parameterType="String">
		delete from dh_agent_proinfo 
		where agent_id = #{agentId}
	</delete>
	
	<delete id="deleteByAgentId" parameterType="java.lang.String">
		DELETE
		FROM DH_AGENT_AGENTINFO
		<where>
			AGENT_ID = #{agentId}
		</where>
	</delete>
	
	<select id="getDelegateResult" parameterType="map" resultType="com.desmart.desmartportal.entity.DhAgent">
		select a.agent_id,a.agent_clientele
		from dh_agent_agentinfo a left join dh_agent_proinfo p
		on a.agent_id = p.agent_id
		where p.pro_app_id = #{proAppId}
		  and p.pro_uid = #{proUid}
		  and a.agent_operator = #{userUid}
		  and a.agent_sdate &lt;= sysdate
		  and a.agent_edate >= sysdate
		  and a.agent_status = 'ENABLED'
	</select>
	
	<select id="getDelegateByUserId" parameterType="string" resultType="com.desmart.desmartportal.entity.DhAgent">
		select <include refid="insert_column_List"/>
		from dh_agent_agentinfo
		where agent_operator = #{userUid}
		  and agent_sdate &lt;= sysdate
		  and agent_edate >= sysdate
		  and agent_status = 'ENABLED'
	</select>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into dh_agent_proinfo(<include refid="base_agent_proinfo_column_List"/>)
		<foreach collection="agentProInfoList" item="item" separator="union all">
			select
			#{item.agentProInfoId},
			#{item.agentId},
			#{item.proAppId},
			#{item.proUid}
			from dual
		</foreach>
	</insert>
	
	<select id="queryAgentOutByUserUid" parameterType="String" resultType="com.desmart.desmartportal.entity.DhAgent">
		select <include refid="insert_column_List"/>
		from dh_agent_info
		where (agent_operator = #{userUid} or
		agent_clientele = #{userUid})
		and agent_edate &lt;= sysdate
	</select>
</mapper>