<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhDraftsMapper">
	
	<resultMap id="DraftsMap" type="java.util.Map">
		<result column="DFS_ID" 				property="dfsId"/>
		<result column="DFS_TITLE" 				property="dfsTitle"/>
		<result column="DFS_DATA" 				property="dfsData"/>
		<result column="DFS_CREATEDATE"			property="dfsCreatedate"/>
		<result column="DFS_CREATOR" 			property="dfsCreator"/>
		<result column="INS_UID" 			property="insUid"/>
		<result column="TASK_UID" 			property="taskUid"/>
	</resultMap>
	
	<sql id="Relation_Column_List">
		d.DFS_ID, d.DFS_TITLE,d.DFS_DATA, d.DFS_CREATEDATE,
		d.DFS_CREATOR,d.INS_UID,d.TASK_UID,s.USER_NAME
	</sql>
	
	<sql id="Base_Column_List">
		DFS_ID, DFS_TITLE,DFS_DATA, DFS_CREATEDATE,
		DFS_CREATOR,INS_UID,TASK_UID
	</sql>
	
	<select id="select" resultType="com.desmart.desmartportal.entity.DhDrafts">
		SELECT 
		<include refid="Relation_Column_List"/>
		FROM
		DH_DRAFTS d 
		left join sys_user s on d.DFS_CREATOR = s.user_id
	</select>
	
	<select id="selectBydfsId" parameterType="java.lang.String" resultType="com.desmart.desmartportal.entity.DhDrafts">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_DRAFTS
		<where>
				DFS_ID = #{dfsId}	
		</where>
	</select>
	<delete id="deleteBydfsId" parameterType="java.lang.String">
		DELETE
		FROM DH_DRAFTS
		<where>
			DFS_ID = #{dfsId}
		</where>
	</delete>
	
	<select id="selectBydfsTitle" parameterType="java.lang.String" resultType="com.desmart.desmartportal.entity.DhDrafts">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_DRAFTS
		<where>
			DFS_TITLE like '%' || #{dfsTitle} || '%'
		</where>
	</select>
	
	<insert id="save" parameterType="com.desmart.desmartportal.entity.DhDrafts">
		INSERT INTO
		DH_DRAFTS
		(<include refid="Base_Column_List"/>) 
		VALUES
		(
			#{dfsId},
			#{dfsTitle},
			#{dfsData},
			sysdate,
			#{dfsCreator},
			#{insUid},
			#{taskUid}
		)
	</insert>
	
	<select id="queryDraftsByInsUid" parameterType="String" resultType="com.desmart.desmartportal.entity.DhDrafts">
		select <include refid="Base_Column_List"/>
		from dh_drafts
		where ins_uid = #{insUid}
	</select>
	
	<delete id="deleteByInsUid" parameterType="string">
	   delete from dh_drafts where ins_uid = #{insUid}
	</delete>

    <delete id="deleteByTaskUid" parameterType="string">
		delete from dh_drafts where task_uid = #{taskUid}
	</delete>

    <update id="updateByInsUid" parameterType="com.desmart.desmartportal.entity.DhDrafts">
		update dh_drafts 
		<set>
		<trim suffixOverrides=",">
			<if test="taskUid != null and taskUid != '' ">
			TASK_UID = #{taskUid},
			</if>
			<if test="dfsTitle != null and dfsTitle != '' ">
			DFS_TITLE = #{dfsTitle},
			</if>
			<if test="dfsData != null and dfsData != '' ">
			DFS_DATA = #{dfsData},
			</if>
			</trim>
		</set>
		where INS_UID = #{insUid}
	</update>
	
	<select id="queryDraftsByTaskUid" parameterType="String" resultType="com.desmart.desmartportal.entity.DhDrafts">
		select <include refid="Base_Column_List"/>
		from dh_drafts
		where task_uid = #{taskUid}
	</select>
	
	<select id="selectByCondition" resultType="com.desmart.desmartportal.entity.DhDrafts"
		parameterType="com.desmart.desmartportal.entity.DhDrafts">
		SELECT 
		<include refid="Relation_Column_List"/>,meta.pro_name proName
		FROM
		DH_DRAFTS d 
		left join sys_user s on d.DFS_CREATOR = s.user_id
		left join dh_process_instance ins on d.ins_uid = ins.ins_uid
		left join dh_process_meta meta
		on ins.pro_App_Id = meta.pro_App_Id and ins.pro_Uid = meta.pro_Uid
		where 1 = 1
		<if test="dfsCreator != null and dfsCreator != ''">
			and d.DFS_CREATOR =	#{dfsCreator}
		</if>
	</select>
</mapper>