<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhFormNoCounterMapper" >
  <resultMap id="BaseResultMap" type="com.desmart.desmartportal.entity.DhFormNoCounter" >
    <id column="FORM_NO_EXPERSION" property="formNoExpersion" jdbcType="VARCHAR" />
    <result column="CURRENT_NO" property="currentNo" jdbcType="INTEGER" />
    <result column="IS_DAILY" property="isDaily" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    FORM_NO_EXPERSION, CURRENT_NO, IS_DAILY, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DH_FORM_NO_COUNTER
    where FORM_NO_EXPERSION = #{formNoExpersion,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DH_FORM_NO_COUNTER
    where FORM_NO_EXPERSION = #{formNoExpersion,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.desmart.desmartportal.entity.DhFormNoCounter" >
    insert into DH_FORM_NO_COUNTER (FORM_NO_EXPERSION, CURRENT_NO, IS_DAILY, 
      CREATE_TIME, UPDATE_TIME)
    values (#{formNoExpersion,jdbcType=VARCHAR}, #{currentNo,jdbcType=INTEGER}, #{isDaily,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.desmart.desmartportal.entity.DhFormNoCounter" >
    insert into DH_FORM_NO_COUNTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formNoExpersion != null" >
        FORM_NO_EXPERSION,
      </if>
      <if test="currentNo != null" >
        CURRENT_NO,
      </if>
      <if test="isDaily != null" >
        IS_DAILY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formNoExpersion != null" >
        #{formNoExpersion,jdbcType=VARCHAR},
      </if>
      <if test="currentNo != null" >
        #{currentNo,jdbcType=INTEGER},
      </if>
      <if test="isDaily != null" >
        #{isDaily,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartportal.entity.DhFormNoCounter" >
    update DH_FORM_NO_COUNTER
    <set >
      <if test="currentNo != null" >
        CURRENT_NO = #{currentNo,jdbcType=INTEGER},
      </if>
      <if test="isDaily != null" >
        IS_DAILY = #{isDaily,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FORM_NO_EXPERSION = #{formNoExpersion,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.desmart.desmartportal.entity.DhFormNoCounter" >
    update DH_FORM_NO_COUNTER
    set CURRENT_NO = #{currentNo,jdbcType=INTEGER},
      IS_DAILY = #{isDaily,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where FORM_NO_EXPERSION = #{formNoExpersion,jdbcType=VARCHAR}
  </update>
</mapper>