<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhProcessInstanceMapper">
	
	<resultMap id="ProcessInstanceMap" type="java.util.Map">
		<result column="INS_UID" 						property="insUid"/>
		<result column="INS_TITLE" 						property="insTitle"/>
		<result column="INS_DESCRIPTION" 				property="insDescription"/>
		<result column="INS_ID" 						property="insId"/>
		<result column="INS_PARENT" 					property="insParent"/>
		<result column="INS_STATUS" 					property="insStatus"/>
		<result column="INS_STATUS_ID" 					property="insStatusId"/>
		<result column="PRO_APP_ID" 					property="proAppId"/>
		<result column="PRO_UID" 						property="proUid"/>
		<result column="PRO_VER_UID" 					property="proVerUid"/>
		<result column="INS_INIT_USER" 					property="insInitUser"/>
		<result column="INS_CREATE_DATE" 				property="insCreateDate"/>
		<result column="INS_INIT_DATE" 					property="insInitDate"/>
		<result column="INS_FINISH_DATE" 				property="insFinishDate"/>
		<result column="INS_UPDATE_DATE" 				property="insUpdateDate"/>
		<result column="INS_DATA" 						property="insData"/>
		<result column="INS_DURATION" 					property="insDuration"/>
		<result column="INS_DELAY_DURATION" 			property="insDelayDuration"/>
		<result column="INS_DRIVE_FOLDER_UID" 			property="insDriveFolderUid"/>
		<result column="INS_ROUTING_DATA" 				property="insRoutingData"/>
		<result column="COMPANY_NUMBER" 				property="companyNumber"/>
		<result column="DEPART_NO" 				        property="departNo"/>
		<result column="TOKEN_ID" 				        property="tokenId"/>
		<result column="TOKEN_ACTIVITY_ID" 				property="tokenActivityId"/>
		<result column="INS_BUSINESS_KEY" 				property="insBusinessKey"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		INS_UID,INS_TITLE,INS_DESCRIPTION,INS_ID,
		INS_PARENT,INS_STATUS,INS_STATUS_ID,PRO_APP_ID,
		PRO_UID,PRO_VER_UID,INS_INIT_USER,INS_CREATE_DATE,
		INS_INIT_DATE,INS_FINISH_DATE,INS_UPDATE_DATE,INS_DATA,
		INS_DURATION,INS_DELAY_DURATION,INS_DRIVE_FOLDER_UID,INS_ROUTING_DATA, COMPANY_NUMBER, DEPART_NO,
		TOKEN_ID, TOKEN_ACTIVITY_ID,INS_BUSINESS_KEY
	</sql>
	
    <sql id="realationColumnList">
        ins.INS_UID,ins.INS_TITLE,ins.INS_DESCRIPTION,ins.INS_ID,
        ins.INS_PARENT,ins.INS_STATUS,ins.INS_STATUS_ID,ins.PRO_APP_ID,
        ins.PRO_UID,ins.PRO_VER_UID,ins.INS_INIT_USER,ins.INS_CREATE_DATE,
        ins.INS_INIT_DATE,ins.INS_FINISH_DATE,ins.INS_UPDATE_DATE,ins.INS_DATA,
        ins.INS_DURATION,ins.INS_DELAY_DURATION,ins.INS_DRIVE_FOLDER_UID,ins.INS_ROUTING_DATA, ins.COMPANY_NUMBER,
        ins.DEPART_NO, ins.TOKEN_ID, ins.TOKEN_ACTIVITY_ID,ins.INS_BUSINESS_KEY
    </sql>
	
	<select id="queryBySelective" parameterType="com.desmart.desmartportal.entity.DhProcessInstance" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
		SELECT <include refid="realationColumnList"/>, meta.pro_Name, sd.depart_name, sc.company_name, su.user_name initUserFullname
		FROM dh_process_instance ins
		left join dh_process_meta meta
		on ins.pro_App_Id = meta.pro_App_Id and ins.pro_Uid = meta.pro_Uid
		left join sys_department sd
		on ins.depart_no   = sd.depart_uid
		left join sys_company sc
		on ins.company_number = sc.company_code
		left join sys_user su
		on ins.ins_Init_User = su.user_uid
		<where>
			<if test="insUid != null and insUid != ''">
				ins.INS_UID = #{insUid}
			</if>
			<if test="insTitle != null and insTitle != ''">
				AND ins.INS_TITLE = #{insTitle}
			</if>
			<if test="insDescription != null and insDescription != ''">
				AND ins.INS_DESCRIPTION = #{insDescription}
			</if>
			<if test="insId != null">
				AND ins.INS_ID = #{insId}
			</if>
			<if test="insParent != null and insParent != ''">
				AND ins.INS_PARENT = #{insParent}
			</if>
			<if test="insStatus != null">
				AND ins.INS_STATUS = #{insStatus}
			</if>
			<if test="insStatusId != null">
				AND ins.INS_STATUS_ID = #{insStatusId}
			</if>
			<if test="proAppId != null and proAppId != ''">
				AND ins.PRO_APP_ID = #{proAppId}
			</if>
			<if test="proUid != null and proUid != ''">
				AND ins.PRO_UID = #{proUid}
			</if>
			<if test="proVerUid != null and proVerUid != ''">
				AND ins.PRO_VER_UID = #{proVerUid}
			</if>
			<if test="insInitUser != null and insInitUser != ''">
				AND ins.INS_INIT_USER = #{insInitUser}
			</if>
			<if test="insCreateDate != null ">
				AND ins.INS_CREATE_DATE = #{insCreateDate}
			</if>
			<if test="insInitDate != null ">
				AND ins.INS_INIT_DATE = #{insInitDate}
			</if>
			<if test="insFinishDate != null">
				AND ins.INS_FINISH_DATE = #{insFinishDate}
			</if>
			<if test="insUpdateDate != null">
				AND ins.INS_UPDATE_DATE = #{insUpdateDate}
			</if>
			<if test="insData != null and insData != ''">
				AND ins.INS_DATA = #{insData}
			</if>
			<if test="insDuration != null">
				AND ins.INS_DURATION = #{insDuration}
			</if>
			<if test="insDelayDuration != null">
				AND ins.INS_DELAY_DURATION = #{insDelayDuration}
			</if>
			<if test="insDriveFolderUid != null and insDriveFolderUid != ''">
				AND ins.INS_DRIVE_FOLDER_UID = #{insDriveFolderUid}
			</if>
			<if test="insRoutingData != null and insRoutingData != ''">
				AND ins.INS_ROUTING_DATA = #{insRoutingData}
			</if>
			<if test="companyNumber != null and companyNumber != ''">
				AND ins.COMPANY_NUMBER = #{companyNumber}
			</if>
			<if test="departNo != null and departNo != ''">
				AND ins.DEPART_NO = #{departNo}
			</if>
			<if test="tokenId != null">
				AND ins.TOKEN_ID = #{tokenId}
			</if>
			<if test="tokenActivityId != null">
				AND ins.TOKEN_ACTIVITY_ID = #{tokenActivityId}
			</if>
		</where>
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
       SELECT <include refid="realationColumnList"/>, meta.pro_Name, sd.depart_name, sc.company_name, su.user_name initUserFullname
       FROM dh_process_instance ins
       left join dh_process_meta meta
         on ins.pro_App_Id = meta.pro_App_Id and ins.pro_Uid = meta.pro_Uid
       left join sys_department sd 
         on ins.depart_no   = sd.depart_uid
       left join sys_company sc 
         on ins.company_number = sc.company_code
       left join sys_user su 
         on ins.ins_Init_User = su.user_uid
       where ins.ins_uid = #{insUid}
	</select>


	<update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartportal.entity.DhProcessInstance">
		UPDATE DH_PROCESS_INSTANCE
		<set>
			<if test="insTitle != null and insTitle != ''">
				INS_TITLE = #{insTitle},
			</if>
			<if test="insDescription != null and insDescription != ''">
				INS_DESCRIPTION = #{insDescription},
			</if>
			<if test="insId != null and insId != ''">
				INS_ID = #{insId},
			</if>
			<if test="insParent != null and insParent != ''">
				INS_PARENT = #{insParent},
			</if>
			<if test="insStatus != null and insStatus != ''">
				INS_STATUS = #{insStatus},
			</if>
			<if test="insStatusId != null and insStatusId != ''">
				INS_STATUS_ID = #{insStatusId},
			</if>
			<if test="proAppId != null and proAppId != ''">
				PRO_APP_ID = #{proAppId},
			</if>
			<if test="proUid != null and proUid != ''">
				PRO_UID = #{proUid},
			</if>
			<if test="proVerUid != null and proVerUid != ''">
				PRO_VER_UID = #{proVerUid},
			</if>
			<if test="insInitUser != null and insInitUser != ''">
				INS_INIT_USER = #{insInitUser},
			</if>
			<if test="insCreateDate != null">
				INS_CREATE_DATE = #{insCreateDate},
			</if>
			<if test="insInitDate != null">
				INS_INIT_DATE = #{insInitDate},
			</if>
			<if test="insFinishDate != null">
				INS_FINISH_DATE = #{insFinishDate},
			</if>
			<if test="insUpdateDate != null">
				INS_UPDATE_DATE = #{insUpdateDate},
			</if>
			<if test="insData != null and insData != ''">
				INS_DATA = #{insData},
			</if>
			<if test="insDuration != null and insDuration != ''">
				INS_DURATION = #{insDuration},
			</if>
			<if test="insDelayDuration != null and insDelayDuration != ''">
				INS_DELAY_DURATION = #{insDelayDuration},
			</if>
			<if test="insDriveFolderUid != null and insDriveFolderUid != ''">
				INS_DRIVE_FOLDER_UID = #{insDriveFolderUid},
			</if>
			<if test="insRoutingData != null and insRoutingData != ''">
				INS_ROUTING_DATA = #{insRoutingData},
			</if>
			<if test="companyNumber != null and companyNumber != ''">
				COMPANY_NUMBER = #{companyNumber},
			</if>
			<if test="departNo != null and departNo != ''">
				DEPART_NO = #{departNo},
			</if>
			<if test="tokenId != null and tokenId != ''">
				TOKEN_ID = #{tokenId},
			</if>
			<if test="tokenActivityId != null and tokenActivityId != ''">
				TOKEN_ACTIVITY_ID = #{tokenActivityId},
			</if>
			<if test="insBusinessKey != null and insBusinessKey != '' ">
				INS_BUSINESS_KEY = #{insBusinessKey}
			</if>
		</set>
			<where>
				INS_UID = #{insUid}
			</where>
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE 
		FROM 
		DH_PROCESS_INSTANCE
		<where>
			INS_UID = #{insUid}
		</where>
	</delete>
	
	<insert id="insertProcess" parameterType="com.desmart.desmartportal.entity.DhProcessInstance">
		INSERT INTO
		DH_PROCESS_INSTANCE
		(<include refid="Base_Column_List"/>)
		VALUES
		(
			#{insUid},
			#{insTitle},
			#{insDescription},
			#{insId},
			#{insParent},
			#{insStatus},
			#{insStatusId},
			#{proAppId},
			#{proUid},
			#{proVerUid},
			#{insInitUser},
			sysdate,
			sysdate,
			#{insFinishDate},
			sysdate,
			#{insData},
			#{insDuration},
			#{insDelayDuration},
			#{insDriveFolderUid},
			#{insRoutingData},
			#{companyNumber},
			#{departNo},
			#{tokenId},
			#{tokenActivityId},
			#{insBusinessKey}
		)
	</insert>
	
    <select id="queryByInsId" parameterType="int" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
       SELECT <include refid="realationColumnList"/>, meta.pro_Name, sd.depart_name, sc.company_name
       FROM dh_process_instance ins
       left join dh_process_meta meta
         on ins.pro_App_Id = meta.pro_App_Id and ins.pro_Uid = meta.pro_Uid
       left join sys_department sd 
         on ins.depart_no   = sd.depart_uid
       left join sys_company sc 
         on ins.company_number = sc.company_code
       where ins.ins_id = #{insId}
    </select>
    
    <select id="queryByStausOrTitle" parameterType="java.util.Map" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
    	SELECT
		<include refid="Base_Column_List"/>
		FROM
		DH_PROCESS_INSTANCE
		<where>
			<if test="insUid != null and insUid != ''">
				INS_UID = #{insUid}
			</if>
			<if test="insTitle != null and insTitle != ''">
				AND INS_TITLE like '%' || #{insTitle} || '%'
			</if>
			<if test="insStatusId != null and insStatusId != ''">
				AND INS_STATUS_ID = #{insStatusId}
			</if>
		</where> 
    </select>

    <select id="getMainProcessByInsId" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
		SELECT <include refid="realationColumnList"/>, meta.pro_Name, sd.depart_name, sc.company_name
		FROM dh_process_instance ins
		left join dh_process_meta meta
		on ins.pro_App_Id = meta.pro_App_Id and ins.pro_Uid = meta.pro_Uid
		left join sys_department sd
		on ins.depart_no   = sd.depart_uid
		left join sys_company sc
		on ins.company_number = sc.company_code
		where ins.ins_id = #{insId} and ins.ins_Parent='0'
	</select>

	<select id="getByInsIdAndTokenActivityId" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
		SELECT <include refid="realationColumnList"/>, meta.pro_Name, sd.depart_name, sc.company_name
		FROM dh_process_instance ins
		left join dh_process_meta meta
		on ins.pro_App_Id = meta.pro_App_Id and ins.pro_Uid = meta.pro_Uid
		left join sys_department sd
		on ins.depart_no   = sd.depart_uid
		left join sys_company sc
		on ins.company_number = sc.company_code
		where ins.ins_id = #{insId} and ins.token_activity_id = #{tokenActivityId}
	</select>

	<update id="updateBySelective" parameterType="com.desmart.desmartportal.entity.DhProcessInstance">
		update DH_PROCESS_INSTANCE
		<set>
			INS_STATUS = '-1'
		</set>
		<where>
			PRO_UID = #{proUid}
			and PRO_APP_ID = #{proAppId}
		</where>
	</update>
	
	<select id="queryInsDataByUser" resultType="com.desmart.desmartportal.entity.DhProcessInstance">
		SELECT <include refid="realationColumnList" />,t.relation_users
		FROM DH_PROCESS_INSTANCE ins,(SELECT ins_uid,listagg(usr_uid,';') within GROUP(ORDER BY ins_uid) ||';'|| 
			listagg(task_delegate_user,';') within GROUP(ORDER BY ins_uid) relation_users
			FROM dh_task_instance WHERE task_status != '-1' GROUP BY ins_uid) t
		<where>
			ins.INS_UID = t.INS_UID
			<if test="insCreateDate != null">
			AND ins.INS_UPDATE_DATE &gt;= #{startTime}
			AND ins.INS_UPDATE_DATE &lt;= #{endTime}
			</if>
		</where>
	</select>
	
	<select id="getProcesssInstanceListByCondition" 
    		resultType="com.desmart.desmartportal.entity.DhProcessInstance"
    		parameterType="com.desmart.desmartportal.entity.DhProcessInstance">
    	select ins.INS_UID,ins.ins_id,ins.INS_TITLE,ins.INS_STATUS_ID,meta.pro_name,su.user_name as initUserFullname, 
        (select listagg(task_title,';') within group (order by task_uid) from dh_task_instance 
        where ins_uid = ins.ins_uid and (task_status = '12' or task_status = '-2' )) as taskTitle,
        (select listagg(su.user_name,';') within group (order by task_uid) from dh_task_instance taskInfo left join sys_user su on taskInfo.usr_uid = su.user_uid 
        where ins_uid = ins.ins_uid and (task_status = '12' or task_status = '-2' ))as handleUserName
    	from DH_PROCESS_INSTANCE ins left join SYS_USER su on ins.INS_INIT_USER = su.user_uid ,DH_PROCESS_META meta
    	where ins.pro_uid = meta.pro_uid and ins.pro_app_id = meta.pro_app_id
    	and ins.ins_status_id != -2
    	<if test="insTitle != null and insTitle != '' ">
    		and ins.ins_title like concat(concat('%',#{insTitle}), '%') 
    	</if>
    	<if test="initUserFullname != null and initUserFullname != '' ">
    		and su.user_name like concat(concat('%',#{initUserFullname}), '%') 
    	</if>
    	
    </select>
    <update id="updateProcessInstanceByInsId" parameterType="com.desmart.desmartportal.entity.DhProcessInstance">
   
            UPDATE DH_PROCESS_INSTANCE 
            <set>
            <if test="insStatus !=null and insStatus !=''">
                INS_STATUS = #{insStatus},
            </if>

            <if test="insStatusId !=null ">
                INS_STATUS_ID = #{insStatusId},
            </if>
            <if test="insUpdateDate !=null ">
            	ins_update_date = #{insUpdateDate},
            </if>

            </set>
            where ins_id = #{insId}
        
    </update>
</mapper>