<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhRoutingRecordMapper" >
 
 <sql id="Base_Column_List">
 	ROUTE_UID,INS_UID,ACTIVITY_NAME,
 	ROUTE_TYPE,USER_UID,CREATE_TIME,
 	ACTIVITY_ID,ACTIVITY_TO
 </sql>
 <sql id="relationColumnList">
    rr.ROUTE_UID, rr.INS_UID, rr.ACTIVITY_NAME,
    rr.ROUTE_TYPE, rr.USER_UID, rr.CREATE_TIME,
    rr.ACTIVITY_ID, rr.ACTIVITY_TO
 </sql>
 
 
 <select id="getDhRoutingRecordListByCondition" resultType="com.desmart.desmartportal.entity.DhRoutingRecord"
  parameterType="com.desmart.desmartportal.entity.DhRoutingRecord">
  SELECT drr.*,su.user_name as userName,su.station as station 
  FROM DH_ROUTING_RECORD drr left join sys_user su on drr.user_uid = su.user_uid
  where 1 = 1 
  <if test="insUid != null and insUid != '' ">
  and drr.ins_uid = #{insUid}
  </if>
  order by drr.create_time asc
  </select>
  
  <insert id="insert" parameterType="com.desmart.desmartportal.entity.DhRoutingRecord">
  	INSERT INTO
  	DH_ROUTING_RECORD
  	(<include refid="Base_Column_List"/>)
  	VALUES
  	(
  		#{routeUid},
  		#{insUid},
  		#{activityName},
  		#{routeType},
  		#{userUid},
  		sysdate,
  		#{activityId},
  		#{activityTo}
  	)
  </insert>
 
 
 <select id="listPreRoutingRecord" parameterType="map" resultType="com.desmart.desmartportal.entity.DhRoutingRecord">
    select <include refid="relationColumnList"/> 
    from DH_ROUTING_RECORD rr
    where 
        rr.activity_to like '%${currActivityId}%'
        and rr.route_type != 'addTask'
        and rr.ins_uid = #{insUid}
    order by rr.create_time desc
 </select>
 
</mapper>