<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhTaskInstanceMapper">

	<resultMap id="TaskInstanceMap"
		type="com.desmart.desmartportal.entity.DhTaskInstance">
		<result column="TASK_UID" property="taskUid" />
		<result column="INS_UID" property="insUid" />
		<result column="TASK_ID" property="taskId" />
		<result column="USR_UID" property="usrUid" />
		<result column="ACTIVITY_BPD_ID" property="activityBpdId" />
		<result column="TASK_TYPE" property="taskType" />
		<result column="TASK_STATUS" property="taskStatus" />
		<result column="TASK_TITLE" property="taskTitle" />
		<result column="INS_UPDATE_DATE" property="insUpdateDate" />
		<result column="TASK_PREVIOUS_USR_UID" property="taskPreviousUsrUid" />
		<result column="TASK_PREVIOUS_USR_USERNAME" property="taskPreviousUsrUsername" />
		<result column="TASK_DELEGATE_DATE" property="taskDelegateDate" />
		<result column="TASK_INIT_DATE" property="taskInitDate" />
		<result column="TASK_FINISH_DATE" property="taskFinishDate" />
		<result column="TASK_DUE_DATE" property="taskDueDate" />
		<result column="TASK_RISK_DATE" property="taskRiskDate" />
		<result column="TASK_PRIORITY" property="taskPriority" />
		<result column="TASK_DATA" property="taskData" />
		<result column="TASK_DELEGATE_USER" property="taskDelegateUser" />
		<result column="SYN_NUMBER" property="synNumber" />
		<result column="FROM_TASK_UID" property="fromTaskUid" />
		<result column="TO_TASK_UID" property="toTaskUid" />
		<result column="REMAIN_HOURS" property="remainHours" />
		<result column="TASK_ACTIVITY_ID" property="taskActivityId" />
	</resultMap>

	<resultMap id="TaskInstanceByProcessAndUserMap"
		type="com.desmart.desmartportal.entity.DhTaskInstance">
		<result column="TASK_UID" property="taskUid" />
		<result column="INS_UID" property="insUid" />
		<result column="TASK_ID" property="taskId" />
		<result column="USR_UID" property="usrUid" />
		<result column="ACTIVITY_BPD_ID" property="activityBpdId" />
		<result column="TASK_TYPE" property="taskType" />
		<result column="TASK_STATUS" property="taskStatus" />
		<result column="TASK_TITLE" property="taskTitle" />
		<result column="INS_UPDATE_DATE" property="insUpdateDate" />
		<result column="TASK_PREVIOUS_USR_UID" property="taskPreviousUsrUid" />
		<result column="TASK_PREVIOUS_USR_USERNAME" property="taskPreviousUsrUsername" />
		<result column="TASK_DELEGATE_DATE" property="taskDelegateDate" />
		<result column="TASK_INIT_DATE" property="taskInitDate" />
		<result column="TASK_FINISH_DATE" property="taskFinishDate" />
		<result column="TASK_DUE_DATE" property="taskDueDate" />
		<result column="TASK_RISK_DATE" property="taskRiskDate" />
		<result column="TASK_PRIORITY" property="taskPriority" />
		<result column="TASK_DATA" property="taskData" />
		<result column="TASK_DELEGATE_USER" property="taskDelegateUser" />
		<result column="SYN_NUMBER" property="synNumber" />
		<result column="FROM_TASK_UID" property="fromTaskUid" />
		<result column="TO_TASK_UID" property="toTaskUid" />
		<result column="REMAIN_HOURS" property="remainHours" />
		<result column="TASK_ACTIVITY_ID" property="taskActivityId" />
		<association property="dhProcessInstance"
			javaType="com.desmart.desmartportal.entity.DhProcessInstance">
			<result column="INS_UID" property="insUid" />
			<result column="INS_TITLE" property="insTitle" />
			<result column="INS_DESCRIPTION" property="insDescription" />
			<result column="INS_ID" property="insId" />
			<result column="INS_PARENT" property="insParent" />
			<result column="INS_STATUS" property="insStatus" />
			<result column="INS_STATUS_ID" property="insStatusId" />
			<result column="PRO_APP_ID" property="proAppId" />
			<result column="PRO_UID" property="proUid" />
			<result column="PRO_VER_UID" property="proVerUid" />
			<result column="INS_INIT_USER" property="insInitUser" />
			<result column="INS_CREATE_DATE" property="insCreateDate" />
			<result column="INS_INIT_DATE" property="insInitDate" />
			<result column="INS_FINISH_DATE" property="insFinishDate" />
			<result column="INS_UPDATE_DATE" property="insUpdateDate" />
			<result column="INS_DATA" property="insData" />
			<result column="INS_DURATION" property="insDuration" />
			<result column="INS_DELAY_DURATION" property="insDelayDuration" />
			<result column="INS_DRIVE_FOLDER_UID" property="insDriveFolderUid" />
			<result column="INS_ROUTING_DATA" property="insRoutingData" />
			<result column="COMPANY_NUMBER" property="companyNumber" />
		</association>
		<association property="sysUser" javaType="com.desmart.desmartsystem.entity.SysUser">
			<result column="USER_UID" property="userUid" />
			<result column="USER_NO" property="userNo" />
			<result column="USER_ID" property="userId" />
			<result column="USER_NAME" property="userName" />
			<result column="ORDER_INDEX" property="orderIndex" />
			<result column="PASSWORD" property="password" />
			<result column="DEPART_UID" property="departUid" />
			<result column="IS_MANAGER" property="isManager" />
			<result column="WORK_CALENDAR" property="workCalendar" />
			<result column="OFFICE_TEL" property="officeTel" />
			<result column="OFFICE_FAX" property="officeFax" />
			<result column="MOBILE" property="mobile" />
			<result column="EMAIL" property="email" />
			<result column="USER_IP" property="userIp" />
			<result column="IS_SINGLE_LOGIN" property="isSingleLogin" />
			<result column="WORK_STATUS" property="workStatus" />
			<result column="SESSION_TIME" property="sessionTime" />
			<result column="WECHAT" property="wechat" />
			<result column="EXT1" property="ext1" />
			<result column="EXT2" property="ext2" />
			<result column="EXT3" property="ext3" />
			<result column="EXT4" property="ext4" />
			<result column="EXT5" property="ext5" />
			<result column="REPORT_TO" property="reportTo" />
			<result column="IS_CLOSED" property="isClosed" />
			<result column="CLOSE_DATE" property="closeDate" />
			<result column="BEGIN_DATE" property="beginDate" />
			<result column="END_DATE" property="endDate" />
			<result column="CREATE_DATE" property="createDate" />
			<result column="UPDATE_DATE" property="updateDate" />
			<result column="SESSION_TIME" property="sessionTime" />
			<result column="COSTCENTER" property="costCenter" />
			<result column="COMPANYNUMBER" property="companynumber" />
			<result column="DEPARTMENTNUMBER" property="departmetNumber" />
			<result column="EMPLOYEETYPE" property="employeeType" />
			<result column="DEPART_NAME" property="departName" />
			<result column="ACCOUNT_TYPE" property="accountType" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		TASK_UID,INS_UID,TASK_ID,USR_UID,
		ACTIVITY_BPD_ID,TASK_TYPE,TASK_STATUS,TASK_TITLE,
		INS_UPDATE_DATE,TASK_PREVIOUS_USR_UID,TASK_PREVIOUS_USR_USERNAME,TASK_DELEGATE_DATE,
		TASK_INIT_DATE,TASK_FINISH_DATE,TASK_DUE_DATE,TASK_RISK_DATE,
		TASK_PRIORITY,TASK_DATA,TASK_DELEGATE_USER,SYN_NUMBER,FROM_TASK_UID,TO_TASK_UID,REMAIN_HOURS,
		TASK_ACTIVITY_ID
	</sql>
	
	<sql id="TaskAndProcess_Column_List">
		T.TASK_UID,T.INS_UID,T.TASK_ID,T.USR_UID,
		T.ACTIVITY_BPD_ID,T.TASK_TYPE,T.TASK_STATUS,T.TASK_TITLE,
		T.INS_UPDATE_DATE,T.TASK_PREVIOUS_USR_UID,T.TASK_PREVIOUS_USR_USERNAME,T.TASK_DELEGATE_DATE,
		T.TASK_INIT_DATE,T.TASK_FINISH_DATE,T.TASK_DUE_DATE,T.TASK_RISK_DATE,
		T.TASK_PRIORITY,T.TASK_DATA,T.TASK_DELEGATE_USER,T.SYN_NUMBER,T.FROM_TASK_UID,T.TO_TASK_UID,T.REMAIN_HOURS,
		T.TASK_ACTIVITY_ID,
		P.INS_TITLE,P.INS_CREATE_DATE,P.INS_ID,P.INS_STATUS,S.USER_NAME,S.USER_ID
	</sql>
	
	<select id="selectAllTask" parameterType="com.desmart.desmartportal.entity.DhTaskInstance" resultMap="TaskInstanceByProcessAndUserMap">
		SELECT 
		<include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			P.INS_INIT_USER = S.USER_ID
			<if test="taskUid != null and taskUid != ''">
				AND T.TASK_UID = #{taskUid}
			</if>
			<if test="insUid != null and insUid != ''">
				AND T.INS_UID = #{insUid}
			</if>
			<if test="taskId != null and taskId != ''">
				AND T.TASK_ID = #{taskId}
			</if>
			<if test="usrUid != null and usrUid != ''">
				AND T.USR_UID = #{usrUid}
			</if>
			<if test="activityBpdId != null and activityBpdId != ''">
				AND T.ACTIVITY_BPD_ID = #{activityBpdId}
			</if>
			<if test="taskType != null and taskType != ''">
				AND T.TASK_TYPE = #{taskType}
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				AND T.TASK_STATUS = #{taskStatus}
			</if>
			<if test="taskTitle != null and taskTitle != ''">
				AND T.TASK_TITLE like '%' || #{taskTitle} || '%'
			</if>
			<if test="insUpdateDate != null ">
				AND T.INS_UPDATE_DATE = #{insUpdateDate}
			</if>
			<if test="taskPreviousUsrUid != null and taskPreviousUsrUid != ''">
				AND T.TASK_PREVIOUS_USR_UID = #{taskPreviousUsrUid}
			</if>
			<if
				test="taskPreviousUsrUsername != null and taskPreviousUsrUsername != ''">
				AND T.TASK_PREVIOUS_USR_USERNAME = #{taskPreviousUsrUsername}
			</if>
			<if test="taskDelegateDate != null ">
				AND T.TASK_DELEGATE_DATE = #{taskDelegateDate}
			</if>
			<if test="taskInitDate != null ">
				AND T.TASK_INIT_DATE &gt;=
				to_date(concat(to_char(#{taskInitDate},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
				AND T.TASK_INIT_DATE &lt;=
				to_date(concat(to_char(#{taskInitDate},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="taskFinishDate != null ">
				AND T.TASK_FINISH_DATE = #{taskFinishDate}
			</if>
			<if test="taskDueDate != null ">
				AND T.TASK_DUE_DATE &gt;=
				to_date(concat(to_char(#{taskDueDate},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
				AND T.TASK_DUE_DATE &lt;=
				to_date(concat(to_char(#{taskDueDate},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="taskRiskDate != null ">
				AND T.TASK_RISK_DATE = #{taskRiskDate}
			</if>
			<if test="taskPriority != null and taskPriority != ''">
				AND T.TASK_PRIORITY = #{taskPriority}
			</if>
			<if test="taskData != null and taskData != ''">
				AND T.TASK_DATA = #{taskData}
			</if>
			<if test="taskDelegateUser != null and taskDelegateUser != ''">
				AND T.TASK_DELEGATE_USER = #{taskDelegateUser}
			</if>
			<if test="synNumber != null">
				AND T.SYN_NUMBER = #{synNumber}
			</if>
			<if test="taskActivityId != null">
				AND T.TASK_ACTIVITY_ID = #{taskActivityId}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		DH_TASK_INSTANCE
		<where>
			TASK_UID = #{taskUid}
		</where>
	</select>

	<!-- 用户查询代办 -->
	<select id="selectByusrUid" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S 
		<where>
		T.INS_UID = P.INS_UID 
			AND P.INS_INIT_USER = S.USER_ID
			AND T.TASK_STATUS IN ('12','-2')
			AND T.TASK_TYPE IN ('normal','simpleLoop','multiInstanceLoop'
			 	,'add','normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			 	AND (T.USR_UID = #{usrUid}
			or T.TASK_DELEGATE_USER = #{usrUid} )
		</where>
	</select>

	<!-- 用户查询代办 -->
	<select id="selectByusrUidFinsh" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid} AND TASK_STATUS = '32'
		</where>
	</select>

	<update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartportal.entity.DhTaskInstance">
		UPDATE
		DH_TASK_INSTANCE
		<set>
			<if test="insUid != null and insUid != ''">
				INS_UID = #{insUid},
			</if>
			<if test="taskId != null and taskId != ''">
				TASK_ID = #{taskId},
			</if>
			<if test="usrUid != null and usrUid != ''">
				USR_UID = #{usrUid},
			</if>
			<if test="activityBpdId != null and activityBpdId != ''">
				ACTIVITY_BPD_ID = #{activityBpdId},
			</if>
			<if test="taskType != null and taskType != ''">
				TASK_TYPE = #{taskType},
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				TASK_STATUS = #{taskStatus},
			</if>
			<if test="taskTitle != null and taskTitle != ''">
				TASK_TITLE = #{taskTitle},
			</if>
			<if test="insUpdateDate != null">
				INS_UPDATE_DATE = #{insUpdateDate},
			</if>
			<if test="taskPreviousUsrUid != null and taskPreviousUsrUid != ''">
				TASK_PREVIOUS_USR_UID = #{taskPreviousUsrUid},
			</if>
			<if
				test="taskPreviousUsrUsername != null and taskPreviousUsrUsername != ''">
				TASK_PREVIOUS_USR_USERNAME = #{taskPreviousUsrUsername},
			</if>
			<if test="taskDelegateDate != null">
				TASK_DELEGATE_DATE = #{taskDelegateDate},
			</if>
			<if test="taskInitDate != null">
				TASK_INIT_DATE = #{taskInitDate},
			</if>
			<if test="taskFinishDate != null">
				TASK_FINISH_DATE = #{taskFinishDate},
			</if>
			<if test="taskDueDate != null">
				TASK_DUE_DATE = #{taskDueDate},
			</if>
			<if test="taskRiskDate != null">
				TASK_RISK_DATE = #{taskRiskDate},
			</if>
			<if test="taskPriority != null and taskPriority != ''">
				TASK_PRIORITY = #{taskPriority},
			</if>
			<if test="taskData != null and taskData != ''">
				TASK_DATA = #{taskData},
			</if>
			<if test="taskDelegateUser != null and taskDelegateUser != ''">
				TASK_DELEGATE_USER = #{taskDelegateUser},
			</if>
			<if test="synNumber != null">
				SYN_NUMBER = #{synNumber},
			</if>
			<if test="fromTaskUid != null and fromTaskUid != ''">
				FROM_TASK_UID = #{fromTaskUid},
			</if>
			<if test="toTaskUid != null and toTaskUid != ''">
				TO_TASK_UID = #{toTaskUid},
			</if>
			<if test="remainHours != null and remainHours != ''">
				REMAIN_HOURS = #{remainHours},
			</if>
			<if test="taskActivityId != null">
				TASK_ACTIVITY_ID = #{taskActivityId}
			</if>
		</set>
		<where>
			TASK_UID = #{taskUid}
		</where>
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE
		FROM
		DH_TASK_INSTANCE
		<where>
			TASK_UID = #{taskUid}
		</where>
	</delete>

	<insert id="insertTask" parameterType="com.desmart.desmartportal.entity.DhTaskInstance">
		INSERT INTO
		DH_TASK_INSTANCE
		(
		<include refid="Base_Column_List" />
		)
		VALUES
		(
		#{taskUid},
		#{insUid},
		#{taskId},
		#{usrUid},
		#{activityBpdId},
		#{taskType},
		#{taskStatus},
		#{taskTitle},
		#{insUpdateDate},
		#{taskPreviousUsrUid},
		#{taskPreviousUsrUsername},
		#{taskDelegateDate},
		#{taskInitDate},
		#{taskFinishDate},
		#{taskDueDate},
		#{taskRiskDate},
		#{taskPriority},
		#{taskData},
		#{taskDelegateUser},
		#{synNumber},
		#{fromTaskUid},
		#{toTaskUid},
		#{remainHours},
		#{taskActivityId}
		)
	</insert>

	<select id="getMaxTaskId" resultType="int">
		select nvl(max(task_id), 0)
		from dh_task_instance
	</select>

    <select id="getMaxSynNumber" resultType="int">
       select nvl(max(SYN_NUMBER), 0) from dh_task_instance
    </select>

	<insert id="insertBatch" parameterType="list">
		insert into dh_task_instance (
		<include refid="Base_Column_List" />
		)
		<foreach collection="list" item="item" index="index" close=")"
			open="(" separator="union all">
			select
			#{item.taskUid},
			#{item.insUid},
			#{item.taskId},
			#{item.usrUid},
			#{item.activityBpdId},
			#{item.taskType},
			#{item.taskStatus},
			#{item.taskTitle},
			#{item.insUpdateDate},
			#{item.taskPreviousUsrUid},
			#{item.taskPreviousUsrUsername},
			#{item.taskDelegateDate},
			#{item.taskInitDate},
			#{item.taskFinishDate},
			#{item.taskDueDate},
			#{item.taskRiskDate},
			#{item.taskPriority},
			#{item.taskData},
			#{item.taskDelegateUser},
			#{item.synNumber},
			#{item.fromTaskUid},
			#{item.toTaskUid},
			#{item.remainHours},
			#{item.taskActivityId}
			from dual
		</foreach>
	</insert>

	<select id="countByTaskId" parameterType="int" resultType="int">
		select count(1) from dh_task_instance
		where task_id = #{taskId}
	</select>

	<select id="selectByInsUidAndTaskTypeCondition" parameterType="java.lang.String" 
		resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			T.USR_UID = S.USER_ID
			AND
			T.INS_UID = #{insUid}
		</where>
	</select>
	
	<select id="selectByTaskIdAndUser" parameterType="com.desmart.desmartportal.entity.DhTaskInstance" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_TASK_INSTANCE
		<where>
			TASK_ID = #{taskId}
			and
			USR_UID = #{usrUid}
		</where>
	</select>

	<update id="abandonTaskByInsUidList" parameterType="list">
		update DH_TASK_INSTANCE
		<set>
			TASK_STATUS = '-1'
		</set>
		<where>
			INS_UID in
			<foreach collection="list" item="item" open="(" separator=","
				close=")">
				#{item}
			</foreach>
		</where>
	</update>

	<select id="selectTaskAndProcessInfo" parameterType="com.desmart.desmartportal.entity.DhTaskInstance"
		resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			P.INS_INIT_USER = S.USER_ID
			<if test="taskUid != null and taskUid != ''">
				AND T.TASK_UID = #{taskUid}
			</if>
			<if test="insUid != null and insUid != ''">
				AND T.INS_UID = #{insUid}
			</if>
			<if test="taskId != null and taskId != ''">
				AND T.TASK_ID = #{taskId}
			</if>
			<if test="usrUid != null and usrUid != ''">
				AND T.USR_UID = #{usrUid}
			</if>
			<if test="activityBpdId != null and activityBpdId != ''">
				AND T.ACTIVITY_BPD_ID = #{activityBpdId}
			</if>
			<if test="taskType != null and taskType != ''">
				AND T.TASK_TYPE = #{taskType}
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				AND T.TASK_STATUS = #{taskStatus}
			</if>
			<if test="taskTitle != null and taskTitle != ''">
				AND T.TASK_TITLE like '%' || #{taskTitle} || '%'
			</if>
			<if test="insUpdateDate != null ">
				AND T.INS_UPDATE_DATE = #{insUpdateDate}
			</if>
			<if test="taskPreviousUsrUid != null and taskPreviousUsrUid != ''">
				AND T.TASK_PREVIOUS_USR_UID = #{taskPreviousUsrUid}
			</if>
			<if
				test="taskPreviousUsrUsername != null and taskPreviousUsrUsername != ''">
				AND T.TASK_PREVIOUS_USR_USERNAME = #{taskPreviousUsrUsername}
			</if>
			<if test="taskDelegateDate != null ">
				AND T.TASK_DELEGATE_DATE = #{taskDelegateDate}
			</if>
			<if test="taskInitDate != null ">
				AND TASK_INIT_DATE &gt;=
				to_date(concat(to_char(#{taskInitDate},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
				AND TASK_INIT_DATE &lt;=
				to_date(concat(to_char(#{taskInitDate},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="taskFinishDate != null ">
				AND TASK_FINISH_DATE = #{taskFinishDate}
			</if>
			<if test="taskDueDate != null ">
				AND TASK_DUE_DATE &gt;=
				to_date(concat(to_char(#{taskDueDate},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
				AND TASK_DUE_DATE &lt;=
				to_date(concat(to_char(#{taskDueDate},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="taskRiskDate != null ">
				AND TASK_RISK_DATE = #{taskRiskDate}
			</if>
			<if test="taskPriority != null and taskPriority != ''">
				AND TASK_PRIORITY = #{taskPriority}
			</if>
			<if test="taskData != null and taskData != ''">
				AND TASK_DATA = #{taskData}
			</if>
			<if test="taskDelegateUser != null and taskDelegateUser != ''">
				AND TASK_DELEGATE_USER = #{taskDelegateUser}
			</if>
			<if test="synNumber != null and synNumber != ''">
				AND SYN_NUMBER = #{synNumber}
			</if>
		</where>
		ORDER BY P.INS_CREATE_DATE DESC
	</select>
	
	<update id="updateSynNumberByTaskId" parameterType="map">
	   update dh_task_instance 
	   set syn_number = #{synNumber}
	   where task_id = #{taskId}
	</update>
	
	<update id="abandonOtherUnfinishedTaskByTaskId" parameterType="map">
	   update dh_task_instance 
	   set task_status = '-1'
	   where task_id = #{taskId} AND TASK_UID != #{taskUid} and task_status != '32'
	</update>
	
	<update id="updateTaskStatusByTaskUid" parameterType="map">
	   update dh_task_instance 
	   <set>
	   <trim suffixOverrides=",">
	   <if test="taskStatus != null and taskStatus != '' ">
	    task_Status = #{taskStatus}
	   </if>
	   <if test="taskFinishDate != null ">
	    task_Finish_Date = #{taskFinishDate}
	   </if>
	   <if test="taskData != null and taskData != '' ">
	    task_Data = #{taskData}
	   </if>
	   </trim>
	   </set>
	   where TASK_UID = #{taskUid}
	</update>

	<update id="abandonOtherUnfinishedTasksOnTaskActivityId" parameterType="map">
		update
			DH_TASK_INSTANCE
		set
			task_status = '-1'
		where
			task_activity_id = #{taskActivityId}
			and ins_uid = #{insUid}
			and task_status != '32'
			and task_uid != #{taskUid}
	</update>

	<select id="listTaskByCondition" parameterType="map" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
	   select <include refid="Base_Column_List"/>
	   from dh_task_instance
	   where 
	       ACTIVITY_BPD_ID = #{activityBpdId} 
	       and (USR_UID = #{userUid} or TASK_DELEGATE_USER = #{userUid})
	       and (TASK_TYPE = 'normal' or TASK_TYPE = 'simpleLoop' or TASK_TYPE = 'MultiInstanceLoop')
	       and ins_uid = #{insUid} 
	</select>
	
	<select id="getByFromTaskUid" parameterType="string" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT <include refid="Base_Column_List" />
		FROM DH_TASK_INSTANCE
		<where>
			FROM_TASK_UID = #{fromTaskUid}
			AND TASK_TYPE IN ('normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			AND TASK_STATUS NOT IN ('32','-1')
		</where>
	</select>
	
	<select id="getByToTaskUid" parameterType="string" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT <include refid="Base_Column_List" />
		FROM DH_TASK_INSTANCE
		<where>
			TO_TASK_UID = #{toTaskUid}
			AND TASK_TYPE IN ('normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			AND TASK_STATUS NOT IN ('32','-1')
		</where>
	</select>
	
	<select id="getByUserAndFromTaskUid" parameterType="com.desmart.desmartportal.entity.DhTaskInstance" 
			resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT <include refid="Base_Column_List" />
		FROM DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid}
			AND TASK_TYPE IN ('normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			AND FROM_TASK_UID = #{fromTaskUid}
			AND TASK_STATUS = '32'
		</where>
	</select>
	
	<select id="selectByCondition" parameterType="com.desmart.desmartportal.entity.DhTaskInstance"
		resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			T.USR_UID = S.USER_ID
			<if test="insUid != null and insUid != '' ">
			AND
			T.INS_UID = #{insUid}
			</if>
			<if test="activityBpdId != null and activityBpdId != ''">
			T.ACTIVITY_BPD_ID = #{activityBpdId}
			</if>
		</where>
	</select>
	
	<select id="selectBackLogTaskInfoByCondition" 
	parameterType="map"
		resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			P.INS_INIT_USER = S.USER_ID
			AND T.TASK_STATUS IN ('12','-2')
			AND T.TASK_TYPE IN ('normal','simpleLoop','MultiInstanceLoop'
			 	,'add','normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			<if test="dhTaskInstance.dhProcessInstance != null ">
			<if test="dhTaskInstance.dhProcessInstance.insTitle != null 
				and dhTaskInstance.dhProcessInstance.insTitle!='' ">
				AND p.ins_title like CONCAT(CONCAT('%',#{dhTaskInstance.dhProcessInstance.insTitle}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.sysUser != null ">
			<if test="dhTaskInstance.sysUser.userName != null 
				and dhTaskInstance.sysUser.userName !='' ">
				AND S.USER_NAME like CONCAT(CONCAT('%',#{dhTaskInstance.sysUser.userName}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.taskPreviousUsrUsername != null and dhTaskInstance.taskPreviousUsrUsername != ''">
				AND T.TASK_PREVIOUS_USR_USERNAME like CONCAT(CONCAT('%',#{dhTaskInstance.taskPreviousUsrUsername}),'%')
			</if>
			<if test="startTime != null ">
				AND TASK_INIT_DATE &gt;=
				to_date(concat(to_char(#{startTime},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="endTime != null ">
				AND TASK_INIT_DATE &lt;=
				to_date(concat(to_char(#{endTime},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			AND (T.USR_UID = #{dhTaskInstance.usrUid} 
			or T.TASK_DELEGATE_USER = #{dhTaskInstance.usrUid})
		</where>
		ORDER BY P.INS_CREATE_DATE DESC
	</select>
	<!-- 用户查询待办 -->
	<select id="selectBackLogByusrUid" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid} AND TASK_STATUS IN ('12','-2')
			AND TASK_TYPE IN ('normal','simpleLoop','MultiInstanceLoop'
			 	,'add','normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
		</where>
	</select>
	
	<select id="selectPageTaskByClosedByCondition" 
	parameterType="map"
		resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND P.INS_INIT_USER = S.USER_ID
			AND T.TASK_TYPE IN ('normal','simpleLoop','MultiInstanceLoop'
			 	,'add','normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
			<if test="dhTaskInstance.insUid != null and dhTaskInstance.insUid != ''">
				AND T.INS_UID = #{dhTaskInstance.insUid}
			</if>
			<if test="dhTaskInstance.taskStatus != null and dhTaskInstance.taskStatus !='' ">
				AND T.TASK_STATUS IN (${dhTaskInstance.taskStatus})
			</if>
			<if test="dhTaskInstance.dhProcessInstance != null ">
			<if test="dhTaskInstance.dhProcessInstance.insTitle != null 
				and dhTaskInstance.dhProcessInstance.insTitle !='' ">
				AND p.ins_title like CONCAT(CONCAT('%',#{dhTaskInstance.dhProcessInstance.insTitle}),'%')
			</if>
			
			<if test="dhTaskInstance.dhProcessInstance.insInitUser != null 
				and dhTaskInstance.dhProcessInstance.insInitUser !='' ">
				AND p.INS_INIT_USER = #{dhTaskInstance.dhProcessInstance.insInitUser}
			</if>
			<if test="dhTaskInstance.dhProcessInstance.proUid != null 
				and dhTaskInstance.dhProcessInstance.proUid !=''">
				AND p.pro_Uid = #{dhTaskInstance.dhProcessInstance.proUid}
			</if>
			<if test="dhTaskInstance.dhProcessInstance.proVerUid != null 
				and dhTaskInstance.dhProcessInstance.proVerUid !=''">
				AND p.pro_Ver_Uid = #{dhTaskInstance.dhProcessInstance.proVerUid}
			</if>	
			<if test="dhTaskInstance.dhProcessInstance.proAppId != null 
				and dhTaskInstance.dhProcessInstance.proAppId !=''">
				AND p.pro_App_Id = #{dhTaskInstance.dhProcessInstance.proAppId}
			</if>
			<if test="dhTaskInstance.dhProcessInstance.insStatusId != null ">
				AND p.ins_status_id = #{dhTaskInstance.dhProcessInstance.insStatusId}
			</if>
			</if>
			<if test="dhTaskInstance.sysUser != null ">
			<if test="dhTaskInstance.sysUser.userName != null 
				and dhTaskInstance.sysUser.userName !='' ">
				AND S.USER_NAME like CONCAT(CONCAT('%',#{dhTaskInstance.sysUser.userName}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.taskPreviousUsrUsername != null and dhTaskInstance.taskPreviousUsrUsername != ''">
				AND T.TASK_PREVIOUS_USR_USERNAME like CONCAT(CONCAT('%',#{dhTaskInstance.taskPreviousUsrUsername}),'%')
			</if>
			<if test="startTime != null ">
				AND TASK_FINISH_DATE &gt;=
				to_date(concat(to_char(#{startTime},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="endTime != null ">
				AND TASK_FINISH_DATE &lt;=
				to_date(concat(to_char(#{endTime},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			AND (T.USR_UID = #{dhTaskInstance.usrUid} 
			or T.TASK_DELEGATE_USER = #{dhTaskInstance.usrUid})
		</where>
		ORDER BY P.INS_CREATE_DATE DESC
	</select>
	<!-- 用户查询已办 -->
	<select id="alreadyClosedTaskByusrUid" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid} AND TASK_STATUS = '32'
			AND TASK_TYPE IN ('normal','simpleLoop','MultiInstanceLoop'
			 	,'add','normalAdd','simpleLoopAdd','multiInstanceLoopAdd')
		</where>
	</select>
	
	<!-- 查询抄送任务 （未读/已读）-->
	<select id="queryTransferByTypeAndStatus" parameterType="map"
			resultMap="TaskInstanceByProcessAndUserMap">
		SELECT <include refid="TaskAndProcess_Column_List"/>
		FROM
		DH_TASK_INSTANCE T, DH_PROCESS_INSTANCE P, SYS_USER S
		<where>
			T.INS_UID = P.INS_UID 
			AND
			P.INS_INIT_USER = S.USER_ID
			AND T.TASK_STATUS = #{dhTaskInstance.taskStatus}
			AND T.TASK_TYPE = 'transfer'
			<if test="dhTaskInstance.dhProcessInstance != null ">
			<if test="dhTaskInstance.dhProcessInstance.insTitle != null 
				and dhTaskInstance.dhProcessInstance.insTitle!='' ">
				AND p.ins_title like CONCAT(CONCAT('%',#{dhTaskInstance.dhProcessInstance.insTitle}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.sysUser != null ">
			<if test="dhTaskInstance.sysUser.userName != null 
				and dhTaskInstance.sysUser.userName !='' ">
				AND S.USER_NAME like CONCAT(CONCAT('%',#{dhTaskInstance.sysUser.userName}),'%')
			</if>
			</if>
			<if test="dhTaskInstance.taskPreviousUsrUsername != null and dhTaskInstance.taskPreviousUsrUsername != ''">
				AND T.TASK_PREVIOUS_USR_USERNAME like CONCAT(CONCAT('%',#{dhTaskInstance.taskPreviousUsrUsername}),'%')
			</if>
			<if test="startTime != null ">
				AND TASK_INIT_DATE &gt;=
				to_date(concat(to_char(#{startTime},'yyyy-mm-dd'),'
				00:00:00'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="endTime != null ">
				AND TASK_INIT_DATE &lt;=
				to_date(concat(to_char(#{endTime},'yyyy-mm-dd'),'
				23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			AND (T.USR_UID = #{dhTaskInstance.usrUid} 
			or T.TASK_DELEGATE_USER = #{dhTaskInstance.usrUid})
		</where>
		ORDER BY P.INS_CREATE_DATE DESC
	</select>
	<!-- 查询抄送任务数量（未读/已读） -->
	<select id="queryTransferNumberByusrUid" parameterType="com.desmart.desmartportal.entity.DhTaskInstance"
		resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid}
			AND TASK_STATUS = #{taskStatus}
			AND TASK_TYPE = 'transfer'
		</where>
	</select>
	
	<select id="getBytaskTypeAndUsrUid" parameterType="com.desmart.desmartportal.entity.DhTaskInstance" 
			resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT <include refid="Base_Column_List" />
		FROM DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid}
			AND TASK_TYPE = #{taskType}
			AND FROM_TASK_UID = #{fromTaskUid}
		</where>
	</select>
	
	<select id="getDhTaskInstancesByBatch" resultType="com.desmart.desmartportal.entity.DhTaskInstance"
			parameterType="java.util.List">
		SELECT <include refid="Base_Column_List" />
		FROM DH_TASK_INSTANCE
		<where>
  		<foreach collection="itemList" index="index" item="item" open="(" separator="or" close=")">     
  			ins_uid=#{item.insUid}
   		</foreach>
  		</where>
	</select>
	<update id="updateTaskStatusByBatch" parameterType="map">
		begin  
        <foreach collection="itemList" item="item" index="index" separator=";" > 
            update DH_TASK_INSTANCE 
            <set>
            <if test="dhTaskInstance.taskStatus !=null and dhTaskInstance.taskStatus !=''">
                task_status = #{dhTaskInstance.taskStatus},
            </if>
            <if test="dhTaskInstance.insUpdateDate != null ">
            	INS_UPDATE_DATE = #{dhTaskInstance.insUpdateDate},
            </if>
		    </set>
            where task_uid = #{item.taskUid}
            </foreach>
        ;end;
	</update>
	<update id="updateTaskByBatch" parameterType="java.util.List">
		begin  
        <foreach collection="itemList" item="item" index="index" separator=";" > 
            update DH_TASK_INSTANCE 
            <set>
            <if test="item.taskStatus !=null and item.taskStatus !=''">
                task_status = #{item.taskStatus},
            </if>
            <if test="item.insUpdateDate != null ">
            	INS_UPDATE_DATE = #{item.insUpdateDate},
            </if>
		    </set>
            where task_uid = #{item.taskUid}
            </foreach>
        ;end;
	</update>
</mapper>