<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.DhTaskInstanceMapper">
	<resultMap id="TaskInstanceMap" type="java.util.Map">
		<result column="TASK_UID" 							property="taskUid"/>
		<result column="INS_UID" 							property="insUid"/>
		<result column="TASK_ID" 							property="taskId"/>
		<result column="USR_UID" 							property="usrUid"/>
		<result column="ACTIVITY_BPD_ID" 					property="activityBpdId"/>
		<result column="TASK_TYPE" 							property="taskType"/>
		<result column="TASK_STATUS" 						property="taskStatus"/>
		<result column="TASK_TITLE" 						property="taskTitle"/>
		<result column="INS_UPDATE_DATE"					property="insUpdateDate"/>
		<result column="TASK_PREVIOUS_USR_UID" 				property="taskPreviousUsrUid"/>
		<result column="TASK_PREVIOUS_USR_USERNAME" 		property="taskPreviousUsrUsername"/>
		<result column="TASK_DELEGATE_DATE" 				property="taskDelegateDate"/>
		<result column="TASK_INIT_DATE" 					property="taskInitDate"/>
		<result column="TASK_FINISH_DATE" 					property="taskFinishDate"/>
		<result column="TASK_DUE_DATE" 						property="taskDueDate"/>
		<result column="TASK_RISK_DATE" 					property="taskRiskDate"/>
		<result column="TASK_PRIORITY" 						property="taskPriority"/>
		<result column="TASK_DATA" 							property="taskData"/>
		<result column="TASK_DELEGATE_USER" 				property="taskDelegateUser"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		TASK_UID,INS_UID,TASK_ID,USR_UID,
		ACTIVITY_BPD_ID,TASK_TYPE,TASK_STATUS,TASK_TITLE,
		INS_UPDATE_DATE,TASK_PREVIOUS_USR_UID,TASK_PREVIOUS_USR_USERNAME,TASK_DELEGATE_DATE,
		TASK_INIT_DATE,TASK_FINISH_DATE,TASK_DUE_DATE,TASK_RISK_DATE,
		TASK_PRIORITY,TASK_DATA,TASK_DELEGATE_USER
	</sql>
	
	
	<select id="selectAllTask" parameterType="com.desmart.desmartportal.entity.DhTaskInstance" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_TASK_INSTANCE
		<where>
			<if test="taskUid != null and taskUid != ''">
				TASK_UID = #{taskUid}
			</if>
			<if test="insUid != null and insUid != ''">
				AND INS_UID = #{insUid}
			</if>
			<if test="taskId != null and taskId != ''">
				AND TASK_ID = #{taskId}
			</if>
			<if test="usrUid != null and usrUid != ''">
				AND USR_UID = #{usrUid}
			</if>
			<if test="activityBpdId != null and activityBpdId != ''">
				AND ACTIVITY_BPD_ID = #{activityBpdId}
			</if>
			<if test="taskType != null and taskType != ''">
				AND TASK_TYPE = #{taskType}
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				AND TASK_STATUS = #{taskStatus}
			</if>
			<if test="taskTitle != null and taskTitle != ''">
				AND TASK_TITLE like '%' || #{taskTitle} || '%' 
			</if>
			<if test="insUpdateDate != null ">
				AND INS_UPDATE_DATE = #{insUpdateDate}
			</if>
			<if test="taskPreviousUsrUid != null and taskPreviousUsrUid != ''">
				AND TASK_PREVIOUS_USR_UID = #{taskPreviousUsrUid}
			</if>
			<if test="taskPreviousUsrUsername != null and taskPreviousUsrUsername != ''">
				AND TASK_PREVIOUS_USR_USERNAME = #{taskPreviousUsrUsername}
			</if>
			<if test="taskDelegateDate != null ">
				AND TASK_DELEGATE_DATE = #{taskDelegateDate}
			</if>
			<if test="taskInitDate != null ">
				AND TASK_INIT_DATE  &gt;= to_date(concat(to_char(#{taskInitDate},'yyyy-mm-dd'),' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
				AND TASK_INIT_DATE  &lt;= to_date(concat(to_char(#{taskInitDate},'yyyy-mm-dd'),' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="taskFinishDate != null ">
				AND TASK_FINISH_DATE = #{taskFinishDate}
			</if>
			<if test="taskDueDate != null ">
				AND TASK_DUE_DATE  &gt;= to_date(concat(to_char(#{taskDueDate},'yyyy-mm-dd'),' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
				AND TASK_DUE_DATE  &lt;= to_date(concat(to_char(#{taskDueDate},'yyyy-mm-dd'),' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="taskRiskDate != null ">
				AND TASK_RISK_DATE = #{taskRiskDate}
			</if>
			<if test="taskPriority != null and taskPriority != ''">
				AND TASK_PRIORITY = #{taskPriority}
			</if>
			<if test="taskData != null and taskData != ''">
				AND TASK_DATA = #{taskData}
			</if>
			<if test="taskDelegateUser != null and taskDelegateUser != ''">
				AND TASK_DELEGATE_USER = #{taskDelegateUser}
			</if>
		</where>
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_TASK_INSTANCE
		<where>
			TASK_UID = #{taskUid}
		</where>
	</select>
	
	<!-- 用户查询代办 -->
	<select id="selectByusrUid" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM
		DH_TASK_INSTANCE
		<where>
			USR_UID = #{usrUid} AND TASK_STATUS = '12'
		</where> 
	</select>
	
	<update id="updateByPrimaryKey" parameterType="java.lang.String">
		UPDATE 
		DH_TASK_INSTANCE
		<set>	
			<if test="insUid != null and insUid != ''">
				INS_UID = #{insUid},
			</if>
			<if test="taskId != null and taskId != ''">
				TASK_ID = #{taskId},
			</if>
			<if test="usrUid != null and usrUid != ''">
				USR_UID = #{taskId},
			</if>
			<if test="activityBpdId != null and activityBpdId != ''">
				ACTIVITY_BPD_ID = #{activityBpdId},
			</if>
			<if test="taskType != null and taskType != ''">
				TASK_TYPE = #{taskType},
			</if>
			<if test="taskStatus != null and taskStatus != ''">
				TASK_STATUS = #{taskStatus},
			</if>
			<if test="taskTitle != null and taskTitle != ''">
				TASK_TITLE = #{taskTitle},
			</if>
			<if test="insUpdateDate != null and insUpdateDate != ''">
				INS_UPDATE_DATE = #{insUpdateDate},
			</if>
			<if test="taskPreviousUsrUid != null and taskPreviousUsrUid != ''">
				TASK_PREVIOUS_USR_UID = #{taskPreviousUsrUid},
			</if>
			<if test="taskPreviousUsrUsername != null and taskPreviousUsrUsername != ''">
				TASK_PREVIOUS_USR_USERNAME = #{taskPreviousUsrUsername},
			</if>
			<if test="taskDelegateDate != null and taskDelegateDate != ''">
				TASK_DELEGATE_DATE = #{taskDelegateDate},
			</if>
			<if test="taskInitDate != null and taskInitDate != ''">
				TASK_INIT_DATE = #{taskInitDate},
			</if>
			<if test="taskFinishDate != null and taskFinishDate != ''">
				TASK_FINISH_DATE = #{taskFinishDate},
			</if>
			<if test="taskDueDate != null and taskDueDate != ''">
				TASK_DUE_DATE = #{taskDueDate},
			</if>
			<if test="taskRiskDate != null and taskRiskDate != ''">
				TASK_RISK_DATE = #{taskRiskDate},
			</if>
			<if test="taskPriority != null and taskPriority != ''">
				TASK_PRIORITY = #{taskPriority},
			</if>
			<if test="taskData != null and taskData != ''">
				TASK_DATA = #{taskData},
			</if>	
			<if test="taskDelegateUser != null and taskDelegateUser != ''">
				TASK_DELEGATE_USER = #{taskDelegateUser}
			</if>	
			<where>
				TASK_UID = #{taskUid}
			</where>
		</set>
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE 
		FROM
		DH_TASK_INSTANCE
		<where>
			TASK_UID = #{taskUid}
		</where>
	</delete>
	
	<insert id="insertTask" parameterType="com.desmart.desmartportal.entity.DhTaskInstance">
		INSERT INTO
		DH_TASK_INSTANCE
		(<include refid="Base_Column_List"/>)
		VALUES
		(
			#{taskUid},
			#{insUid},
			#{taskId},
			#{usrUid},
			#{activityBpdId},
			#{taskType},
			#{taskStatus},
			#{taskTitle},
			#{insUpdateDate},
			#{taskPreviousUsrUid},
			#{taskPreviousUsrUsername},
			#{taskDelegateDate},
			sysdate,
			#{taskFinishDate},
			#{taskDueDate},
			#{taskRiskDate},
			#{taskPriority},
			#{taskData},
			#{taskDelegateUser}
		)
	</insert>
	
	<select id="getMaxTaskId" resultType="int">
       select nvl(max(task_id), 0) from dh_task_instance
    </select>
    
    <insert id="insertBatch"  parameterType="list">
        insert into dh_task_instance (<include refid="Base_Column_List"/>)
        <foreach collection="list" item="item" index="index"  close=")" open="(" separator="union">
            select
            #{item.taskUid},
            #{item.insUid},
            #{item.taskId},
            #{item.usrUid},
            #{item.activityBpdId},
            #{item.taskType},
            #{item.taskStatus},
            #{item.taskTitle},
            #{item.insUpdateDate},
            #{item.taskPreviousUsrUid},
            #{item.taskPreviousUsrUsername},
            #{item.taskDelegateDate},
            sysdate,
            #{item.taskFinishDate},
            #{item.taskDueDate},
            #{item.taskRiskDate},
            #{item.taskPriority},
            #{item.taskData},
            #{item.taskDelegateUser}
            from dual
        </foreach>
    </insert>
    
    <select id="countByTaskId" parameterType="int" resultType="int">
        select count(1) from dh_task_instance
        where task_id = #{taskId}
    </select>
    
    <select id="selectByInsUidAndTaskTypeCondition" parameterType="java.lang.String" resultType="com.desmart.desmartportal.entity.DhTaskInstance">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM
		DH_TASK_INSTANCE
		<where>
			INS_UID = #{insUid}
			and ( TASK_TYPE='sign' or TASK_TYPE='normal' or TASK_TYPE='transfer')
		</where>
	</select>
</mapper>