<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartportal.dao.SysHolidayMapper" >

	<select id="queryHoliday" parameterType="com.desmart.desmartportal.entity.SysHoliday"
			resultType="com.desmart.desmartportal.entity.SysHoliday">
	SELECT * FROM SYS_HOLIDAY		
	<where>
		<if test="holiday != null">
			HOLIDAY = #{holiday}
		</if>
	</where>	
	</select>
	
</mapper>