<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmActivityMetaMapper">
	<sql id="Base_Column_List">
		ACTIVITY_ID, ACTIVITY_BPD_ID, ACTIVITY_GROUP_NAME, ACTIVITY_NAME, ACTIVITY_TO, ACTIVITY_TYPE, BPD_ID,
		BPM_TASK_TYPE, CREATE_TIME, CREATOR, DEEP_LEVEL, EXTERNAL_ID, HANDLE_SIGN_TYPE, LOOP_TYPE, MI_ORDER,
		NOTE_TYPE, PARENT_ACTIVITY_BPD_ID, PO_ID, SNAPSHOT_ID, SNAPSHOT_UID, STEP_ID, TYPE, UPDATE_BY, UPDATE_TIME,
		ACTIVITY_ALT_NAME, PRO_APP_ID, SORT_NUM, PARENT_ACTIVITY_ID, SOURCE_ACTIVITY_ID
	</sql>
	<sql id="relationColumn">
	    am.ACTIVITY_ID, am.ACTIVITY_BPD_ID, am.ACTIVITY_GROUP_NAME, am.ACTIVITY_NAME, am.ACTIVITY_TO, am.ACTIVITY_TYPE, am.BPD_ID,
	    am.BPM_TASK_TYPE, am.CREATE_TIME, am.CREATOR, am.DEEP_LEVEL, am.EXTERNAL_ID, am.HANDLE_SIGN_TYPE, am.LOOP_TYPE, am.MI_ORDER,
	    am.NOTE_TYPE, am.PARENT_ACTIVITY_BPD_ID, am.PO_ID, am.SNAPSHOT_ID, am.SNAPSHOT_UID, am.STEP_ID, am.TYPE, am.UPDATE_BY, am.UPDATE_TIME,
	    am.ACTIVITY_ALT_NAME, am.PRO_APP_ID, am.SORT_NUM, am.PARENT_ACTIVITY_ID, am.SOURCE_ACTIVITY_ID,
	    ac.ACTC_UID, ac.ACTIVITY_ID, ac.ACTC_SORT, ac.ACTC_TIME, ac.ACTC_TIMEUNIT, ac.ACTC_ASSIGN_TYPE, ac.ACTC_ASSIGN_VARIABLE,
	    ac.SIGN_COUNT_VARNAME, ac.ACTC_CAN_EDIT_ATTACH, ac.ACTC_CAN_UPLOAD_ATTACH, ac.ACTC_CAN_DELEGATE,
	    ac.ACTC_CAN_DELETE_ATTACH, ac.ACTC_CAN_MESSAGE_NOTIFY, ac.ACTC_CAN_MAIL_NOTIFY, ac.ACTC_MAIL_NOTIFY_TEMPLATE,
	    ac.ACTC_CAN_REJECT, ac.ACTC_REJECT_TYPE, ac.ACTC_CAN_REVOKE, ac.ACTC_CAN_AUTOCOMMIT, ac.ACTC_CAN_ADD,
	    ac.ACTC_CAN_USER_TO_FIELD, ac.ACTC_CAN_AUDIT_TO_FIELD, ac.ACTC_CAN_APPROVE, ac.ACTC_USER_TO_FIELD,
	    ac.ACTC_AUDIT_TO_FIELD, ac.ACTC_OUTTIME_TRIGGER, ac.ACTC_OUTTIME_TEMPLATE, ac.ACTC_DESCRIPTION,
	    ac.ACTC_DEF_TITLE, ac.ACTC_DEF_SUBJECT_MESSAGE, ac.ACTC_DEF_MESSAGE, ac.ACTC_DEF_DESCRIPTION,
	    ac.ACTC_ALERT, ac.ACTC_PRIORITY_VARIABLE, ac.ACTC_CAN_CANCEL, ac.ACTC_CAN_PAUSE, ac.ACTC_CAN_SKIP,
	    ac.UPDATOR, ac.UPDATE_TIME, ac.actc_can_choose_user, ac.actc_can_transfer,ac.ACTC_RESPONSIBILITY,ac.ACTC_CHOOSEABLE_HANDLER_TYPE
	</sql>
	
	<resultMap id="mapWithConf" type="com.desmart.desmartbpm.entity.BpmActivityMeta" >
	    <id column="ACTIVITY_ID" property="activityId" jdbcType="VARCHAR" />
	    <result column="ACTIVITY_BPD_ID" property="activityBpdId" jdbcType="VARCHAR" />
	    <result column="ACTIVITY_GROUP_NAME" property="activityGroupName" jdbcType="VARCHAR" />
	    <result column="ACTIVITY_NAME" property="activityName" jdbcType="VARCHAR" />
	    <result column="ACTIVITY_TO" property="activityTo" jdbcType="VARCHAR" />
	    <result column="ACTIVITY_TYPE" property="activityType" jdbcType="VARCHAR" />
	    <result column="BPD_ID" property="bpdId" jdbcType="VARCHAR" />
	    <result column="BPM_TASK_TYPE" property="bpmTaskType" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="DEEP_LEVEL" property="deepLevel" jdbcType="DECIMAL" />
	    <result column="EXTERNAL_ID" property="externalId" jdbcType="VARCHAR" />
	    <result column="HANDLE_SIGN_TYPE" property="handleSignType" jdbcType="VARCHAR" />
	    <result column="LOOP_TYPE" property="loopType" jdbcType="VARCHAR" />
	    <result column="MI_ORDER" property="miOrder" jdbcType="VARCHAR" />
	    <result column="NOTE_TYPE" property="noteType" jdbcType="VARCHAR" />
	    <result column="PARENT_ACTIVITY_BPD_ID" property="parentActivityBpdId" jdbcType="VARCHAR" />
	    <result column="PO_ID" property="poId" jdbcType="VARCHAR" />
	    <result column="SNAPSHOT_ID" property="snapshotId" jdbcType="VARCHAR" />
	    <result column="SNAPSHOT_UID" property="snapshotUid" jdbcType="VARCHAR" />
	    <result column="STEP_ID" property="stepId" jdbcType="VARCHAR" />
	    <result column="TYPE" property="type" jdbcType="VARCHAR" />
	    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="ACTIVITY_ALT_NAME" property="activityAltName" jdbcType="VARCHAR" />
	    <result column="PRO_APP_ID" property="proAppId" jdbcType="VARCHAR" />
	    <result column="SORT_NUM" property="sortNum"  />
	    <result column="PARENT_ACTIVITY_ID" property="parentActivityId"  />
	    <result column="SOURCE_ACTIVITY_ID" property="sourceActivityId"  />
	    <association property="dhActivityConf" javaType="com.desmart.desmartbpm.entity.DhActivityConf">
	        <id property="actcUid" column="actc_Uid"/>
	            <result column="ACTIVITY_ID" jdbcType="VARCHAR" property="activityId" />
			    <result column="ACTC_SORT" jdbcType="INTEGER" property="actcSort" />
			    <result column="ACTC_TIME" jdbcType="FLOAT" property="actcTime" />
			    <result column="ACTC_TIMEUNIT" jdbcType="VARCHAR" property="actcTimeunit" />
			    <result column="ACTC_ASSIGN_TYPE" jdbcType="VARCHAR" property="actcAssignType" />
			    <result column="ACTC_ASSIGN_VARIABLE" jdbcType="VARCHAR" property="actcAssignVariable" />
			    <result column="SIGN_COUNT_VARNAME" jdbcType="VARCHAR" property="signCountVarname" />
			    <result column="ACTC_CAN_EDIT_ATTACH" jdbcType="VARCHAR" property="actcCanEditAttach" />
			    <result column="ACTC_CAN_UPLOAD_ATTACH" jdbcType="VARCHAR" property="actcCanUploadAttach" />
			    <result column="ACTC_CAN_DELEGATE" jdbcType="VARCHAR" property="actcCanDelegate" />
			    <result column="ACTC_CAN_DELETE_ATTACH" jdbcType="VARCHAR" property="actcCanDeleteAttach" />
			    <result column="ACTC_CAN_MESSAGE_NOTIFY" jdbcType="VARCHAR" property="actcCanMessageNotify" />
			    <result column="ACTC_CAN_MAIL_NOTIFY" jdbcType="VARCHAR" property="actcCanMailNotify" />
			    <result column="ACTC_MAIL_NOTIFY_TEMPLATE" jdbcType="VARCHAR" property="actcMailNotifyTemplate" />
			    <result column="ACTC_CAN_REJECT" jdbcType="VARCHAR" property="actcCanReject" />
			    <result column="ACTC_REJECT_TYPE" jdbcType="VARCHAR" property="actcRejectType" />
			    <result column="ACTC_CAN_REVOKE" jdbcType="VARCHAR" property="actcCanRevoke" />
			    <result column="ACTC_CAN_AUTOCOMMIT" jdbcType="VARCHAR" property="actcCanAutocommit" />
			    <result column="ACTC_CAN_ADD" jdbcType="VARCHAR" property="actcCanAdd" />
			    <result column="ACTC_CAN_USER_TO_FIELD" jdbcType="VARCHAR" property="actcCanUserToField" />
			    <result column="ACTC_CAN_AUDIT_TO_FIELD" jdbcType="VARCHAR" property="actcCanAuditToField" />
			    <result column="ACTC_CAN_APPROVE" jdbcType="VARCHAR" property="actcCanApprove" />
			    <result column="ACTC_USER_TO_FIELD" jdbcType="VARCHAR" property="actcUserToField" />
			    <result column="ACTC_AUDIT_TO_FIELD" jdbcType="VARCHAR" property="actcAuditToField" />
			    <result column="ACTC_OUTTIME_TRIGGER" jdbcType="VARCHAR" property="actcOuttimeTrigger" />
			    <result column="ACTC_OUTTIME_TEMPLATE" jdbcType="VARCHAR" property="actcOuttimeTemplate" />
			    <result column="ACTC_DESCRIPTION" jdbcType="VARCHAR" property="actcDescription" />
			    <result column="ACTC_DEF_TITLE" jdbcType="VARCHAR" property="actcDefTitle" />
			    <result column="ACTC_DEF_SUBJECT_MESSAGE" jdbcType="VARCHAR" property="actcDefSubjectMessage" />
			    <result column="ACTC_DEF_MESSAGE" jdbcType="VARCHAR" property="actcDefMessage" />
			    <result column="ACTC_DEF_DESCRIPTION" jdbcType="VARCHAR" property="actcDefDescription" />
			    <result column="ACTC_ALERT" jdbcType="VARCHAR" property="actcAlert" />
			    <result column="ACTC_PRIORITY_VARIABLE" jdbcType="VARCHAR" property="actcPriorityVariable" />
			    <result column="ACTC_CAN_CANCEL" jdbcType="VARCHAR" property="actcCanCancel" />
			    <result column="ACTC_CAN_PAUSE" jdbcType="VARCHAR" property="actcCanPause" />
			    <result column="ACTC_CAN_SKIP" jdbcType="VARCHAR" property="actcCanSkip" />
			    <result column="ACTC_CAN_CHOOSE_USER" jdbcType="VARCHAR" property="actcCanChooseUser" />
			    <result column="ACTC_CAN_TRANSFER" jdbcType="VARCHAR" property="actcCanTransfer" />
			    <result column="ACTC_RESPONSIBILITY" jdbcType="VARCHAR" property="actcResponsibility" />
			    <result column="ACTC_CHOOSEABLE_HANDLER_TYPE" jdbcType="VARCHAR" property="actcChooseableHandlerType" />
	    </association>
    </resultMap>
	  
	<select id="queryByPrimaryKey" parameterType="string" resultMap="mapWithConf">
	    select 
        <include refid="relationColumn" />
        from BPM_ACTIVITY_META am 
        left join dh_activity_conf ac on am.source_activity_id = ac.activity_id
	    where am.activity_id = #{activityId}
	</select> 
	
	<select id="queryByFourElement" parameterType="map" resultMap="mapWithConf">
	    select 
        <include refid="relationColumn" />
        from BPM_ACTIVITY_META am 
        left join dh_activity_conf ac on am.activity_id = ac.activity_id
        where am.pro_app_id=#{proAppId} and am.bpd_id=#{proUid} and am.snapshot_id=#{proVerUid}
        and activity_bpd_id=#{activityBpdId}
	</select>
	  
	<insert id="save" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		insert into BPM_ACTIVITY_META (
			ACTIVITY_ID,
			ACTIVITY_BPD_ID,
			ACTIVITY_GROUP_NAME,
			ACTIVITY_NAME,
			ACTIVITY_TO,
			ACTIVITY_TYPE,
			BPD_ID,
			BPM_TASK_TYPE,
			CREATE_TIME,
			CREATOR,
			DEEP_LEVEL,
			EXTERNAL_ID,
			HANDLE_SIGN_TYPE,
			LOOP_TYPE,
			MI_ORDER,
			NOTE_TYPE,
			PARENT_ACTIVITY_BPD_ID,
			PO_ID,
			SNAPSHOT_ID,
			SNAPSHOT_UID,
			STEP_ID,
			TYPE,
			UPDATE_BY,
			UPDATE_TIME,
			ACTIVITY_ALT_NAME,
			PRO_APP_ID,
			SORT_NUM,
			PARENT_ACTIVITY_ID,
			SOURCE_ACTIVITY_ID
		)
		values (
			#{activityId},
			#{activityBpdId},
			#{activityGroupName},
			#{activityName},
			#{activityTo},
			#{activityType},
			#{bpdId},
			#{bpmTaskType},
			sysdate,
			#{creator},
			#{deepLevel},
			#{externalId},
			#{handleSignType},
			#{loopType},
			#{miOrder},
			#{noteType},
			#{parentActivityBpdId},
			#{poId},
			#{snapshotId},
			#{snapshotUid},
			#{stepId},
			#{type},
			#{updateBy},
			#{updateTime},
			#{activityAltName},
			#{proAppId},
			#{sortNum},
			#{parentActivityId},
			#{sourceActivityId}
		)
	</insert>

	<select id="queryByBpmActivityMetaSelective" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta"
		resultMap="mapWithConf">
		select
		<include refid="relationColumn" />
		from BPM_ACTIVITY_META am 
		left join dh_activity_conf ac on am.SOURCE_ACTIVITY_ID = ac.activity_id
		<where>
			<if test="proAppId != null">
			    am.pro_app_id = #{proAppId}
			</if>
			
			<if test="activityId!=null and activityId!='' ">
				and am.ACTIVITY_ID = #{activityId} 
			</if>
			
			<if test="bpdId != null">
				and am.bpd_id = #{bpdId}
			</if>
			<if test="snapshotId != null">
				and am.snapshot_id = #{snapshotId}
			</if>
			<if test="activityBpdId != null">
				and am.ACTIVITY_BPD_ID = #{activityBpdId}
			</if>
			<if test="bpmTaskType != null">
			    and am.bpm_task_type = #{bpmTaskType}
			</if>
			<if test="activityType != null">
			    and am.activity_type = #{activityType}
			</if>
			<if test="type != null">
			    and am.type = #{type}
			</if>
			<if test="deepLevel != null">
			    and am.deep_level = #{deepLevel}
			</if>
			<if test="parentActivityBpdId != null">
			    and am.parent_activity_bpd_id = #{parentActivityBpdId}
			</if>
			<if test="parentActivityId != null">
                and am.PARENT_ACTIVITY_ID = #{parentActivityId}
            </if>
            <if test="sourceActivityId != null">
                and am.SOURCE_ACTIVITY_ID = #{sourceActivityId}
            </if>
		</where>
	</select>

	<select id="queryByActivityBpdIdAndSnapshotUid" resultType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		select
		<include refid="Base_Column_List" />
		from BPM_ACTIVITY_META
		where activity_bpd_id = #{activityBpdId} and SNAPSHOT_UID = #{snapshotUid}
	</select>

	<delete id="batchRemoveByPrimaryKey" parameterType="list">
		delete from BPM_ACTIVITY_META
		where activity_id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item.activityId}
		</foreach>
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		update BPM_ACTIVITY_META
		<set>
			<if test="activityBpdId != null">
				ACTIVITY_BPD_ID = #{activityBpdId},
			</if>

			<if test="activityGroupName != null">
				ACTIVITY_GROUP_NAME = #{activityGroupName},
			</if>
			<if test="activityName != null">
				ACTIVITY_NAME = #{activityName},
			</if>

			<if test="activityTo != null">
				ACTIVITY_TO = #{activityTo},
			</if>
			<if test="activityType != null">
				ACTIVITY_TYPE = #{activityType},
			</if>

			<if test="bpdId != null">
				BPD_ID = #{bpdId},
			</if>
			<if test="bpmTaskType != null">
				BPM_TASK_TYPE = #{bpmTaskType},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="creator != null">
				CREATOR = #{creator},
			</if>
			<if test="deepLevel != null">
				DEEP_LEVEL = #{deepLevel},
			</if>
			<if test="externalId != null">
				EXTERNAL_ID = #{externalId},
			</if>
			<if test="handleSignType != null">
				HANDLE_SIGN_TYPE = #{handleSignType},
			</if>
			<if test="loopType != null">
				LOOP_TYPE = #{loopType},
			</if>
			<if test="miOrder != null">
				MI_ORDER = #{miOrder},
			</if>
			<if test="noteType != null">
				NOTE_TYPE = #{noteType},
			</if>
			<if test="parentActivityBpdId != null">
				PARENT_ACTIVITY_BPD_ID = #{parentActivityBpdId},
			</if>
			<if test="poId != null">
				PO_ID = #{poId},
			</if>
			<if test="snapshotId != null">
				SNAPSHOT_ID = #{snapshotId},
			</if>
			<if test="snapshotUid != null">
				SNAPSHOT_UID = #{snapshotUid},
			</if>
			<if test="stepId != null">
				STEP_ID = #{stepId},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy},
			</if>
			<if test="activityAltName != null">
				ACTIVITY_ALT_NAME = #{activityAltName},
			</if>
			<if test="proAppId != null">
				PRO_APP_ID = #{proAppId},
			</if>
			<if test="sortNum != null">
			    SORT_NUM = #{sortNum},
			</if>
			<if test="parentActivityId != null">
                PARENT_ACTIVITY_ID = #{parentActivityId},
            </if>
            <if test="sourceActivityId != null">
                SOURCE_ACTIVITY_ID = #{sourceActivityId},
            </if>
			UPDATE_TIME = sysdate
		</set>
		where ACTIVITY_ID = #{activityId}
	</update>
	
	<select id="listSimilarActivityMetaById" parameterType="java.util.HashMap" resultType="java.util.Map">
    	select  
    	a1.ACTIVITY_ID,a1.ACTIVITY_BPD_ID,a2.ACTIVITY_ID ACTIVITY_ID_1,a2.ACTIVITY_BPD_ID ACTIVITY_BPD_ID_1
    	from bpm_activity_meta a1
		left join bpm_activity_meta a2 on a1.activity_bpd_id = a2.activity_bpd_id and a1.activity_name = a2.activity_name
		where a1.bpd_id = #{proUid}
		and a1.snapshot_id = #{proVerUid}
		and a1.pro_app_id = #{proAppId}
		and a2.bpd_id = #{proUidNew}
		and a2.snapshot_id = #{proVerUidNew}
		and a2.pro_app_id = #{proAppIdNew}
		and a1.ACTIVITY_ID = a1.SOURCE_ACTIVITY_ID
		and a2.ACTIVITY_ID = a2.SOURCE_ACTIVITY_ID
    </select>
    
    <select id="getActivityIdByIdAndName" resultType="com.desmart.desmartbpm.entity.BpmActivityMeta" parameterType="java.util.Map">
    	select 
    	<include refid="Base_Column_List" />
    	from 	BPM_ACTIVITY_META
    	where ACTIVITY_NAME = #{activityName}
    	and ACTIVITY_BPD_ID = #{activityBpdId}
    	and BPD_ID = #{proUid}
    	and SNAPSHOT_ID = #{proVerUid}
    	and PRO_APP_ID = #{proAppId}
    </select>
    
    <select id="getActivityIdByIds" resultType="com.desmart.desmartbpm.entity.BpmActivityMeta" parameterType="java.util.Map">
    	select 
    	<include refid="Base_Column_List" />
    	from 	BPM_ACTIVITY_META
    	where 
		BPD_ID = #{proUid}
    	and SNAPSHOT_ID = #{proVerUid}
    	and PRO_APP_ID = #{proAppId}
    </select>
    
    <delete id="deleteByIds" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta">
    	delete from BPM_ACTIVITY_META
    	where BPD_ID = #{bpdId}
    	and PRO_APP_ID = #{proAppId}
    </delete>
</mapper>