<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmExposedItemMapper">

    <sql id="Base_Column_List">
        PRO_APP_ID, BPD_ID, SNAPSHOT_ID, PRO_APP_NAME, BPD_NAME, SNAPSHOT_NAME, SNAPSHOT_CREATE_TIME,
        BATCH_ID
    </sql>
    <sql id="relationColumn">
        e.PRO_APP_ID, e.BPD_ID, e.SNAPSHOT_ID, e.PRO_APP_NAME, e.BPD_NAME, e.SNAPSHOT_NAME, e.SNAPSHOT_CREATE_TIME,
        e.BATCH_ID
    </sql>

    <insert id="insertBatch" parameterType="list">
        insert into bpm_exposed_item (<include refid="Base_Column_List"/>)
        <foreach collection="collection" item="item" separator="union all">
            select
                #{item.proAppId, jdbcType=VARCHAR},
                #{item.bpdId, jdbcType=VARCHAR},
                #{item.snapshotId, jdbcType=VARCHAR},
                #{item.proAppName, jdbcType=VARCHAR},
                #{item.bpdName, jdbcType=VARCHAR},
                #{item.snapshotName, jdbcType=VARCHAR},
                #{item.snapshotCreateTime, jdbcType=TIMESTAMP},
                #{item.batchId, jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

    <delete id="removeAll">
        delete from bpm_exposed_item
    </delete>

    <select id="listUnsynItemByProAppIdAndBpdId" resultType="com.desmart.desmartbpm.service.BpmExposedItem">
        select <include refid="relationColumn"/>
        from bpm_exposed_item e
        left join DH_PROCESS_DEFINITION d
            on e.PRO_APP_ID = d.PRO_APP_ID
            and e.BPD_ID = d.PRO_UID
            and e.SNAPSHOT_ID = d.PRO_VER_UID
        where
            d.pro_ver_uid is null
            and e.pro_app_id = #{proAppId}
            and e.bpd_id = #{bpdId}
    </select>

    <select id="listByProAppIdAndSnapshotId" resultType="com.desmart.desmartbpm.service.BpmExposedItem" parameterType="map">
        select <include refid="Base_Column_List"/>
        from bpm_exposed_item where pro_app_id = #{proAppId} and snapshot_id = #{snapshotId}
    </select>

    <select id="listDistinctProAppId" resultType="java.lang.String">
        select distinct(pro_app_id) from BPM_EXPOSED_ITEM
        union
        select distinct(pro_app_id) from DH_PROCESS_DEFINITION
    </select>

    <select id="listUnsynchronizedSnapshotByProAppId"
            resultType="com.desmart.desmartbpm.entity.engine.LswSnapshot">
        select t.SNAPSHOT_ID snapshotId, e.snapshot_name name, e.SNAPSHOT_CREATE_TIME createdOn from (
            select distinct(snapshot_id) from bpm_exposed_item where pro_app_id = #{proAppId}
            MINUS
            select distinct(pro_ver_uid) from DH_PROCESS_DEFINITION where pro_app_id = #{proAppId}
            ) t left join BPM_EXPOSED_ITEM e on t.snapshot_id = e.snapshot_id
        group by t.snapshot_id, e.snapshot_name, e.SNAPSHOT_CREATE_TIME
        order by e.SNAPSHOT_CREATE_TIME desc
    </select>

    <select id="listUnSynchronizedProcessMeta" resultType="java.util.Map">
        select distinct pro_app_id, bpd_id from bpm_exposed_item
        MINUS
        select distinct pro_app_id, pro_uid from dh_process_meta
    </select>

    <select id="listByProAppIdAndBpdId" resultType="com.desmart.desmartbpm.service.BpmExposedItem">
        select pro_app_Id, bpd_id, pro_app_name, bpd_name
        from bpm_exposed_item
        where
        <foreach collection="collection" item="item" separator="or">
            PRO_APP_ID = #{item.PRO_APP_ID} and BPD_ID = #{item.BPD_ID}
        </foreach>
        group by pro_app_Id, bpd_id, pro_app_name, bpd_name
    </select>


</mapper>