<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmFormManageMapper" >

    <sql id="base_column">
        DYN_UID,DYN_TITLE,DYN_DESCRIPTION,DYN_WEBPAGE,DYN_CONTENT,
        PRO_UID,PRO_VERSION,CREATOR,CREATE_TIME,FORM_NO_EXPRESSION
    </sql>
    
    <sql id="select_column">
        bmf.DYN_UID,bmf.DYN_TITLE,bmf.DYN_DESCRIPTION,bmf.DYN_WEBPAGE,
        bmf.DYN_CONTENT,bmf.PRO_UID,bmf.PRO_VERSION,bmf.CREATOR,bmf.CREATE_TIME,bmf.FORM_NO_EXPRESSION
    </sql>
    
    <select id="listFormByProDefinition" parameterType="map" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="select_column"/>,pm.pro_name proMetaName
    	from bpm_form bmf 
    		left join dh_process_meta pm
    		on bmf.pro_uid = pm.pro_uid
    	<where>
	    	<if test="proUid != null and !proUid.trim().isEmpty()">
	    		bmf.pro_uid = #{proUid} 
	    	</if> 
	    	<if test="proVerUid != null and !proVerUid.trim().isEmpty()">
	    		and bmf.pro_version = #{proVerUid}
	    	</if>
	    	<if test="formTitle != null and !formTitle.trim().isEmpty()">
	        	and bmf.dyn_title like '%${formTitle}%' 
	        </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="listFormByProUidList" parameterType="map" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="select_column"/>,pm.pro_name proMetaName
    	from bpm_form bmf
    		left join dh_process_meta pm
    		on bmf.pro_uid = pm.pro_uid
    	<where>
    		bmf.pro_uid in
    		<foreach collection="metaList" item="item" index="index" open="(" separator="," close=")">
	            #{item.proUid}
	        </foreach>
	    	<if test="formTitle != null and !formTitle.trim().isEmpty()">
	        	and bmf.dyn_title like '%${formTitle}%' 
	        </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="queryProFormByName" parameterType="map" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="base_column"/>
    	from bpm_form 
    	where dyn_title = #{dynTitle}
    	and pro_uid = #{proUid}
    	and pro_version = #{proVersion}
    </select>
    
    <select id="queryFormByFormUid" parameterType="String" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="base_column"/>
    	from bpm_form where dyn_uid = #{formUid}
    </select>
    
    <delete id="deleteForm" parameterType="String">
    	delete from bpm_form where dyn_uid = #{formUid}
    </delete>
    
    <insert id="saveForm" parameterType="com.desmart.desmartbpm.entity.BpmForm">
    	insert into bpm_form(<include refid="base_column"/>)
    	values(#{dynUid},#{dynTitle},#{dynDescription},#{dynWebpage},
    		#{dynContent},#{proUid},#{proVersion},#{creator},sysdate,#{formNoExpression})
    </insert>
    
    <update id="updateFormInfo" parameterType="com.desmart.desmartbpm.entity.BpmForm">
    	update bpm_form 
    	set dyn_title = #{dynTitle},dyn_description = #{dynDescription},FORM_NO_EXPRESSION = #{formNoExpression}
    	where dyn_uid = #{dynUid}
    </update>
    
    <update id="updateFormContent" parameterType="com.desmart.desmartbpm.entity.BpmForm">
    	update bpm_form 
    	set dyn_content = #{dynContent}
    		,dyn_webpage = #{dynWebpage}
    	where dyn_uid = #{dynUid}
    </update>
    
    <update id="updateFormFilenameByFormUid" parameterType="map">
    	update bpm_form
    	set dyn_filename = #{filename}
    	where dyn_uid = #{dynUid}
    </update>
    
    <select id="listBySelective" parameterType="com.desmart.desmartbpm.entity.BpmForm" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="base_column"/> 
    	from bpm_form
    	where pro_uid = #{proUid} and pro_version = #{proVersion}
    	<if test="dynTitle != null and !dynTitle.trim().isEmpty()">
	    	and dyn_title like '%${dynTitle}%' 
	    </if>
	    <if test="dynDescription != null and !dynDescription.trim().isEmpty()">
	    	and dyn_description like '%${dynDescription}%' 
	    </if>
    </select>
    
    <select id="isBindStep" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhStep">
    	select * from dh_step
    	where step_object_uid = #{formUid} 
    </select>
    
    <select id="queryMetaNameByProUid" parameterType="string" resultType="string">
    	select pro_name
        from dh_process_meta 
        where pro_uid = #{proUid}
    </select>
    
    <delete id="deleteFormRelePublicForm" parameterType="string">
    	delete from bpm_form_rele_public_form where form_uid = #{formUid}
    </delete>

	<delete id="removeFormsByFormUidList" parameterType="list">
		delete from bpm_form
		<where>
			<foreach collection="list" item="item" separator="or">
				dyn_uid = #{item}
			</foreach>
		</where>
	</delete>

	<select id="queryFormReleByFormUid" parameterType="string" resultType="string">
    	select public_form_uid
    	from bpm_form_rele_public_form 
    	where form_uid = #{formUid}
    </select>
    
    <insert id="saveFormRelePublicForm" parameterType="map">
		insert into 
		bpm_form_rele_public_form(form_uid,public_form_uid)
		values(#{formUid},#{publicFormUid})
	</insert>
</mapper>