<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmFormFieldMapper" >
    <sql id="base_column">
    	fld_uid,fld_code_name,fld_index,fld_name,fld_description,
    	fld_type,fld_size,multi_separator,multi_value,form_uid
    </sql>
    
    <sql id="step_column">
    	bfd.fld_uid,bfd.fld_code_name,bfd.fld_index,bfd.fld_name,bfd.fld_description,
    	bfd.fld_type,bfd.fld_size,bfd.multi_separator,bfd.multi_value,bfd.form_uid
    </sql>
    
    <sql id="field_pre_column">
    	op_uid,step_uid,op_obj_type,op_obj_uid,op_action
    </sql>
    <insert id="saveFormField" parameterType="list">
		insert into bpm_form_field(<include refid="base_column"/>)
		<foreach collection="fields" item="item" index="index" close=")" open="(" separator="union">
			select
			#{item.fldUid},
			#{item.fldCodeName},
			#{item.fldIndex},
			#{item.fldName},
			#{item.fldDescription},
			#{item.fldType},
			#{item.fldSize},
			#{item.multiSeparator},
			#{item.multiValue},
			#{item.formUid}
			from dual
		</foreach>
	</insert> 
	
	<delete id="deleteFormField" parameterType="String">
		delete from bpm_form_field where form_uid = #{formUid}
	</delete>
	
	<select id="queryFormFieldByFormUid" parameterType="String" resultType="com.desmart.desmartbpm.entity.BpmFormField">
		select <include refid="base_column"/> from bpm_form_field 
		where form_uid = #{dynUid}
		order by fld_index
	</select>
	
	<select id="queryFieldByFieldIdAndStepId" parameterType="map" resultType="String">
		select op_action
		from dh_object_permission
		where step_uid = #{stepUid} and op_obj_uid = #{fieldUid}
	</select>
	
	<insert id="saveFormFieldPermission" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission">
		insert into dh_object_permission(<include refid="field_pre_column"/>)
		values(#{opUid},#{stepUid},#{opObjType},#{opObjUid},#{opAction})
	</insert>
	
	<delete id="deleteFormFieldPermission" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission">
		delete from dh_object_permission 
		where op_obj_uid=#{opObjUid} and step_uid=#{stepUid}
	</delete>
	
	<select id="listFldUidByFormUid" parameterType="java.util.HashMap" resultType="java.util.Map">
		select f1.FLD_UID,f2.FLD_UID FLD_UID_1
		from BPM_FORM_FIELD f1
		left join BPM_FORM_FIELD f2 on f1.FLD_CODE_NAME = f2.FLD_CODE_NAME
		where f1.FORM_UID = #{oldFormUid}
		and f2.FORM_UID = #{newFormUid}
	</select>
</mapper>