<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmFormManageMapper" >

    <sql id="base_column">
        DYN_UID,DYN_TITLE,DYN_DESCRIPTION,DYN_TYPE,DYN_FILENAME,DYN_CONTENT,PRO_UID,PRO_VERSION,CREATOR,CREATE_TIME
    </sql>
    
    <sql id="select_column">
        bmf.DYN_UID,bmf.DYN_TITLE,bmf.DYN_DESCRIPTION,bmf.DYN_TYPE,bmf.DYN_FILENAME,
        bmf.DYN_CONTENT,bmf.PRO_UID,bmf.PRO_VERSION,bmf.CREATOR,bmf.CREATE_TIME
    </sql>
    
    <select id="listFormByProDefinition" parameterType="map" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="select_column"/>,u.user_name creatorFullName
    	from bpm_form bmf
    		left join sys_user u on bmf.creator = u.user_uid
    	<where>
	    	<if test="proUid != null and !proUid.trim().isEmpty()">
	    		bmf.pro_uid = #{proUid} 
	    	</if> 
	    	<if test="proVerUid != null and !proVerUid.trim().isEmpty()">
	    		and bmf.pro_version = #{proVerUid}
	    	</if>
	    	<if test="formTitle != null and !formTitle.trim().isEmpty()">
	        	and dyn_title like '%${formTitle}%' 
	        </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="listFormByProUidList" parameterType="map" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="select_column"/>,u.user_name creatorFullName
    	from bpm_form bmf
    		left join sys_user u on bmf.creator = u.user_uid
    	<where>
    		pro_uid in
    		<foreach collection="metaList" item="item" index="index" open="(" separator="," close=")">
	            #{item.proUid}
	        </foreach>
	    	<if test="formTitle != null and !formTitle.trim().isEmpty()">
	        	and dyn_title like '%${formTitle}%' 
	        </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="queryFormByName" parameterType="String" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="base_column"/>
    	from bpm_form where dyn_title = #{dynTitle}
    </select>
    
    <select id="queryFormByFormUid" parameterType="String" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="base_column"/>
    	from bpm_form where dyn_uid = #{formUid}
    </select>
    
    <delete id="deleteForm" parameterType="String">
    	delete from bpm_form where dyn_uid = #{formUid}
    </delete>
    
    <insert id="saveForm" parameterType="com.desmart.desmartbpm.entity.BpmForm">
    	insert into bpm_form(<include refid="base_column"/>)
    	values(#{dynUid},#{dynTitle},#{dynDescription},'html',#{dynFilename},
    		#{dynContent},#{proUid},#{proVersion},'00035438',sysdate)
    </insert>
    
    <update id="updateFormInfo" parameterType="com.desmart.desmartbpm.entity.BpmForm">
    	update bpm_form 
    	set dyn_title = #{dynTitle},dyn_description = #{dynDescription}
    	where dyn_uid = #{dynUid}
    </update>
    
    <update id="updateFormContent" parameterType="com.desmart.desmartbpm.entity.BpmForm">
    	update bpm_form 
    	set dyn_content = #{dynContent}
    	where dyn_uid = #{dynUid}
    </update>
    
    <update id="updateFormFilenameByFormUid" parameterType="map">
    	update bpm_form
    	set dyn_filename = #{filename}
    	where dyn_uid = #{dynUid}
    </update>
    
    <select id="listBySelective" parameterType="com.desmart.desmartbpm.entity.BpmForm" resultType="com.desmart.desmartbpm.entity.BpmForm">
    	select <include refid="base_column"/> 
    	from bpm_form
    	where pro_uid = #{proUid} and pro_version = #{proVersion}
    	<if test="dynTitle != null and !dynTitle.trim().isEmpty()">
	    	and dyn_title like '%${dynTitle}%' 
	    </if>
	    <if test="dynDescription != null and !dynDescription.trim().isEmpty()">
	    	and dyn_title like '%${dynDescription}%' 
	    </if>
    </select>
</mapper>