<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DatRuleMapper" >
  
   <select id="getDatRuleByKey" parameterType="map"
   resultType="com.desmart.desmartbpm.entity.DatRule">
   	SELECT RULE_ID, BIZ_TYPE, CREATE_TIME, CREATOR, EDIT_MODE, END_TIME, IS_ACTIVATE
   	, PARENT_RULE_ID, RETURN_TYPE, RULE_NAME, RULE_PROCESS, RULE_STATUS, RULE_TYPE, RULE_VERSION, START_TIME FROM DAT_RULE
   	where 1=1 
   	<if test="ruleId != null and ruleId != '' ">
   	and rule_Id = #{ruleId}
   	</if>
   </select>
   
   <insert id="insertToDatRule" parameterType="com.desmart.desmartbpm.entity.DatRule">
   	INSERT INTO DAT_RULE (RULE_ID, BIZ_TYPE, CREATE_TIME, CREATOR, EDIT_MODE
   	, END_TIME, IS_ACTIVATE, PARENT_RULE_ID, RETURN_TYPE, RULE_NAME, RULE_PROCESS
   	, RULE_STATUS, RULE_TYPE, RULE_VERSION, START_TIME)
	VALUES (#{ruleId}, #{bizType}, #{createTime}, #{creator}, #{editMode}, 
	#{endTime}, #{isActivate}, #{parentRuleId}, #{returnType}, #{ruleName}
	, #{ruleProcess}, #{ruleStatus}, #{ruleType}, #{ruleVersion}, #{startTime})
   </insert>
   
   <update id="updateDatRule" parameterType="com.desmart.desmartbpm.entity.DatRule">
    UPDATE DAT_RULE SET RULE_VERSION = RULE_VERSION+1,
    RULE_PROCESS = #{ruleProcess} where rule_id = #{ruleId}
   </update>
    
    <select id="getPreRulesLikeRuleName" parameterType="map"
    resultType="com.desmart.desmartbpm.entity.DatRule">
    select * from dat_rule where rule_name like CONCAT(CONCAT('%',#{activityId}),'%')
    order by create_time 
    </select>

    <delete id="deleteDatRule" parameterType="com.desmart.desmartbpm.entity.DatRule">
    DELETE FROM DAT_RULE WHERE rule_id = #{ruleId}
    </delete>
    
    <insert id="batchInsertDatRule"  parameterType="java.util.List">
	        insert into DAT_RULE (RULE_ID, BIZ_TYPE, CREATE_TIME, CREATOR, EDIT_MODE,
	            END_TIME, IS_ACTIVATE, PARENT_RULE_ID, RETURN_TYPE, RULE_NAME, RULE_PROCESS,
	            RULE_STATUS, RULE_TYPE, RULE_VERSION, START_TIME)
	    <foreach collection="list" item="item" index="index"  close=")" open="(" separator="union">
	        select
	            #{item.ruleId}, #{item.bizType}, #{item.createTime}, #{item.creator}, #{item.editMode},
	            #{item.endTime}, #{item.isActivate}, #{item.parentRuleId}, #{item.returnType}, #{item.ruleName},
	            #{item.ruleProcess}, #{item.ruleStatus}, #{item.ruleType}, #{item.ruleVersion}, #{item.startTime}
	        from dual
	    </foreach>
	</insert> 
	
	<select id="batchSelectDatRule" parameterType="java.util.Set" 
		resultType="com.desmart.desmartbpm.entity.DatRule">
		SELECT RULE_ID, BIZ_TYPE, CREATE_TIME, CREATOR, EDIT_MODE, END_TIME, IS_ACTIVATE
   		, PARENT_RULE_ID, RETURN_TYPE, RULE_NAME, RULE_PROCESS, RULE_STATUS, RULE_TYPE, RULE_VERSION, START_TIME FROM DAT_RULE
   		<where>
  			<foreach collection="keySet" index="index" item="item" open="(" separator="or" close=")">     
  				rule_id = #{item}
    		</foreach>
  		</where>
	</select>
	
	<delete id="deleteByRuleIds" parameterType="list">
		DELETE FROM DAT_RULE
		<where>
			RULE_ID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<select id="listByRuleIds" parameterType="list" resultType="com.desmart.desmartbpm.entity.DatRule">
		SELECT * FROM DAT_RULE
		<where>
			RULE_ID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>
</mapper>