<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhObjectPermissionMapper" >
    <sql id="base_column" >
        OP_UID, PRO_APP_ID, PRO_UID, PRO_VER_UID, STEP_UID, OP_PARTICIPATE_TYPE, OP_PARTICIPATE_UID, 
        OP_OBJ_TYPE, OP_OBJ_UID, OP_ACTION
    </sql>
  
    <insert id="save" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission" >
        insert into DH_OBJECT_PERMISSION (<include refid="base_column"/>)
        values (
	        #{opUid}, #{proAppId}, #{proUid}, 
	        #{proVerUid}, #{stepUid}, #{opParticipateType}, 
	        #{opParticipateUid}, #{opObjType}, #{opObjUid}, 
	        #{opAction}
        )
    </insert>
    
    <insert id="saveBatch"  parameterType="list">
        insert into DH_OBJECT_PERMISSION (<include refid="base_column"/>)
        <foreach collection="list" item="item"  separator="union all">
	        select
		        #{item.opUid}, #{item.proAppId}, #{item.proUid},
				#{item.proVerUid}, #{item.stepUid}, #{item.opParticipateType},
				#{item.opParticipateUid}, #{item.opObjType}, #{item.opObjUid},
				#{item.opAction}
	        from dual
        </foreach>
    </insert>

    <update id="updateformFieldUidToNewFieldUid" parameterType="map">
        update DH_OBJECT_PERMISSION
        set op_obj_uid = #{newFieldUid}
        where op_obj_uid = #{oldFieldUid}
    </update>
    
    <delete id="deleteBatchSelective" parameterType="list">
    	delete from dh_object_permission
    	<where>
	    	<foreach collection="list" item="item" separator="or">
	    		<if test="opUid != null">
	                OP_UID = #{item.opUid}
	            </if>
	            <if test="proAppId != null">
	                and pro_app_id = #{item.proAppId}
	            </if>
	            <if test="proUid != null">
	                and pro_uid = #{item.proUid}
	            </if>
	            <if test="proVerUid != null">
	                and pro_ver_uid  = #{item.proVerUid}
	            </if>
	            <if test="stepUid != null">
	                and STEP_UID = #{item.stepUid}
	            </if>
	            <if test="opParticipateType != null">
	                and op_participate_type = #{item.opParticipateType}
	            </if>
	            <if test="opParticipateUid != null">
	                and op_participate_uid = #{item.opParticipateUid}
	            </if>
	            <if test="opObjType != null">
	                and op_obj_type = #{item.opObjType}
	            </if>
	            <if test="opObjUid != null">
	                and op_obj_uid = #{item.opObjUid}
	            </if>
	            <if test="opAction != null">
	                and op_action = #{item.opAction}
	            </if>
	    	</foreach>
    	</where>
    </delete>

    <delete id="delectByDhObjectPermissionSelective" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission" >
        delete from DH_OBJECT_PERMISSION
        <where>
            <if test="opUid != null">
                OP_UID = #{opUid}
            </if>
            <if test="proAppId != null">
                and pro_app_id = #{proAppId}
            </if>
            <if test="proUid != null">
                and pro_uid = #{proUid}
            </if>
            <if test="proVerUid != null">
                and pro_ver_uid  = #{proVerUid}
            </if>
            <if test="stepUid != null">
                and STEP_UID = #{stepUid}
            </if>
            <if test="opParticipateType != null">
                and op_participate_type = #{opParticipateType}
            </if>
            <if test="opParticipateUid != null">
                and op_participate_uid = #{opParticipateUid}
            </if>
            <if test="opObjType != null">
                and op_obj_type = #{opObjType}
            </if>
            <if test="opObjUid != null">
                and op_obj_uid = #{opObjUid}
            </if>
            <if test="opAction != null">
                and op_action = #{opAction}
            </if>
        </where>
    </delete>

    <select id="listByDhObjectPermissionSelective" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
        select <include refid="base_column"/> from dh_object_permission
        <where>
            <if test="opUid != null">
                OP_UID = #{opUid}
            </if>
            <if test="proAppId != null">
                and pro_app_id = #{proAppId}
            </if>
            <if test="proUid != null">
                and pro_uid = #{proUid}
            </if>
            <if test="proVerUid != null">
                and pro_ver_uid  = #{proVerUid}
            </if>
            <if test="stepUid != null">
                and STEP_UID = #{stepUid}
            </if>
            <if test="opParticipateType != null">
                and op_participate_type = #{opParticipateType}
            </if>
            <if test="opParticipateUid != null">
                and op_participate_uid = #{opParticipateUid}
            </if>
            <if test="opObjType != null">
                and op_obj_type = #{opObjType}
            </if>
            <if test="opObjUid != null">
                and op_obj_uid = #{opObjUid}
            </if>
            <if test="opAction != null">
                and op_action = #{opAction}
            </if>
        </where>
    </select>   
    
    <select id="getDhObjectPermissionByFldUid" parameterType="String" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
    	select 
    	<include refid="base_column" />
    	from DH_OBJECT_PERMISSION
    	where OP_OBJ_UID = #{fldUid}
    </select> 
    
    <select id="getFieldPermissionByStepUidNotPrint" parameterType="String" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
    	select <include refid="base_column"/>
    	from dh_object_permission
    	where step_uid = #{stepUid} and op_obj_type = 'FIELD'
    		and OP_ACTION !='PRINT' and OP_ACTION !='SKIP'
    </select>
    
    <select id="getFieldPermissionByStepUidAndFldUidNotPrint" parameterType="map" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
    	select <include refid="base_column"/>
    	from dh_object_permission
    	where step_uid = #{stepUid} and op_obj_uid = #{fldUid}
    		and OP_ACTION !='PRINT' and OP_ACTION !='SKIP'
    </select>
    
    <select id="getFieldPrintPermissionByStepUidAndFldUid" parameterType="map" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
    	select <include refid="base_column"/>
    	from dh_object_permission
    	where step_uid = #{stepUid} and op_obj_uid = #{fldUid}
    		and OP_ACTION ='PRINT'
    </select>
    
    <select id="getFieldSkipPermissionByStepUidAndFldUid" parameterType="map" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
    	select <include refid="base_column"/>
    	from dh_object_permission
    	where step_uid = #{stepUid} and op_obj_uid = #{fldUid}
    		and OP_ACTION ='SKIP'
    </select>

    <select id="listByStepUidList" parameterType="list" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
        select <include refid="base_column"/>
        from dh_object_permission
        <where>
            <foreach collection="list" item="item" separator="or"> step_uid = #{item} </foreach>
        </where>
    </select>

    <delete id="removeByStepUidList" parameterType="list">
        delete from dh_object_permission
        <where>
            <foreach collection="list" item="item" separator="or">
                step_uid = #{item}
            </foreach>
        </where>
    </delete>
    
    <delete id="removeByOpObjUidList" parameterType="list">
        delete from dh_object_permission
        <where>
            <foreach collection="list" item="item" separator="or">
                op_obj_type = #{item}
            </foreach>
        </where>
    </delete>
    
    <select id="queryFieldByFieldIdAndStepId" parameterType="map" resultType="string">
		select op_action
		from dh_object_permission
		where step_uid = #{stepUid} and op_obj_uid = #{fieldUid}
	</select>

    <select id="listProcessDefinitionScopePermission" parameterType="map"
            resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
        select <include refid="base_column"/> from dh_object_permission
        where pro_app_id = #{proAppId} and pro_uid = #{proUid} and pro_ver_uid = #{proVerUid} and op_action = 'START'
    </select>

    <select id="listByStepUid" resultType="com.desmart.desmartbpm.entity.DhObjectPermission" parameterType="string">
        select <include refid="base_column"/> from dh_object_permission
        where step_uid = #{stepUid}
    </select>

    <delete id="deleteFormFieldPermission" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission">
		delete from dh_object_permission
		where op_obj_uid=#{opObjUid} and step_uid=#{stepUid}
	</delete>
	
	<delete id="deleteFieldPermissById" parameterType="string">
		delete from dh_object_permission where op_obj_uid=#{fldUid}
	</delete>
</mapper>