<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhProcessCategoryMapper" >

    <sql id="base_column">
        CATEGORY_UID, CATEGORY_PARENT, CATEGORY_NAME, CATEGORY_ICON 
    </sql>
    
    <select id="queryByCategoryUid" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhProcessCategory">
        select <include refid="base_column"/> from DH_PROCESS_CATEGORY
        where category_uid = #{categoryUid}
    </select>
    
    <insert id="save" parameterType="com.desmart.desmartbpm.entity.DhProcessCategory">
        insert into DH_PROCESS_CATEGORY (<include refid="base_column"/>) 
        values(
            #{categoryUid}, #{categoryParent}, #{categoryName}, #{categoryIcon}
        )
    </insert>

    <insert id="insertBatch" parameterType="list">
        insert into DH_PROCESS_CATEGORY (<include refid="base_column"/>)
        <foreach collection="list" item="item" index="index"  close=")" open="(" separator="union">
            select
            #{item.categoryUid},
            #{item.categoryParent},
            #{item.categoryName},
            #{item.categoryIcon}
            from dual
        </foreach>
    </insert>

    <select id="listByCategoryParent" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhProcessCategory">
        select <include refid="base_column"/> from DH_PROCESS_CATEGORY
        where category_parent = #{categoryParent}
    </select>
    
    <select id="countByCategoryParentAndCategoryName" resultType="int">
        select count(1) from DH_PROCESS_CATEGORY
        where category_parent = #{categoryParent} and category_name = #{categoryName}
    </select>
    
    <select id="listAll" resultType="com.desmart.desmartbpm.entity.DhProcessCategory">
        select <include refid="base_column"/> from DH_PROCESS_CATEGORY
    </select>

    <select id="listByCategoryUidList" parameterType="list" resultType="com.desmart.desmartbpm.entity.DhProcessCategory">
        select <include refid="base_column"/> from DH_PROCESS_CATEGORY
        <where>
            <foreach collection="list" item="item" separator="or"> category_uid = #{item} </foreach>
        </where>
    </select>

    <update id="updateByCategoryUidSelective" parameterType="com.desmart.desmartbpm.entity.DhProcessCategory">
        update DH_PROCESS_CATEGORY
        <set>
	      <if test="categoryName != null" >
	        category_name = #{categoryName},
	      </if>
	      <if test="categoryParent != null" >
	        CATEGORY_PARENT = #{categoryParent},
	      </if>
	      <if test="categoryIcon != null" >
	        category_icon = #{categoryIcon},
	      </if>
	    </set>
	    where category_uid = #{categoryUid}
    </update>
    
    <delete id="removeBatchByCategoryList" parameterType="list">
        delete from DH_PROCESS_CATEGORY 
        where category_uid in 
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.categoryUid}
        </foreach> 
    </delete>
    
    
    
</mapper>