<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmart.desmartbpm.dao.DhTaskHandlerMapper">
    <resultMap id="BaseResultMap" type="com.desmart.desmartbpm.entity.DhTaskHandler">
        <id column="HANDLE_UID" jdbcType="VARCHAR" property="handleUid" />
        <result column="INS_ID" jdbcType="INTEGER" property="insId" />
        <result column="TASK_ACTIVITY_ID" jdbcType="VARCHAR" property="taskActivityId" />
        <result column="USER_UID" jdbcType="VARCHAR" property="userUid" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        HANDLE_UID, INS_ID, TASK_ACTIVITY_ID, USER_UID, STATUS
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from DH_TASK_HANDLER
        where HANDLE_UID = #{handleUid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from DH_TASK_HANDLER
        where HANDLE_UID = #{handleUid,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByInsIdAndTaskActivityIdList" parameterType="map">
        delete from dh_task_handler
        where ins_id = #{insId}
        and task_activity_id in
        <foreach collection="taskActivityIdList" item="item" separator="," close=")" open="(">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.desmart.desmartbpm.entity.DhTaskHandler">
        insert into DH_TASK_HANDLER (HANDLE_UID, INS_ID, TASK_ACTIVITY_ID,
        USER_UID, STATUS)
        values (#{handleUid,jdbcType=VARCHAR}, #{insId,jdbcType=INTEGER}, #{taskActivityId,jdbcType=VARCHAR},
        #{userUid,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.desmart.desmartbpm.entity.DhTaskHandler">
        insert into DH_TASK_HANDLER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="handleUid != null">
                HANDLE_UID,
            </if>
            <if test="insId != null">
                INS_ID,
            </if>
            <if test="taskActivityId != null">
                TASK_ACTIVITY_ID,
            </if>
            <if test="userUid != null">
                USER_UID,
            </if>
            <if test="status != null">
                STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="handleUid != null">
                #{handleUid,jdbcType=VARCHAR},
            </if>
            <if test="insId != null">
                #{insId,jdbcType=INTEGER},
            </if>
            <if test="taskActivityId != null">
                #{taskActivityId,jdbcType=VARCHAR},
            </if>
            <if test="userUid != null">
                #{userUid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartbpm.entity.DhTaskHandler">
        update DH_TASK_HANDLER
        <set>
            <if test="insId != null">
                INS_ID = #{insId,jdbcType=INTEGER},
            </if>
            <if test="taskActivityId != null">
                TASK_ACTIVITY_ID = #{taskActivityId,jdbcType=VARCHAR},
            </if>
            <if test="userUid != null">
                USER_UID = #{userUid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where HANDLE_UID = #{handleUid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.desmart.desmartbpm.entity.DhTaskHandler">
        update DH_TASK_HANDLER
        set INS_ID = #{insId,jdbcType=INTEGER},
        TASK_ACTIVITY_ID = #{taskActivityId,jdbcType=VARCHAR},
        USER_UID = #{userUid,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=VARCHAR}
        where HANDLE_UID = #{handleUid,jdbcType=VARCHAR}
    </update>

    <select id="listActiveRecordsByInsIdAndActivityBpdId" resultMap="BaseResultMap">
	    select <include refid="Base_Column_List"/> from dh_task_handler
	    where ins_id = #{insId} and TASK_ACTIVITY_ID = #{taskActivityId} and status = 'on'
    </select>
    
    <insert id="insertBatch"  parameterType="list">
        insert into dh_task_handler (<include refid="Base_Column_List"/>)
        <foreach collection="list" item="item" index="index"  close=")" open="(" separator="union">
            select
            #{item.handleUid},
            #{item.insId},
            #{item.taskActivityId},
            #{item.userUid},
            #{item.status}
            from dual
        </foreach>
    </insert>

	<select id="listByInsIdAndTaskActivityId" resultType="com.desmart.desmartbpm.entity.DhTaskHandler">
	    select dth.*,su.user_name as userName from dh_task_handler dth
	    left join sys_user su on dth.user_uid = su.user_uid
	    where dth.ins_id = #{insId} and dth.TASK_ACTIVITY_ID = #{taskActivityId} and dth.status = 'on'
    </select>
</mapper>