<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhTaskExceptionMapper" >

    <sql id="base_column">
        ID, TASK_UID, STEP_UID, INS_UID, CREATE_TIME,
        DATA_FOR_SUBMIT_TASK, ERROR_MESSAGE, DIL_UID,
        STATUS, RETRY_COUNT, last_retry_time
    </sql>

    <insert id="save" parameterType="com.desmart.desmartbpm.entity.DhTaskException">
        insert into DH_TASK_EXCEPTION
        (<include refid="base_column"/>)
        values (
        #{id}, #{taskUid}, #{stepUid}, #{insUid}, sysdate, #{dataForSubmitTask}, #{errorMessage}, #{dilUid}, #{status}, 0, sysdate
        )
    </insert>
    <delete id="removeByPrimaryKey" parameterType="string">
        delete from DH_TASK_EXCEPTION
        where id = #{id}
    </delete>


    <select id="qureyByPrimaryKey" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhTaskException">
        select <include refid="base_column"/> from DH_TASK_EXCEPTION
        where id = #{id}
    </select>

    <select id="queryByTaskUidAndStepUid" parameterType="map" resultType="com.desmart.desmartbpm.entity.DhTaskException">
        select <include refid="base_column"/> from DH_TASK_EXCEPTION
        where task_uid = #{taskUid} and step_uid = #{stepUid}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartbpm.entity.DhTaskException">
        update DH_TASK_EXCEPTION
        <set>
            <if test="stepUid != null">
                step_uid = #{stepUid},
            </if>
            <if test="errorMessage != null">
                error_message = #{errorMessage},
            </if>
            <if test="dilUid != null">
                dil_uid = #{dilUid},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="retryCount != null">
                retry_Count = #{retryCount},
            </if>
            last_retry_time = sysdate
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.desmart.desmartbpm.entity.DhTaskException">
        update DH_TASK_EXCEPTION
        set
            TASK_UID = #{taskUid},
            STEP_UID = #{stepUid},
            INS_UID = #{insUid},
            DATA_FOR_SUBMIT_TASK = #{dataForSubmitTask},
            ERROR_MESSAGE = #{errorMessage},
            DIL_UID = #{dilUid},
            STATUS = #{status},
            RETRY_COUNT = #{retryCount},
            last_retry_time = sysdate
        where id = #{id}
    </update>




</mapper>