<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhTriggerExceptionMapper" >

    <sql id="base_column">
        ID, TASK_ID, STEP_ID, INS_ID, CREATE_TIME,
        MQ_MESSAGE, ERROR_MESSAGE, REQUEST_PARAM,
        STATUS, RETRY_COUNT, task_uid
    </sql>

    <insert id="save" parameterType="com.desmart.desmartbpm.entity.DhTriggerException">
        insert into DH_TRIGGER_EXCEPTION
        (<include refid="base_column"/>)
        values (
        #{id}, #{taskId}, #{stepId}, #{insId}, sysdate, #{mqMessage}, #{errorMessage}, #{requestParam}, #{status}, 0, #{taskUid}
        )
    </insert>


    <select id="qureyByPrimaryKey" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhTriggerException">
        select <include refid="base_column"/> from DH_TRIGGER_EXCEPTION
        where id = #{id}
    </select>

    <select id="queryByTaskUidAndStepUid" parameterType="map" resultType="com.desmart.desmartbpm.entity.DhTriggerException">
        select <include refid="base_column"/> from DH_TRIGGER_EXCEPTION
        where task_uid = #{taskUid} and step_id = #{stepUid}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartbpm.entity.DhTriggerException">
        update DH_TRIGGER_EXCEPTION
        <set>
            <if test="errorMessage != null">
                error_message = #{errorMessage},
            </if>
            <if test="requestParam != null">
                request_param = #{requestParam},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="retryCount != null">
                retry_Count = #{retryCount},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>