<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhTriggerInterfaceMapper">
	<resultMap id="DhTriggerInterfaceMap" type="java.util.Map">
		<result column="TIN_UID" property="tinUid" />
		<result column="TRI_UID" property="triUid" />
		<result column="INT_UID" property="intUid" />
		<result column="DYN_UID" property="dynUid" />
		<result column="CREATOR" property="creator" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="ACTIVITY_ID" property="activityId" />
		<result column="PARA_NAME" property="paraName" />
		<result column="FLD_CODE_NAME" property="fldCodeName" />
	</resultMap>

	<resultMap id="DhTriggerInterfaceAndFormMap"
		type="com.desmart.desmartbpm.entity.DhTriggerInterface">
		<result column="TIN_UID" property="tinUid" />
		<result column="TRI_UID" property="triUid" />
		<result column="INT_UID" property="intUid" />
		<result column="DYN_UID" property="dynUid" />
		<result column="CREATOR" property="creator" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="ACTIVITY_ID" property="activityId" />
		<result column="PARA_NAME" property="paraName" />
		<result column="FLD_CODE_NAME" property="fldCodeName" />
		<association property="bpmForm"
			javaType="com.desmart.desmartbpm.entity.BpmForm">
			<id column="DYN_UID" property="dynUid" />
			<result column="DYN_TITLE" property="dynTitle" />
			<result column="DYN_DESCRIPTION" property="dynDescription" />
			<result column="DYN_CONTENT" property="dynContent" />
			<result column="PRO_UID" property="proUid" />
			<result column="PRO_VERSION" property="proVersion" />
			<result column="CREATOR" property="creator" />
			<result column="CREATE_TIME" property="createTime" />
			<result column="DYN_WEBPAGE" property="dynWebpage" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		TIN_UID,TRI_UID,INT_UID,
		DYN_UID,CREATOR,CREATE_TIME,ACTIVITY_ID,
		PARA_NAME,FLD_CODE_NAME
	</sql>

	<sql id="Condition_Column_List">
		T.TIN_UID,T.TRI_UID,T.INT_UID,
		T.DYN_UID,T.CREATOR,T.CREATE_TIME,T.ACTIVITY_ID,
		T.PARA_NAME,T.FLD_CODE_NAME,M.DYN_TITLE
	</sql>

	<select id="selectByCondition" resultType="com.desmart.desmartbpm.entity.DhTriggerInterface"
		parameterType="com.desmart.desmartbpm.entity.DhTriggerInterface">
		SELECT
		<include refid="Base_Column_List" />
		FORM
		DH_TRIGGER_INTERFACE
		<where>
			<if test="tinUid != null and tinUid != ''">
				TIN_UID = #{tinUid}
			</if>
			<if test="triUid != null and triUid != ''">
				AND TRI_UID = #{triUid}
			</if>
			<if test="intUid != null and intUid != ''">
				AND INT_UID = #{intUid}
			</if>
			<if test="dynUid != null and dynUid !=''">
				AND DYN_UID = #{dynUid}
			</if>
			<if test="creator != null and creator !=''">
				AND CREATOR = #{creator}
			</if>
			<if test="createTime != null">
				AND CREATE_TIME = #{createTime}
			</if>
			<if test="actcUid != null and actcUid !=''">
				AND ACTIVITY_ID = #{activityId}
			</if>
			<if test="paraName != null and paraName !=''">
				AND PARA_NAME = #{paraName}
			</if>
			<if test="fldCodeName != null and fldCodeName !=''">
				AND FLD_CODE_NAME = #{fldCodeName}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultType="com.desmart.desmartbpm.entity.DhTriggerInterface"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FORM
		DH_TRIGGER_INTERFACE
		<where>
			TIN_UID = #{tinUid}
		</where>
	</select>

	<select id="selectByTriggerActivity" resultMap="DhTriggerInterfaceAndFormMap"
		parameterType="com.desmart.desmartbpm.entity.DhTriggerInterface">
		SELECT
		<include refid="Condition_Column_List" />
		FROM
		DH_TRIGGER_INTERFACE T LEFT JOIN BPM_FORM M
		ON T.DYN_UID = M.DYN_UID
		<where>
			TRI_UID = #{triUid}
			AND
			ACTIVITY_ID = #{activityId}
		</where>
	</select>

	<insert id="insert" parameterType="com.desmart.desmartbpm.entity.DhTriggerInterface">
		INSERT INTO
		DH_TRIGGER_INTERFACE
		(
		<include refid="Base_Column_List" />
		)
		VALUES
		(
		#{tinUid},
		#{triUid},
		#{intUid},
		#{dynUid},
		#{creator},
		sysdate,
		#{activityId},
		#{paraName},
		#{fldCodeName}
		)
	</insert>

	<insert id="insertBatch" parameterType="list">
		INSERT INTO DH_TRIGGER_INTERFACE (
		<include refid="Base_Column_List" />
		)
		<foreach collection="tinList" item="item" index="index" close=")"
			open="(" separator="union all">
			SELECT
			#{item.tinUid},
			#{item.triUid},
			#{item.intUid},
			#{item.dynUid},
			#{item.creator},
			sysdate,
			#{item.activityId},
			#{item.paraName},
			#{item.fldCodeName}
			FROM DUAL
		</foreach>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE
		FORM
		DH_TRIGGER_INTERFACE
		<where>
			TIN_UID = #{tinUid}
		</where>
	</delete>

	<update id="updateByPrimaryKey" parameterType="java.lang.String">
		UPDATE
		DH_TRIGGER_INTERFACE
		<set>
			<trim suffixOverrides=",">
				<if test="tinUid != null and tinUid != ''">
					TIN_UID = #{tinUid}
				</if>
				<if test="triUid != null and triUid != ''">
					TRI_UID = #{triUid}
				</if>
				<if test="intUid != null and intUid != ''">
					INT_UID = #{intUid}
				</if>
				<if test="dynUid != null and dynUid !=''">
					DYN_UID = #{dynUid}
				</if>
				<if test="creator != null and creator!=''">
					CREATOR = #{creator}
				</if>
				<if test="createTime != null">
					CREATE_TIME = #{createTime}
				</if>
				<if test="actcUid != null and actcUid !=''">
					ACTIVITY_ID = #{activityId}
				</if>
				<if test="paraName != null and paraName !=''">
					PARA_NAME = #{paraName}
				</if>
				<if test="fldCodeName != null and fldCodeName !=''">
					FLD_CODE_NAME = #{fldCodeName}
				</if>
			</trim>
		</set>
		<where>
			<trim prefix="WHERE">
				TIN_UID = #{tinUid}
			</trim>
		</where>
	</update>

	<update id="updateBatch" parameterType="list">
		<foreach collection="tinList" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE DH_TRIGGER_INTERFACE
			<set>
				FLD_CODE_NAME = #{item.fldCodeName}
			</set>
			<where>
				TRI_UID = #{item.triUid} 
				AND 
				ACTIVITY_ID = #{item.activityId}
				AND
				PARA_NAME = #{item.paraName}
			</where>
		</foreach>
	</update>

</mapper>