<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.OperLogMapper">
	<!-- <resultMap id="logMap" type="java.util.Map">
		<result column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="HOST" property="host" />
		<result column="LOG_TYPE" property="logType" />
		<result column="REQUEST_PARAM" property="requestParam" />
		<result column="RESPONSE_PARAM" property="responseParam" />
		<result column="METHOD_DESCRIPTIONH" property="methodDescription" />
		<result column="PATH" property="path" />
		<result column="CREATE_TIME" property="creatTime" />
		<result column="ATTACH" property="attach" />
	</resultMap> -->

	<sql id="base_column">
		ID,
		USER_ID,
		USER_NAME,
		HOST,
		LOG_TYPE,
		REQUEST_PARAM,
		RESPONSE_PARAM,
		METHOD_DESCRIPTION,
		PATH,
		CREATE_TIME,
		ATTACH
	</sql>
	<sql id="relation_column">
		ol.ID,
		ol.USER_ID,
		ol.USER_NAME,
		ol.HOST,
		ol.LOG_TYPE,
		ol.REQUEST_PARAM,
		ol.RESPONSE_PARAM,
		ol.METHOD_DESCRIPTION,
		ol.PATH,
		ol.CREATE_TIME,
		ol.ATTACH
	</sql>

	<insert id="save" parameterType="com.desmart.desmartbpm.entity.DhOperLog">
		insert into DH_OPERLOG (
		<include refid="base_column" />
		) values (
			#{id},#{userId},#{userName},#{host},#{logType},
			#{requestParam},#{responseParam},#{methodDescription},
			#{path},sysdate,#{attach}
		)
	</insert>
	
	<select id="getOperaLogListByCondition" resultType="com.desmart.desmartbpm.entity.DhOperLog"
			parameterType="com.desmart.desmartbpm.entity.DhOperLog">
		select <include refid="base_column" />
		from DH_OPERLOG 
		<where>
		<if test=" userId != null and userId !='' ">
			and user_Id = #{userId}
		</if>
		<if test=" logType !=null and logType !='' ">
			and log_Type = #{logType}
		</if>
		<if test=" startTime != null and startTime != '' and endTime != null and endTime !='' ">
			AND create_time &gt;=
				to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
				AND create_time &lt;=
				to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
		</if>
		</where>
	</select>


</mapper>