<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.1.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <bean id="myRealm" class="com.desmart.desmartportal.shiro.MyRealm"/>

    <bean id="documentAuthorizationFileter" class="com.desmart.desmartbpm.shiro.DocumentAclFilter"/>

    <!-- Shiro安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"></property>
    </bean>

    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <!-- 登录url -->
        <!-- <property name="loginUrl" value="/user/logins.do" /> -->
        <property name="loginUrl" value="/login.jsp" />
        <!-- 请求的而资源超过权限时，跳转的url -->
        <property name="unauthorizedUrl" value="/refuse.jsp" />
        <!-- 自定义过滤器 -->
        <property name="filters">
            <util:map>
                <entry key="documentAuthorizationFileter" value-ref="documentAuthorizationFileter"/>
            </util:map>
        </property>
        <!-- 自定义权限配置 -->
        <property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource" />
    </bean>

    <!--自定义filterChainDefinitionMap -->
    <bean id="chainDefinitionSectionMetaSource" class="com.desmart.desmartbpm.shiro.ChainDefinitionSectionMetaSource">
        <!-- anon表示不需要权限， authc表示需要登录 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- 对静态资源设置匿名访问 -->
			    /resources/desmartbpm/** = anon
			    /resources/desmartportal/** = anon
			    /resources/desmartsystem/** = anon
               <!--  /user/login.do=anon -->
                /user/logins=anon
                /user/index=anon
                /test/mqtest=anon
                /unauthorizedUrl.do=anon
                /bpmindex=authc
                <!-- /document/open.do=authc,documentAuthorizationFileter -->
                <!-- /user/menus=perms[sysUser:user]   -->
                <!-- portal模块不拦截,默认数据库中所有用户都可以进入此模块 -->
                /user/**=authc
                /menus/**=authc
                /formSet/**=authc
                /taskInstance/**=authc
                /dhRoutingRecord/**=authc
                /processInstance/**=authc
                /drafts/**=authc
                /dhApprovalOpinion/**=authc
                /agent/**=authc
                /accessoryFileUpload/**=authc
                /processCategory/**=authc
                <!-- 表单管理 -->
                /formManage/index=perms[formManage:index]
                /publicForm/index=perms[publicForm:index]
                <!-- 流程管理控制 -->
                /processCategory/index=perms[processCategory:index]
                /processDefinition/index=perms[processDefinition:index]
                <!-- 报表管理 -->
                /dhProcessRetrieve/processRetrieve=perms[dhProcessRetrieve:processRetrieve]
                <!-- 接口管理 -->
                /interfaces/index=perms[interfaces:index]
                <!-- 触发器管理 -->
                /trigger/index=perms[trigger:index]
                <!-- 定时任务管理 -->
                /quarz/quarzList=perms[quarz:quarzList]
                <!-- 流程实例管理 -->
                
                <!-- 系统管理 -->
                /sysDictionary/dictionary=perms[sysDictionary:dictionary]
                /sysUser/organization=perms[sysUser:organization]
                /sysUser/user=perms[sysUser:user]
                /sysRole/role=perms[sysRole:role]
                /sysResource/resource_list=perms[sysResource:resource_list]
                /sysRole/system_role=perms[sysRole:system_role]
                /sysTeam/group=perms[sysTeam:group]
                /sysDictionary/dictCdList=perms[sysDictionary:dictCdList]
                /sysUser/globalConfig=perms[sysUser:globalConfig]
                /dhNotifyTemplate/notifyTemplate=perms[dhNotifyTemplate:notifyTemplate]
                <!-- /menus/**=perms[menus:*]  --> 
            </value>
        </property>
    </bean>

    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>

    <!-- 会话管理器 -->
    <!-- 全局的会话信息默认不设置是30分钟, 单位毫秒  sessionValidationSchedulerEnabled参数就是是否开启扫描  -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="17200000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>

    <!--
   开启Shiro的注解(如@RequiresRoles，@RequiresPermissions)，需借助SpringAOP扫描使用Shiro注解的类，
   并在必要时进行安全逻辑验证
    -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>