<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmActivityMetaMapper">
	<sql id="Base_Column_List">
		ACTIVITY_ID, ACTIVITY_BPD_ID, ACTIVITY_GROUP_NAME, ACTIVITY_NAME, ACTIVITY_TO, ACTIVITY_TYPE, BPD_ID,
		BPM_TASK_TYPE, CREATE_TIME, CREATOR, DEEP_LEVEL, EXTERNAL_ID, HANDLE_SIGN_TYPE, LOOP_TYPE, MI_ORDER,
		NOTE_TYPE, PARENT_ACTIVITY_BPD_ID, PO_ID, SNAPSHOT_ID, SNAPSHOT_UID, STEP_ID, TYPE, UPDATE_BY, UPDATE_TIME,
		ACTIVITY_ALT_NAME, PRO_APP_ID
	</sql>

	<insert id="save" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		insert into BPM_ACTIVITY_META (
			ACTIVITY_ID,
			ACTIVITY_BPD_ID,
			ACTIVITY_GROUP_NAME,
			ACTIVITY_NAME,
			ACTIVITY_TO,
			ACTIVITY_TYPE,
			BPD_ID,
			BPM_TASK_TYPE,
			CREATE_TIME,
			CREATOR,
			DEEP_LEVEL,
			EXTERNAL_ID,
			HANDLE_SIGN_TYPE,
			LOOP_TYPE,
			MI_ORDER,
			NOTE_TYPE,
			PARENT_ACTIVITY_BPD_ID,
			PO_ID,
			SNAPSHOT_ID,
			SNAPSHOT_UID,
			STEP_ID,
			TYPE,
			UPDATE_BY,
			UPDATE_TIME,
			ACTIVITY_ALT_NAME,
			PRO_APP_ID
		)
		values (
			#{activityId},
			#{activityBpdId},
			#{activityGroupName},
			#{activityName},
			#{activityTo},
			#{activityType},
			#{bpdId},
			#{bpmTaskType},
			sysdate,
			#{creator},
			#{deepLevel},
			#{externalId},
			#{handleSignType},
			#{loopType},
			#{miOrder},
			#{noteType},
			#{parentActivityBpdId},
			#{poId},
			#{snapshotId},
			#{snapshotUid},
			#{stepId},
			#{type},
			#{updateBy},
			#{updateTime},
			#{activityAltName},
			#{proAppId}
		)
	</insert>

	<select id="queryByBpmActivityMetaSelective" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta"
		resultType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		select
		<include refid="Base_Column_List" />
		from BPM_ACTIVITY_META
		<where>
			<if test="proAppId != null">
			pro_app_id = #{proAppId}
			</if>
			<if test="bpdId != null">
				and bpd_id = #{bpdId}
			</if>
			<if test="snapshotId != null">
				and snapshot_id = #{snapshotId}
			</if>
			<if test="activityBpdId != null">
				and ACTIVITY_BPD_ID = #{activityBpdId}
			</if>
			<if test="bpmTaskType != null">
			    and bpm_task_type = #{bpmTaskType}
			</if>
			<if test="activityType != null">
			    and activity_type = #{activityType}
			</if>
			<if test="type != null">
			    and type = #{type}
			</if>
		</where>
	</select>

	<select id="queryByActivityBpdIdAndSnapshotUid" resultType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		select
		<include refid="Base_Column_List" />
		from BPM_ACTIVITY_META
		where activity_bpd_id = #{activityBpdId} and SNAPSHOT_UID = #{snapshotUid}
	</select>

	<delete id="batchRemoveByPrimaryKey" parameterType="list">
		delete from BPM_ACTIVITY_META
		where activity_id in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item.activityId}
		</foreach>
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartbpm.entity.BpmActivityMeta">
		update BPM_ACTIVITY_META
		<set>
			<if test="activityBpdId != null">
				ACTIVITY_BPD_ID = #{activityBpdId},
			</if>

			<if test="activityGroupName != null">
				ACTIVITY_GROUP_NAME = #{activityGroupName},
			</if>
			<if test="activityName != null">
				ACTIVITY_NAME = #{activityName},
			</if>

			<if test="activityTo != null">
				ACTIVITY_TO = #{activityTo},
			</if>
			<if test="activityType != null">
				ACTIVITY_TYPE = #{activityType},
			</if>

			<if test="bpdId != null">
				BPD_ID = #{bpdId},
			</if>
			<if test="bpmTaskType != null">
				BPM_TASK_TYPE = #{bpmTaskType},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="creator != null">
				CREATOR = #{creator},
			</if>
			<if test="deepLevel != null">
				DEEP_LEVEL = #{deepLevel},
			</if>
			<if test="externalId != null">
				EXTERNAL_ID = #{externalId},
			</if>
			<if test="handleSignType != null">
				HANDLE_SIGN_TYPE = #{handleSignType},
			</if>
			<if test="loopType != null">
				LOOP_TYPE = #{loopType},
			</if>
			<if test="miOrder != null">
				MI_ORDER = #{miOrder},
			</if>
			<if test="noteType != null">
				NOTE_TYPE = #{noteType},
			</if>
			<if test="parentActivityBpdId != null">
				PARENT_ACTIVITY_BPD_ID = #{parentActivityBpdId},
			</if>
			<if test="poId != null">
				PO_ID = #{poId},
			</if>
			<if test="snapshotId != null">
				SNAPSHOT_ID = #{snapshotId},
			</if>
			<if test="snapshotUid != null">
				SNAPSHOT_UID = #{snapshotUid},
			</if>
			<if test="stepId != null">
				STEP_ID = #{stepId},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy},
			</if>
			<if test="activityAltName != null">
				ACTIVITY_ALT_NAME = #{activityAltName},
			</if>
			<if test="proAppId != null">
				PRO_APP_ID = #{proAppId},
			</if>
			UPDATE_TIME = sysdate
		</set>
		where ACTIVITY_ID = #{activityId}
	</update>
</mapper>