<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmFormFieldMapper" >
    <sql id="base_column">
    fld_uid,fld_code_id,fld_index,fld_name,fld_description,fld_type,fld_size,multi_separator,multi_value,form_uid
    </sql>
    <insert id="saveFormField" parameterType="list">
		insert into bpm_form_field(<include refid="base_column"/>)
		<foreach collection="fields" item="item" index="index" close=")" open="(" separator="union">
			select
			#{item.fldUid},
			#{item.fldCodeId},
			#{item.fldIndex},
			#{item.fldName},
			#{item.fldDescription},
			#{item.fldType},
			#{item.fldSize},
			#{item.multiSeparator},
			#{item.multiValue},
			#{item.formUid}
			from dual
		</foreach>
	</insert> 
	
	<delete id="deleteFormField" parameterType="String">
		delete from bpm_form_field where form_uid = #{formUid}
	</delete>
	
	<select id="queryFormFieldByFormUid" parameterType="String" resultType="com.desmart.desmartbpm.entity.BpmFormField">
		select <include refid="base_column"/> from bpm_form_field where form_uid = #{dynUid}
	</select>
</mapper>