<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.BpmGlobalConfigDao" >
    <sql id="Base_Column_List">
        CONFIG_ID, BPM_ADMIN_NAME, BPM_ADMIN_PSW, BPM_CLIENT_TIMEOUT,
        BPM_SERVER_HOST, BPMFORMS_HOST, BPMFORMS_WEB_CONTEXT,
        CONFIG_NAME, CONFIG_STATUS, CREATE_TIME, GMT_TIME_ZONE,
        HTTP_MAX_CONNECTION, PRE_ROUTE_MAX_CONNECTION, SCHEDULER_HOST,
        UPDATE_TIME, BPM_API_HOST
    </sql>

    <select id="queryActiveConfig" resultType="com.desmart.desmartbpm.entity.BpmGlobalConfig">
        select <include refid="Base_Column_List"></include> from BPM_GLOBAL_CONFIG
        where config_status = 'on'
    </select>


</mapper>