<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhInterfaceDao">

	<resultMap type="java.util.Map" id="interfaceMap">
		<result column="INT_UID"  					property="intUid"/>
		<result column="INT_TITLE"  			property="intTitle"/>
		<result column="INT_DESCRIPTION"  			property="intDescription"/>
		<result column="INT_TYPE"  			property="intType"/>
		<result column="INT_URL"  			property="intUrl"/>
		<result column="INT_CALL_METHOD"  			property="intCallMethod"/>
		<result column="INT_LOGIN_USER"  			property="intLoginUser"/>
		<result column="INT_LOGIN_PWD"  			property="intLoginPwd"/>
		<result column="INT_STATUS"  			property="intStatus"/>
	</resultMap>

	<sql id="Base_Column_List">
		INT_UID, INT_TITLE, INT_DESCRIPTION,
		INT_TYPE, INT_URL, INT_CALL_METHOD,
		INT_LOGIN_USER, INT_LOGIN_PWD, INT_STATUS
	</sql>

	<select id="listAll" resultType="com.desmart.desmartbpm.entity.DhInterface">
		SELECT
		<include refid="Base_Column_List" />
		FROM DH_INTERFACE
	</select>
	
	<insert id="save" parameterType="com.desmart.desmartbpm.entity.DhInterface">
		INSERT INTO
		DH_INTERFACE
		(<include refid="Base_Column_List"/>) 
		VALUES
		(
			#{intUid},
			#{intTitle},
			#{intDescription},
			#{intType},
			#{intUrl},
			#{intCallMethod},
			#{intLoginUser},
			#{intLoginPwd},
			#{intStatus}
		)
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM DH_INTERFACE 
		<where>
			INT_UID = #{intUid}
		</where>
	</delete>
	
	<select id="listByTitle" resultType="com.desmart.desmartbpm.entity.DhInterface" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM DH_INTERFACE
		<where>
			INT_TITLE like '%' || #{intTitle} || '%'
		</where>
	</select>
	
</mapper>