<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhObjectPermissionMapper" >
    <sql id="base_column" >
        OP_UID, PRO_APP_ID, PRO_UID, PRO_VER_UID, STEP_UID, OP_PARTICIPATE_TYPE, OP_PARTICIPATE_UID, 
        OP_OBJ_TYPE, OP_OBJ_UID, OP_ACTION
    </sql>
  
    <insert id="save" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission" >
        insert into DH_OBJECT_PERMISSION (<include refid="base_column"/>)
        values (
	        #{opUid}, #{proAppId}, #{proUid}, 
	        #{proVerUid}, #{stepUid}, #{opParticipateType}, 
	        #{opParticipateUid}, #{opObjType}, #{opObjUid}, 
	        #{opAction}
        )
    </insert>
    
    <insert id="saveBatch"  parameterType="list">
        insert into DH_OBJECT_PERMISSION (<include refid="base_column"/>)
        <foreach collection="list" item="item" index="index"  close=")" open="(" separator="union">
	        select
		        #{item.opUid}, #{item.proAppId}, #{item.proUid},
				#{item.proVerUid}, #{item.stepUid}, #{item.opParticipateType},
				#{item.opParticipateUid}, #{item.opObjType}, #{item.opObjUid},
				#{item.opAction}
	        from dual
        </foreach>
    </insert>  
    
    <delete id="delectByDhObjectPermissionSelective" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission" >
        delete from DH_OBJECT_PERMISSION
        <where>
            <if test="opUid != null">
                OP_UID = #{opUid}
            </if>
            <if test="proAppId != null">
                and pro_app_id = #{proAppId}
            </if>
            <if test="proUid != null">
                and pro_uid = #{proUid}
            </if>
            <if test="proVerUid != null">
                and pro_ver_uid  = #{proVerUid}
            </if>
            <if test="stepUid != null">
                and STEP_UID = #{stepUid}
            </if>
            <if test="opParticipateType != null">
                and op_participate_type = #{opParticipateType}
            </if>
            <if test="opParticipateUid != null">
                and op_participate_uid = #{opParticipateUid}
            </if>
            <if test="opObjType != null">
                and op_obj_type = #{opObjType}
            </if>
            <if test="opObjUid != null">
                and op_obj_uid = #{opObjUid}
            </if>
            <if test="opAction != null">
                and op_action = #{opAction}
            </if>
        </where>
    </delete>
    
    <select id="listByDhObjectPermissionSelective" parameterType="com.desmart.desmartbpm.entity.DhObjectPermission" resultType="com.desmart.desmartbpm.entity.DhObjectPermission">
        select <include refid="base_column"/> from dh_object_permission
        <where>
            <if test="opUid != null">
                OP_UID = #{opUid}
            </if>
            <if test="proAppId != null">
                and pro_app_id = #{proAppId}
            </if>
            <if test="proUid != null">
                and pro_uid = #{proUid}
            </if>
            <if test="proVerUid != null">
                and pro_ver_uid  = #{proVerUid}
            </if>
            <if test="stepUid != null">
                and STEP_UID = #{stepUid}
            </if>
            <if test="opParticipateType != null">
                and op_participate_type = #{opParticipateType}
            </if>
            <if test="opParticipateUid != null">
                and op_participate_uid = #{opParticipateUid}
            </if>
            <if test="opObjType != null">
                and op_obj_type = #{opObjType}
            </if>
            <if test="opObjUid != null">
                and op_obj_uid = #{opObjUid}
            </if>
            <if test="opAction != null">
                and op_action = #{opAction}
            </if>
        </where>
    </select>     
</mapper>