<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.DhProcessCategoryDao" >

    <sql id="base_column">
        CATEGORY_UID, CATEGORY_PARENT, CATEGORY_NAME, CATEGORY_ICON 
    </sql>
    
    <select id="queryByCategoryUid" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhProcessCategory">
        select <include refid="base_column"/> from DH_PROCESS_CATEGORY
        where category_uid = #{categoryUid}
    </select>
    
    <insert id="save" parameterType="com.desmart.desmartbpm.entity.DhProcessCategory">
        insert into DH_PROCESS_CATEGORY (<include refid="base_column"/>) 
        values(
            #{categoryUid}, #{categoryParent}, #{categoryName}, #{categoryIcon}
        )
    </insert>
    
    <select id="listByCategoryParent" parameterType="string" resultType="com.desmart.desmartbpm.entity.DhProcessCategory">
        select <include refid="base_column"/> from DH_PROCESS_CATEGORY
        where category_parent = #{categoryParent}
    </select>
    
    <select id="countByCategoryParentAndCategoryName" resultType="int">
        select count(1) from DH_PROCESS_CATEGORY
        where category_parent = #{categoryParent} and category_name = #{categoryName}
    </select>
    
</mapper>