<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartbpm.dao.SysRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.desmart.desmartbpm.entity.SysRoleResource" >
    <id column="MAP_UID" property="mapUid" jdbcType="VARCHAR" />
    <result column="ROLE_UID" property="roleUid" jdbcType="VARCHAR" />
    <result column="RESOURCE_UID" property="resourceUid" jdbcType="VARCHAR" />
    <result column="IS_SHOW" property="isShow" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    MAP_UID, ROLE_UID, RESOURCE_UID, IS_SHOW
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE_RESOURCE
    where MAP_UID = #{mapUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_ROLE_RESOURCE
    where MAP_UID = #{mapUid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.desmart.desmartbpm.entity.SysRoleResource" >
    insert into SYS_ROLE_RESOURCE (MAP_UID, ROLE_UID, RESOURCE_UID, 
      IS_SHOW)
    values (#{mapUid,jdbcType=VARCHAR}, #{roleUid,jdbcType=VARCHAR}, #{resourceUid,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.desmart.desmartbpm.entity.SysRoleResource" >
    insert into SYS_ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mapUid != null" >
        MAP_UID,
      </if>
      <if test="roleUid != null" >
        ROLE_UID,
      </if>
      <if test="resourceUid != null" >
        RESOURCE_UID,
      </if>
      <if test="isShow != null" >
        IS_SHOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mapUid != null" >
        #{mapUid,jdbcType=VARCHAR},
      </if>
      <if test="roleUid != null" >
        #{roleUid,jdbcType=VARCHAR},
      </if>
      <if test="resourceUid != null" >
        #{resourceUid,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartbpm.entity.SysRoleResource" >
    update SYS_ROLE_RESOURCE
    <set >
      <if test="roleUid != null" >
        ROLE_UID = #{roleUid,jdbcType=VARCHAR},
      </if>
      <if test="resourceUid != null" >
        RESOURCE_UID = #{resourceUid,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        IS_SHOW = #{isShow,jdbcType=DECIMAL},
      </if>
    </set>
    where MAP_UID = #{mapUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.desmart.desmartbpm.entity.SysRoleResource" >
    update SYS_ROLE_RESOURCE
    set ROLE_UID = #{roleUid,jdbcType=VARCHAR},
      RESOURCE_UID = #{resourceUid,jdbcType=VARCHAR},
      IS_SHOW = #{isShow,jdbcType=DECIMAL}
    where MAP_UID = #{mapUid,jdbcType=VARCHAR}
  </update>
</mapper>