<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartsystem.dao.DhInterfaceMapper">

	<resultMap type="java.util.Map" id="interfaceMap">
		<result column="INT_UID"  					property="intUid"/>
		<result column="INT_TITLE"  			property="intTitle"/>
		<result column="INT_DESCRIPTION"  			property="intDescription"/>
		<result column="INT_TYPE"  			property="intType"/>
		<result column="INT_URL"  			property="intUrl"/>
		<result column="INT_CALL_METHOD"  			property="intCallMethod"/>
		<result column="INT_LOGIN_USER"  			property="intLoginUser"/>
		<result column="INT_LOGIN_PWD"  			property="intLoginPwd"/>
		<result column="INT_STATUS"  			property="intStatus"/>
		<result column="CREATE_DATE"  			property="createDate"/>
		<result column="UPDATE_DATE"  			property="updateDate"/>
		
		<result column="INT_REQUEST_XML"  			property="intRequestXml"/>
		<result column="INT_RESPONSE_XML"  			property="intResponseXml"/>
		
	</resultMap>

	<sql id="Base_Column_List">
		INT_UID, INT_TITLE, INT_DESCRIPTION,
		INT_TYPE, INT_URL, INT_CALL_METHOD,
		INT_LOGIN_USER, INT_LOGIN_PWD, INT_STATUS,
		CREATE_DATE, UPDATE_DATE,INT_REQUEST_XML,INT_RESPONSE_XML
	</sql>

	<select id="listAll" resultType="com.desmart.desmartsystem.entity.DhInterface">
		SELECT
		<include refid="Base_Column_List" />
		FROM DH_INTERFACE di ORDER BY di.create_date desc
	</select>
	
	<insert id="save" parameterType="com.desmart.desmartsystem.entity.DhInterface">
		INSERT INTO
		DH_INTERFACE
		(<include refid="Base_Column_List"/>) 
		VALUES
		(
			#{intUid},
			#{intTitle},
			#{intDescription},
			#{intType},
			#{intUrl},
			#{intCallMethod},
			#{intLoginUser},
			#{intLoginPwd},
			#{intStatus},
			sysdate,
			#{intRequestXml,jdbcType=VARCHAR},
			#{intResponseXml,jdbcType=VARCHAR},
			sysdate
		)
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM DH_INTERFACE 
		<where>
			INT_UID = #{intUid} 
		</where>
	</delete>
	
	<select id="selectByCondition" resultType="com.desmart.desmartsystem.entity.DhInterface" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM DH_INTERFACE
		<where>
			<if test="intTitle != null and intTitle!=''">
			INT_TITLE like '%' || #{intTitle} || '%' 
			</if>
			<if test="intType != null and intType!=''">
			AND INT_TYPE = #{intType}
			</if>
			<if test="intStatus != null and intStatus!=''">
			AND INT_STATUS = #{intStatus}
			</if>
		</where>
		order by UPDATE_DATE desc
	</select>
	
	<update id="update" parameterType="com.desmart.desmartsystem.entity.DhInterface">
		UPDATE DH_INTERFACE
		<set>
			<if test="intTitle != null and intTitle != ''">
				INT_TITLE = #{intTitle},
			</if>
			<if test="intDescription != null and intDescription != ''">
				INT_DESCRIPTION = #{intDescription},
			</if>
			<if test="intType != null and intType != ''">
				INT_TYPE = #{intType},
			</if>
			<if test="intUrl != null and intUrl != ''">
				INT_URL = #{intUrl},
			</if>
			<if test="intCallMethod != null and intCallMethod != ''">
				INT_CALL_METHOD = #{intCallMethod},
			</if>
			<if test="intLoginUser != null and intLoginUser != ''">
				INT_LOGIN_USER = #{intLoginUser},
			</if>
			<if test="intLoginPwd != null and intLoginPwd != ''">
				INT_LOGIN_PWD = #{intLoginPwd},
			</if>
			<if test="intStatus != null and intStatus != ''">
				INT_STATUS = #{intStatus},
			</if>
			<if test="intRequestXml != null and intRequestXml != ''">
				INT_REQUEST_XML = #{intRequestXml},
			</if>
			<if test="intResponseXml != null and intResponseXml != ''">
				INT_RESPONSE_XML = #{intResponseXml},
			</if>
			  UPDATE_DATE = sysdate
			<where>
				INT_UID = #{intUid}
			</where>
		</set>	
	</update>
	
	<select id="selectByintUid" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.DhInterface">
		SELECT 
		<include refid="Base_Column_List"></include>
		FROM DH_INTERFACE
		<where>
			INT_UID = #{intUid}
		</where>
	</select>
	
</mapper>