<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartsystem.dao.DhInterfaceParameterMapper">

	<resultMap type="java.util.Map" id="interfaceParameterMap">
		<result column="PARA_UID"  					property="paraUid"/>
		<result column="PARA_INDEX"  			property="paraIndex"/>
		<result column="PARA_NAME"  			property="paraName"/>
		<result column="PARA_DESCRIPTION"  			property="paraDescription"/>
		<result column="PARA_TYPE"  			property="paraType"/>
		<result column="PARA_SIZE"  			property="paraSize"/>
		<result column="MULTI_SEPARATOR"  			property="multiSeparator"/>
		<result column="MULTI_VALUE"  			property="multiValue"/>
		<result column="IS_MUST"  			property="isMust"/>
		<result column="INT_UID"  			property="intUid"/>
		
		
		<result column="PARA_PARENT_NAME"  			property="paraParentName"/>
		<result column="PARA_PARENT"  			property="paraParent"/>
		<result column="DATE_FORMAT"  			property="dateFormat"/>
		
		
	</resultMap>

	<sql id="Base_Column_List">
		PARA_UID, PARA_INDEX, PARA_NAME,
		PARA_DESCRIPTION, PARA_TYPE, PARA_SIZE,
		MULTI_SEPARATOR, MULTI_VALUE, IS_MUST, INT_UID,PARA_PARENT,DATE_FORMAT
	</sql>
	
	<sql id="ListAll_Column">
		ip.PARA_UID,ip.PARA_INDEX, ip.PARA_NAME,
		ip.PARA_DESCRIPTION, ip.PARA_TYPE, ip.PARA_SIZE,
		ip.MULTI_SEPARATOR, ip.MULTI_VALUE, ip.IS_MUST, ip.INT_UID,ip.PARA_PARENT,ip.DATE_FORMAT,ip1.PARA_NAME as paraParentName
	</sql>
	
	<select id="listAll" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.DhInterfaceParameter">
		SELECT <include refid="ListAll_Column" /> FROM DH_INTERFACE_PARAMETER ip LEFT JOIN DH_INTERFACE_PARAMETER ip1 on ip.para_parent=ip1.para_parent
		<where>
			ip.INT_UID = #{intUid}
		</where>
	</select>
	
	<insert id="save" parameterType="com.desmart.desmartsystem.entity.DhInterfaceParameter">
		INSERT INTO
		DH_INTERFACE_PARAMETER
		(<include refid="Base_Column_List"/>) 
		VALUES
		(
			#{paraUid},
			#{paraIndex},
			#{paraName},
			#{paraDescription},
			#{paraType},
			#{paraSize},
			#{multiSeparator},
			#{multiValue},
			#{isMust},
			#{intUid},
			#{paraParent},
			#{paraXml,jdbcType=VARCHAR},
			#{dateFormat,jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM DH_INTERFACE_PARAMETER 
		<where>
			PARA_UID = #{paraUid}
		</where>
	</delete>
	
	<update id="update" parameterType="com.desmart.desmartsystem.entity.DhInterfaceParameter">
		UPDATE DH_INTERFACE_PARAMETER
		<set>
			<if test="paraIndex != null">
				PARA_INDEX = #{paraIndex},
			</if>
			<if test="paraName != null">
				PARA_NAME = #{paraName},
			</if>
			<if test="paraDescription != null">
				PARA_DESCRIPTION = #{paraDescription},
			</if>
			<if test="paraType != null">
				PARA_TYPE = #{paraType},
			</if>
			<if test="paraSize != null">
				PARA_SIZE = #{paraSize},
			</if>
			<if test="multiSeparator != null">
				MULTI_SEPARATOR = #{multiSeparator},
			</if>
			<if test="multiValue != null">
				MULTI_VALUE = #{multiValue},
			</if>
			<if test="isMust != null">
				IS_MUST = #{isMust},
			</if>
			
			<if test="paraParent != null">
				PARA_PARENT = #{paraParent},
			</if>
			
			
			<if test="dateFormat != null">
				DATE_FORMAT = #{dateFormat}
			</if>
		</set>
		<where>
			PARA_UID = #{paraUid}
		</where>
	</update>
	
	<select id="selectByparaUid" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.DhInterfaceParameter">
		SELECT
		<include refid="Base_Column_List" />
		FROM DH_INTERFACE_PARAMETER
		<where>
			PARA_UID = #{paraUid}
		</where>
	</select>
	
</mapper>	