<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmart.desmartsystem.dao.SysDictCdMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.desmart.desmartsystem.entity.SysDictCd">
		<result column="DC_UID" property="dcUid" />
		<result column="DICT_CD" property="dictCd" />
		<result column="DICT_NM" property="dictNm" />
		<result column="DICT_TYPE_CD" property="dictTypeCd" />
		
		<association property="sysDictTp" javaType="com.desmart.desmartsystem.entity.SysDictTp">
			<result column="DICT_TYPE_CD"  property="dictTypeCd" />
			<result column="DICT_TYPE_NM"  property="dictTypeNm" />
		</association>
		
	</resultMap>
	
	<sql id="Base_Column_List">
		dc.DC_UID, dc.DICT_CD, dc.DICT_NM, dc.DICT_TYPE_CD,dt.dict_type_nm
	</sql>
	
	 <select id="selectAll" parameterType="com.desmart.desmartsystem.entity.SysDictCd"  resultMap="BaseResultMap">
			SELECT <include refid="Base_Column_List"></include> from sys_dict_cd dc left join sys_dict_tp dt on dc.dict_type_cd = dt.dict_type_cd
			where 1=1
			<if test="dictNm != null and dictNm!='' ">
				and dc.DICT_NM like CONCAT(CONCAT('%',#{dictNm}),'%')
			</if>
			
			<if test="dictTypeCd != null and dictTypeCd!='' ">
				and dc.DICT_TYPE_CD = #{dictTypeCd} 
			</if>
			
	  </select>
	
	  <insert id="insert" parameterType="com.desmart.desmartsystem.entity.SysDictCd" >
	  		INSERT INTO SYS_DICT_CD (DC_UID, DICT_CD, DICT_NM, DICT_TYPE_CD) VALUES (#{dcUid}, #{dictCd}, #{dictNm}, #{dictTypeCd})
	  </insert>
	  
	  <select id="findById" parameterType="com.desmart.desmartsystem.entity.SysDictCd" resultMap="BaseResultMap" >
	  		SELECT DC_UID, DICT_CD, DICT_NM, DICT_TYPE_CD FROM SYS_DICT_CD  WHERE DC_UID=#{dcUid}
	  		
	  </select>
	  
	  <delete id="delete" parameterType="com.desmart.desmartsystem.entity.SysDictCd">
	  		DELETE FROM SYS_DICT_CD WHERE DC_UID=#{dcUid}
	  </delete>
	  
	  <update id="update" parameterType="com.desmart.desmartsystem.entity.SysDictCd" >
	  		UPDATE SYS_DICT_CD SET DICT_CD = #{dcUid}, DICT_NM = #{dictCd}, DICT_TYPE_CD = #{dictTypeCd} WHERE DC_UID=#{dcUid}
	  </update>
	  
</mapper>
