<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartsystem.dao.SysDictionaryMapper">
	<sql id="Base_Column_List">
		DIC_UID,DIC_CODE,DIC_NAME,DIC_DESCRIPTION,DIC_STATUS
	</sql>
	
	<sql id="Base_Column_List1">
		DIC_DATA_UID,DIC_DATA_CODE,DIC_DATA_NAME,DIC_UID,DIC_DATA_DESCRIPTION,DIC_DATA_SORT,DIC_DATA_STATUS
	</sql>
	
	<sql id="DictionaryData_Dictionary_Column">
		dd.DIC_DATA_UID,dd.DIC_DATA_CODE,dd.DIC_DATA_NAME,dd.DIC_UID,dd.DIC_DATA_DESCRIPTION,dd.DIC_DATA_SORT,dd.DIC_DATA_STATUS,d.DIC_CODE,d.DIC_NAME,d.DIC_DESCRIPTION,d.DIC_STATUS
	</sql>
	
	
	
	<resultMap id="BaseResultMap" type="com.desmart.desmartsystem.entity.SysDictionaryData">
		<id column="DIC_DATA_UID" property="dicDataUid" />
		<result column="DIC_DATA_CODE" property="dicDataCode" />
		<result column="DIC_DATA_NAME" property="dicDataName" />
		<result column="DIC_UID" property="dicUid" />
		<result column="DIC_DATA_DESCRIPTION" property="dicDataDescription" />
		<result column="DIC_DATA_SORT" property="dicDataSort" />
		<result column="DIC_DATA_STATUS" property="dicDataStatus" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="CREATE_BY" property="createBy" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="UPDATE_BY" property="updateBy" />
		
		<association property="sysDictionary"  column="dicUid" javaType="com.desmart.desmartsystem.entity.SysDictionary">
			<id column="DIC_UID" property="dicUid" />
			<result column="DIC_CODE" property="dicCode" />
			<result column="DIC_NAME" property="dicName" />
			<result column="DIC_DESCRIPTION" property="dicDescription" />
			<result column="DIC_STATUS" property="dicStatus" />
			<result column="CREATE_DATE" property="createDate" />
			<result column="CREATE_BY" property="createBy" />
			<result column="UPDATE_DATE" property="updateDate" />
			<result column="UPDATE_BY" property="updateBy" />
		</association>
		
	</resultMap>

	<select id="selectSysDictionaryByName" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.SysDictionary">
		select 
		<include refid="Base_Column_List" />
		from SYS_DICTIONARY
		where 1=1
		<if test="dicCode != null and dicCode!='' ">
			and DIC_CODE like '%'||#{dicCode}||'%'
		</if>	
		
		<if test="dicName != null and dicName!='' ">
			and DIC_NAME like '%'||#{dicName}||'%'
		</if>	
		
		order by CREATE_DATE DESC,UPDATE_DATE DESC
	</select>
	
	<select id="selectSysDictionaryById" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.SysDictionary">
		select 
		<include refid="Base_Column_List" />
		from SYS_DICTIONARY
		<if test="dicUid != null">
		where DIC_UID = #{dicUid}
		</if>
	</select>
	
	<select id="selectSysDictionaryByCode" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.SysDictionary">
		select 
		<include refid="Base_Column_List" />
		from SYS_DICTIONARY
		where DIC_CODE = #{dicCode}
	</select>
	
	<insert id="save" parameterType="com.desmart.desmartsystem.entity.SysDictionary">
		insert into SYS_DICTIONARY (
			DIC_UID,
			DIC_CODE,
			DIC_NAME,
			DIC_DESCRIPTION,
			DIC_STATUS,
			CREATE_DATE,
			CREATE_BY
		)values (
			#{dicUid},
			#{dicCode},
			#{dicName},
			#{dicDescription},
			#{dicStatus},
			sysdate,
			#{createBy}
		)
	</insert>
	
	<delete id="delete">
		delete from  SYS_DICTIONARY	
		where DIC_UID = #{dicUid}
	</delete>	
	
	<update id="update" parameterType="com.desmart.desmartsystem.entity.SysDictionary">
		update SYS_DICTIONARY
		<set>
			<if test="dicCode != null">
				DIC_CODE = #{dicCode},
			</if>
			<if test="dicName != null">
				DIC_NAME = #{dicName},
			</if>
			<if test="dicDescription != null">
				DIC_DESCRIPTION = #{dicDescription},
			</if>
			<if test="dicStatus != null">
				DIC_STATUS = #{dicStatus},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy},
			</if>			
				UPDATE_DATE = sysdate			
		</set>
		where DIC_UID = #{dicUid}
	</update>
	
	<select id="selectSysDictionaryDataListById" parameterType="com.desmart.desmartsystem.entity.SysDictionaryData" resultMap="BaseResultMap">
		select 
		<include refid="DictionaryData_Dictionary_Column" />
		from SYS_DICTIONARY_DATA dd left join SYS_DICTIONARY d on dd.DIC_UID=d.DIC_UID
		<where>
			<if test="dicUid != null and dicUid != '' ">
				and dd.DIC_UID = #{dicUid}
			</if>	
			<if test="dicDataName != null and dicDataName != '' ">
				and dd.DIC_DATA_NAME like '%'||#{dicDataName}||'%'
			</if>
		</where>
	</select>
	
	<select id="selectSysDictionaryDataById" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.SysDictionaryData">
		select  
		<include refid="Base_Column_List1" />
		from SYS_DICTIONARY_DATA
		where DIC_DATA_UID = #{dicDataUid}
	</select>
	
	<select id="selectSysDictionaryDataByCode" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.SysDictionaryData">
		select  
		<include refid="Base_Column_List1" />
		from SYS_DICTIONARY_DATA
		where DIC_DATA_CODE = #{dicDataCode}
	</select>
	
	<insert id="saveSysDictionaryData" parameterType="com.desmart.desmartsystem.entity.SysDictionaryData">
		insert into SYS_DICTIONARY_DATA(
			DIC_DATA_UID,
			DIC_DATA_CODE,
			DIC_DATA_NAME,
			DIC_UID,
			DIC_DATA_DESCRIPTION,
			DIC_DATA_SORT,
			DIC_DATA_STATUS,
			CREATE_DATE,
			CREATE_BY
		)values (
			#{dicDataUid},
			#{dicDataCode},
			#{dicDataName},
			#{dicUid},
			#{dicDataDescription},
			#{dicDataSort},	
			#{dicDataStatus},
			sysdate,
			#{createBy}
		)
	</insert>
	
	<delete id="deleteSysDictionaryData" parameterType="java.lang.String">
		delete from SYS_DICTIONARY_DATA
		where DIC_DATA_UID = #{dicDataUid}
	</delete>
	
	<delete id="deleteBydicUid" parameterType="java.lang.String">
		DELETE FROM SYS_DICTIONARY_DATA WHERE DIC_UID=#{dicUid}
	</delete>
	
	<update id="updateSysDictionaryData" parameterType="com.desmart.desmartsystem.entity.SysDictionaryData">
		update SYS_DICTIONARY_DATA
		<set>
			<if test="dicDataCode != null">
				DIC_DATA_CODE = #{dicDataCode},			
			</if>
			<if test="dicDataName != null">
				DIC_DATA_NAME = #{dicDataName},
			</if>
			<if test="dicDataDescription != null">
				DIC_DATA_DESCRIPTION = #{dicDataDescription},
			</if>
			<if test="dicDataSort != null">
				DIC_DATA_SORT = #{dicDataSort},
			</if>
			<if test="dicDataStatus != null">
				DIC_DATA_STATUS = #{dicDataStatus},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy},
			</if>	
				UPDATE_DATE = sysdate			
			where DIC_DATA_UID = #{dicDataUid}
		</set>
	</update>
	
	<select id="listAllOnSysDictitonary" parameterType="String" resultType="com.desmart.desmartsystem.entity.SysDictionary">
		select 
		<include refid="Base_Column_List" />
		from SYS_DICTIONARY
		where dic_status='on'
		<if test="dicName != null and !dicName.trim().isEmpty()">
			and dic_name like '%'||#{dicName}||'%'
		</if>
	</select>
	
	<select id="listOnDicDataBydicUid" parameterType="String" resultType="com.desmart.desmartsystem.entity.SysDictionaryData">
		select 
		<include refid="Base_Column_List1" />
		from SYS_DICTIONARY_DATA
		where dic_uid=#{dicUid} and dic_data_status='on'
		<if test="dicDataName != null and !dicDataName.trim().isEmpty()">
			and dic_data_name like '%'||#{dicDataName}||'%'
		</if>
	</select>
	
	<select id="listOnDicDataBydicUidMove" parameterType="map" resultType="com.desmart.desmartsystem.entity.SysDictionaryData">
		select 
		<include refid="Base_Column_List1" />
		from SYS_DICTIONARY_DATA
		where dic_uid=#{dicUid} and dic_data_status='on'
		<if test="condition != null and !condition.trim().isEmpty()">
			and (dic_data_name like '%'||#{condition}||'%'
				or DIC_DATA_DESCRIPTION like '%'||#{condition}||'%')
		</if>
		<if test="dicDataUid !=null and !dicDataUid.trim().isEmpty()">
			and dic_data_uid != #{dicDataUid}
		</if>
	</select>
</mapper>