<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmart.desmartsystem.dao.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.desmart.desmartsystem.entity.SysRole" >
    <id column="ROLE_UID" property="roleUid" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ORDER_INDEX" property="orderIndex" jdbcType="DECIMAL" />
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    <result column="ROLE_NO" property="roleNo" jdbcType="VARCHAR" />
    <result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
    <result column="ROLE_TYPE" property="roleType" jdbcType="DECIMAL" />
    <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
    <result column="EXT4" property="ext4" jdbcType="VARCHAR" />
    <result column="EXT5" property="ext5" jdbcType="VARCHAR" />
    <result column="IS_CLOSED" property="isClosed" jdbcType="DECIMAL" />
    <result column="CLOSE_DATE" property="closeDate" jdbcType="TIMESTAMP" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="DESCRIBE" property="describe" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_UID, ROLE_NAME, ORDER_INDEX, CATEGORY_NAME, ROLE_NO, ROLE_DESC, ROLE_TYPE, EXT1, 
    EXT2, EXT3, EXT4, EXT5, IS_CLOSED, CLOSE_DATE, BEGIN_DATE, END_DATE, CREATE_DATE, 
    UPDATE_DATE,DESCRIBE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ROLE_UID = #{roleUid,jdbcType=VARCHAR}
  </select>
  
   <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE  where 1=1 
    
      <if test="roleType != null" >
         and ROLE_TYPE=#{roleType}
      </if>
  </select>
  
    <select id="listByPrimaryKeyList" parameterType="java.util.List"  resultMap="BaseResultMap">
	  		select * from SYS_ROLE u 
	  		WHERE role_uid in
			<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_ROLE
    where ROLE_UID = #{roleUid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.desmart.desmartsystem.entity.SysRole" >
    insert into SYS_ROLE (ROLE_UID, ROLE_NAME, ORDER_INDEX, 
      CATEGORY_NAME, ROLE_NO, ROLE_DESC, 
      ROLE_TYPE, EXT1, EXT2, 
      EXT3, EXT4, EXT5, IS_CLOSED, 
      CLOSE_DATE, BEGIN_DATE, END_DATE, 
      CREATE_DATE, UPDATE_DATE,DESCRIBE)
    values (#{roleUid,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{orderIndex,jdbcType=DECIMAL}, 
      #{categoryName,jdbcType=VARCHAR}, #{roleNo,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=DECIMAL}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{isClosed,jdbcType=DECIMAL}, 
      #{closeDate,jdbcType=TIMESTAMP}, #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},#{describe})
  </insert>
  <insert id="insertSelective" parameterType="com.desmart.desmartsystem.entity.SysRole" >
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleUid != null" >
        ROLE_UID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="orderIndex != null" >
        ORDER_INDEX,
      </if>
      <if test="categoryName != null" >
        CATEGORY_NAME,
      </if>
      <if test="roleNo != null" >
        ROLE_NO,
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC,
      </if>
      <if test="roleType != null" >
        ROLE_TYPE,
      </if>
      <if test="ext1 != null" >
        EXT1,
      </if>
      <if test="ext2 != null" >
        EXT2,
      </if>
      <if test="ext3 != null" >
        EXT3,
      </if>
      <if test="ext4 != null" >
        EXT4,
      </if>
      <if test="ext5 != null" >
        EXT5,
      </if>
      <if test="isClosed != null" >
        IS_CLOSED,
      </if>
      <if test="closeDate != null" >
        CLOSE_DATE,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleUid != null" >
        #{roleUid,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        #{orderIndex,jdbcType=DECIMAL},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="roleNo != null" >
        #{roleNo,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="isClosed != null" >
        #{isClosed,jdbcType=DECIMAL},
      </if>
      <if test="closeDate != null" >
        #{closeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.desmart.desmartsystem.entity.SysRole" >
    update SYS_ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        ORDER_INDEX = #{orderIndex,jdbcType=DECIMAL},
      </if>
      <if test="categoryName != null" >
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="roleNo != null" >
        ROLE_NO = #{roleNo,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="ext1 != null" >
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        EXT4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        EXT5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="isClosed != null" >
        IS_CLOSED = #{isClosed,jdbcType=DECIMAL},
      </if>
      <if test="closeDate != null" >
        CLOSE_DATE = #{closeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ROLE_UID = #{roleUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.desmart.desmartsystem.entity.SysRole" >
    update SYS_ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ORDER_INDEX = #{orderIndex,jdbcType=DECIMAL},
      CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      ROLE_NO = #{roleNo,jdbcType=VARCHAR},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR},
      EXT4 = #{ext4,jdbcType=VARCHAR},
      EXT5 = #{ext5,jdbcType=VARCHAR},
      IS_CLOSED = #{isClosed,jdbcType=DECIMAL},
      CLOSE_DATE = #{closeDate,jdbcType=TIMESTAMP},
      BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DESCRIBE = #{describe,jdbcType=VARCHAR}
    where ROLE_UID = #{roleUid,jdbcType=VARCHAR}
  </update>
</mapper>