<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmart.desmartsystem.dao.SysUserMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.desmart.desmartsystem.entity.SysUser">
		<result column="USER_UID" property="userUid" />
		<result column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="ORDER_INDEX" property="orderIndex" />
		<result column="PASSWORD" property="password" />
		<result column="DEPART_UID" property="departUid" />
		<result column="IS_MANAGER" property="isManager" />
		<result column="WORK_CALENDAR" property="workCalendar" />
		<result column="OFFICE_TEL" property="officeTel" />
		<result column="OFFICE_FAX" property="officeFax" />
		<result column="MOBILE" property="mobile" />
		<result column="EMAIL" property="email" />
		<result column="USER_IP" property="userIp" />
		<result column="IS_SINGLE_LOGIN" property="isSingleLogin" />
		<result column="WORK_STATUS" property="workStatus" />
		<result column="SESSION_TIME" property="sessionTime" />
		<result column="WECHAT" property="wechat" />
		<result column="EXT1" property="ext1" />
		<result column="EXT2" property="ext2" />
		<result column="EXT3" property="ext3" />
		<result column="EXT4" property="ext4" />
		<result column="EXT5" property="ext5" />
		<result column="REPORT_TO" property="reportTo" />
		<result column="IS_CLOSED" property="isClosed" />
		<result column="CLOSE_DATE" property="closeDate" />
		<result column="BEGIN_DATE" property="beginDate" />
		<result column="END_DATE" property="endDate" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="SESSION_TIME" property="sessionTime" />
		
		<result column="COSTCENTER" property="costCenter" />
		<result column="COMPANYNUMBER" property="companynumber" />
		<result column="DEPARTMENTNUMBER" property="departmetNumber" />
		<result column="EMPLOYEETYPE" property="employeeType" />
		<result column="DEPART_NAME" property="departName" />
		<result column="ACCOUNT_TYPE" property="accountType" />
		

		<!-- <association property="sysDepartment"  javaType="com.desmart.desmartsystem.entity.SysDepartment">
			<result column="DEPART_UID" property="departUid" />
			<result column="DEPART_PARENT" property="departParent" />
			<result column="DEPART_NAME" property="departName" />
			<result column="ORDER_INDEX" property="orderIndex" />
			<result column="DEPART_DESC" property="departDesc" />
			<result column="DEPART_NO" property="departNo" />
			<result column="DEPART_LAYER" property="departLayer" />
			<result column="DEPART_ADMINS" property="departAdmins" />
			<result column="DEPART_ZONE" property="departZone" />
			<result column="COMPANY_UID" property="companyUid" />
		</association> -->
	</resultMap>
	
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT
		INTO SYS_USER
		(USER_UID, USER_NO, USER_ID, 
	      USER_NAME, USER_NAME_US, SN, 
	      GIVENNAME, SEX, HOMEPLACE, 
	      PASSPORT, BIRTHDAY, ORDER_INDEX, 
	      PASSWORD, DEPART_UID, IS_MANAGER, 
	      WORK_CALENDAR, OFFICE_TEL, OFFICE_FAX, 
	      MOBILE, EMAIL, USER_IP, 
	      IS_SINGLE_LOGIN, WORK_STATUS, SESSION_TIME, 
	      WECHAT, STATION, STATIONCODE, 
	      MANAGERNUMBER, LEVELS, EXT1, 
	      EXT2, EXT3, EXT4, EXT5, 
	      REPORT_TO, IS_CLOSED, CLOSE_DATE, 
	      BEGIN_DATE, END_DATE, CREATE_DATE, 
	      UPDATE_DATE, COMPANYNUMBER, DEPARTMENTNUMBER, 
	      ACCOUNT_TYPE,COSTCENTER
		)
		<foreach collection="lists" index="index" item="item"
			separator=" union all ">
			SELECT
			#{item.userUid,jdbcType=VARCHAR}, #{item.userNo,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, 
		      #{item.userName,jdbcType=VARCHAR}, #{item.userNameUs,jdbcType=VARCHAR}, #{item.sn,jdbcType=VARCHAR}, 
		      #{item.givenname,jdbcType=VARCHAR}, #{item.sex,jdbcType=DECIMAL}, #{item.homeplace,jdbcType=VARCHAR}, 
		      #{item.passport,jdbcType=VARCHAR}, #{item.birthday,jdbcType=VARCHAR}, #{item.orderIndex,jdbcType=DECIMAL}, 
		      #{item.password,jdbcType=VARCHAR}, #{item.departUid,jdbcType=VARCHAR}, #{item.isManager,jdbcType=DECIMAL}, 
		      #{item.workCalendar,jdbcType=VARCHAR}, #{item.officeTel,jdbcType=VARCHAR}, #{item.officeFax,jdbcType=VARCHAR}, 
		      #{item.mobile,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.userIp,jdbcType=VARCHAR}, 
		      #{item.isSingleLogin,jdbcType=DECIMAL}, #{item.workStatus,jdbcType=VARCHAR}, #{item.sessionTime,jdbcType=DECIMAL}, 
		      #{item.wechat,jdbcType=VARCHAR}, #{item.station,jdbcType=VARCHAR}, #{item.stationcode,jdbcType=VARCHAR}, 
		      #{item.managernumber,jdbcType=VARCHAR}, #{item.levels,jdbcType=VARCHAR}, #{item.ext1,jdbcType=VARCHAR}, 
		      #{item.ext2,jdbcType=VARCHAR}, #{item.ext3,jdbcType=VARCHAR}, #{item.ext4,jdbcType=VARCHAR}, #{item.ext5,jdbcType=VARCHAR}, 
		      #{item.reportTo,jdbcType=VARCHAR}, #{item.isClosed,jdbcType=DECIMAL}, #{item.closeDate,jdbcType=TIMESTAMP}, 
		      #{item.beginDate,jdbcType=TIMESTAMP}, #{item.endDate,jdbcType=TIMESTAMP},#{item.createDate,jdbcType=TIMESTAMP},
		      #{item.updateDate,jdbcType=TIMESTAMP}, #{item.companynumber,jdbcType=VARCHAR}, #{item.departmetNumber,jdbcType=VARCHAR}, 
		      #{item.accountType,jdbcType=VARCHAR},#{item.costCenter,jdbcType=VARCHAR}
			FROM DUAL
		</foreach>
	</insert>
	
	
	 <select id="selectAll" parameterType="com.desmart.desmartsystem.entity.SysUser"  resultMap="BaseResultMap">
	 		select * from sys_user u  where 1=1
	 		<if test="userName !=null and userName !='' ">
	 			and u.USER_NAME LIKE CONCAT(CONCAT('%',#{userName}),'%') 
	 		</if>
	 		<if test="userNo!=null and userNo!='' ">
	 			and u.USER_NO LIKE CONCAT(CONCAT('%',#{userNo}),'%') 
	 		</if>
	 		
	 		<if test="departUid!=null and departUid!='' ">
	 			and U.USER_UID IN (SELECT d.USER_UID from  SYS_USER_DEPARTMENT  d WHERE	d.DEPART_UID=#{departUid})
	 		</if>
	 		
	 		<if test="departName!=null  and departName!='' ">
	 			and  EXISTS(SELECT	ud.USER_UID FROM SYS_USER_DEPARTMENT ud LEFT JOIN  SYS_DEPARTMENT d on ud.DEPART_UID=d.DEPART_UID  WHERE ud.USER_UID=u.USER_UID and d.DEPART_NAME LIKE CONCAT(CONCAT('%',#{departName}),'%'))
	 		</if>
	 		
	 		<if test="employeeType!=null and employeeType!='' ">
	 			and u.employeeType LIKE CONCAT(CONCAT('%',#{employeeType}),'%') 
	 		</if>
	 		 order by u.UPDATE_DATE
	  </select>
	  
	  <select id="allSysUserMove" parameterType="map" resultMap="BaseResultMap">
	  	select * from sys_user u 
	  	where 1=1
	  		<if test="userUidArr!=null and userUidArr.length!=0">
		  		and u.user_uid not in
			  	<foreach collection="userUidArr" index="index" item="userUid" open="(" separator="," close=")">
			  		#{userUid}
			  	</foreach>
	  		</if>
		  	<if test="condition!=null and !condition.trim().isEmpty()">
		  		and (u.user_uid like '%'||#{condition}||'%'
		  			or u.user_name like '%'||#{condition}||'%')
		  	</if>
	  	order by u.user_uid
	  </select>
	  
	  <select id="listByPrimaryKeyList" parameterType="java.util.List"  resultMap="BaseResultMap">
	  		select * from sys_user u 
	  		WHERE user_uid in
			<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	  </select>
	  
	  <select id="select" parameterType="com.desmart.desmartsystem.entity.SysUser"  resultMap="BaseResultMap">
	  		select * from Sys_User u where 1=1 
	  		<if test="userUid != null and userUid != '' ">
	  			and USER_UID = #{userUid}
	  		</if>
	  </select>
		
	 <insert id="insert" parameterType="com.desmart.desmartsystem.entity.SysUser" >
    insert into SYS_USER (USER_UID, USER_NO, USER_ID, 
      USER_NAME, USER_NAME_US, SN, 
      GIVENNAME, SEX, HOMEPLACE, 
      PASSPORT, BIRTHDAY, ORDER_INDEX, 
      PASSWORD, DEPART_UID, IS_MANAGER, 
      WORK_CALENDAR, OFFICE_TEL, OFFICE_FAX, 
      MOBILE, EMAIL, USER_IP, 
      IS_SINGLE_LOGIN, WORK_STATUS, SESSION_TIME, 
      WECHAT, STATION, STATIONCODE, 
      MANAGERNUMBER, EXT1, 
      EXT2, EXT3, EXT4, EXT5, 
      REPORT_TO, IS_CLOSED, CLOSE_DATE, 
      BEGIN_DATE, END_DATE, CREATE_DATE, 
      UPDATE_DATE, COMPANYNUMBER, DEPARTMENTNUMBER, 
      ACCOUNT_TYPE,COSTCENTER)
    values (#{userUid,jdbcType=VARCHAR}, #{userUid,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userNameUs,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, 
      #{givenname,jdbcType=VARCHAR}, #{sex,jdbcType=DECIMAL}, #{homeplace,jdbcType=VARCHAR}, 
      #{passport,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{orderIndex,jdbcType=DECIMAL}, 
      #{password,jdbcType=VARCHAR}, #{departUid,jdbcType=VARCHAR}, #{isManager,jdbcType=DECIMAL}, 
      #{workCalendar,jdbcType=VARCHAR}, #{officeTel,jdbcType=VARCHAR}, #{officeFax,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{userIp,jdbcType=VARCHAR}, 
      #{isSingleLogin,jdbcType=DECIMAL}, #{workStatus,jdbcType=VARCHAR}, #{sessionTime,jdbcType=DECIMAL}, 
      #{wechat,jdbcType=VARCHAR}, #{station,jdbcType=VARCHAR}, #{stationcode,jdbcType=VARCHAR}, 
      #{managernumber,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, 
      #{reportTo,jdbcType=VARCHAR}, #{isClosed,jdbcType=DECIMAL}, #{closeDate,jdbcType=TIMESTAMP}, 
      #{beginDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, sysdate, 
      sysdate, #{companynumber,jdbcType=VARCHAR}, #{departmetNumber,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR},#{costCenter,jdbcType=VARCHAR})
  </insert>
	  <update id="update" parameterType="com.desmart.desmartsystem.entity.SysUser" >
    update SYS_USER
    <set >
      <if test="userNo != null" >
        USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNameUs != null" >
        USER_NAME_US = #{userNameUs,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        SN = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="givenname != null" >
        GIVENNAME = #{givenname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=DECIMAL},
      </if>
      <if test="homeplace != null" >
        HOMEPLACE = #{homeplace,jdbcType=VARCHAR},
      </if>
      <if test="passport != null" >
        PASSPORT = #{passport,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null" >
        ORDER_INDEX = #{orderIndex,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="departUid != null" >
        DEPART_UID = #{departUid,jdbcType=VARCHAR},
      </if>
      <if test="isManager != null" >
        IS_MANAGER = #{isManager,jdbcType=DECIMAL},
      </if>
      <if test="workCalendar != null" >
        WORK_CALENDAR = #{workCalendar,jdbcType=VARCHAR},
      </if>
      <if test="officeTel != null" >
        OFFICE_TEL = #{officeTel,jdbcType=VARCHAR},
      </if>
      <if test="officeFax != null" >
        OFFICE_FAX = #{officeFax,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null" >
        USER_IP = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="isSingleLogin != null" >
        IS_SINGLE_LOGIN = #{isSingleLogin,jdbcType=DECIMAL},
      </if>
      <if test="workStatus != null" >
        WORK_STATUS = #{workStatus,jdbcType=VARCHAR},
      </if>
      <if test="sessionTime != null" >
        SESSION_TIME = #{sessionTime,jdbcType=DECIMAL},
      </if>
      <if test="wechat != null" >
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        STATION = #{station,jdbcType=VARCHAR},
      </if>
      <if test="stationcode != null" >
        STATIONCODE = #{stationcode,jdbcType=VARCHAR},
      </if>
      <if test="managernumber != null" >
        MANAGERNUMBER = #{managernumber,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        LEVELS = #{levels,jdbcType=DECIMAL},
      </if>
      <if test="ext1 != null" >
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        EXT4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        EXT5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="reportTo != null" >
        REPORT_TO = #{reportTo,jdbcType=VARCHAR},
      </if>
      <if test="isClosed != null" >
        IS_CLOSED = #{isClosed,jdbcType=DECIMAL},
      </if>
      <if test="closeDate != null" >
        CLOSE_DATE = #{closeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate},
      </if>
      <if test="companynumber != null" >
        COMPANYNUMBER = #{companynumber,jdbcType=VARCHAR},
      </if>
      <if test="departmetNumber != null" >
        DEPARTMENTNUMBER = #{departmetNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        ACCOUNT_TYPE = #{accountType,jdbcType=DECIMAL},
      </if>
      <if test="costCenter != null" >
        COSTCENTER = #{costCenter,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_UID = #{userUid,jdbcType=VARCHAR}
  </update>
	  <select id="findById" parameterType="com.desmart.desmartsystem.entity.SysUser" resultMap="BaseResultMap" >
	  		select u.*,d.* from sys_user u left join sys_department d on u.departmentnumber=d.depart_no where u.USER_UID=#{userUid}
	  </select>
	  
	  <delete id="delete" parameterType="com.desmart.desmartsystem.entity.SysUser">
	  		DELETE FROM SYS_USER WHERE USER_UID = #{userUid}
	  </delete>
	  
	  <select id="queryByPrimaryKey" parameterType="java.lang.String" resultType="com.desmart.desmartsystem.entity.SysUser">
		   	SELECT * FROM SYS_USER WHERE USER_UID = #{userUid}
	  </select>
	  
	  <select id="login" resultType="com.desmart.desmartsystem.entity.SysUser">
	        SELECT USER_ID,PASSWORD from SYS_USER WHERE USER_UID = #{username} <!-- and PASSWORD = #{password} -->
	  </select>
	  
</mapper>
