<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmart.desmartbpm.enginedao.LswProjectMapper">
    <sql id="baseColumnList">
        project_id, name
    </sql>

    <select id="listByProjectIdList" resultType="com.desmart.desmartbpm.entity.engine.LswProject">
        select <include refid="baseColumnList"/>
        from lsw_project
        <where>
            <foreach collection="collection" item="item" separator="or">
                project_id = #{item}
            </foreach>
        </where>
    </select>


</mapper>