/*布局样式*/
.mobile_container{
    width:100%;
    margin:auto;
}

.mobile_top{
    width: 100%;
    height: 40px;
    position: fixed;
    top:0px;
    border-bottom: 1px solid #ccc;
	box-shadow: 0 0 3px #f2f2f2;
	padding-bottom: 2px;
	z-index: 10;
	background: #EF6301;
    color: #fff;
}

.top_left{
	width:17%;
	text-align:left;
	float:left;
	margin:3% 0 0 10px;
}
.top_content{
	width:60%;
	float:left;
	text-align: center;
	font-size: 16px;
	margin-top:8px;
}
.top_right{
	width:17%;
	text-align:right;
	float:right;
	margin:6px 10px 0 0;
}

.mobile_middle{
	width:100%;
	margin-top: 82px;
}
.mobile_btn{
	color: #A0A0A0;
    width: 100%;
    position: fixed;
    top:40px;
    float:right;
    border-bottom: 2px solid #f2f2f2;
    box-shadow: 0 0 3px #f2f2f2;
    z-index: 10;
    background: #fff;
}

.approval_btn_div{
	position: fixed;
    bottom: -2px;
    z-index:11;
    width:100%;
    height:56px;
    border-top:1px solid #ccc;
    box-shadow: 0 0 3px #f2f2f2;
    background: #fff;
}    
.layui-fixbar{
    right: 10px;
    bottom: 60px;
}
/*提交按钮*/
.filter_btn{
	width: 50%;
    float: left;
    height:100%;
    line-height:56px;
    margin:0px;
    padding:0px;
    float: left;
    border-radius: 0px;
}
.approval_btn_div #save_submit_btn{
	background: #FC9153;
	color: #fff;
	margin:0px;
}
.approval_btn_div #save_drafts_btn{
	background: #FFF;
	margin:0px;
	color:#000;
}
/*tab按钮样式*/
.layui-tab-title li{
	width:25%;
}
.mobile_menu{
	height:100%;
}
.mobile_menu li{
	list-style:none;
	float:left;
	text-align:center;
	width:25%;
	height:100%;
	font-size: 14px;
	border-left: 1px solid #f2f2f2;
	margin: 0 -1px 0 0;
	z-index: 0;
}
.mobile_menu li p{
	font-size: 10px;
}
.mobile_menu li:hover{ 
	border-left: 1px solid #f2f2f2; 
	z-index: 1; 
}

/*中间内容部分样式*/
/* #record_div,#file_div{
	padding:5px 0px;
} */

/*任务列表详细*/
#search_top{
	background: #fff;
	color:#9C9C9C;
	padding:10px;
}
.backlog_top{
	border-bottom:1px solid #f2f2f2;
	padding-bottom:13px;
}
.backlog_process_title{
	border-right: 1px solid #727272;
	padding-right:5px;
}
.backlog_task_status{
	background: #FF9052;
	padding:3px 12px;
	border-radius:40px;
	color: #fff;
	position: absolute;
	right: 10px;
}
.backlog_content{
	margin-top:10px;
	position: relative;
}
.backlog_content tbody tr{
	height: 20px;
    font-size: 12px;
}
.process_title_div{
	padding-bottom:7px;
	font-size: 15px;
	color: #111;
	font-weight: 550;
}
/*进度条*/
.progress_bar_div{
	position: absolute;
    top: 0px;
    right: 0px;
}
.progress_time{
	color:#FF9052;
	font-size: 12px;
}

/*操作按钮部分*/
#child_menu{
	display: none;
	background: #3A3F45;
    padding: 5px;
    width: 30%;
    position: absolute;
    right: 0px;
    top: 100%;
    color:#f2f2f2;
}
#child_menu dd{
	text-align: center;
	padding: 13px 0;
    border-bottom: 1px solid #CCC;
}
#child_menu a{
	color:#f2f2f2;
}
#child_menu a:hover{
	color:#009688;
}

/*审批意见*/
.handle_btn{
	background: #fff;
	color:#111;
	width: 20%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCCCCC;
}
#submit_btn{
	background: #FEE9DD;
	color:#FC9E69;
	border: 1px solid #FDBD98;
}

#myApprovalOpinion{
	resize:none;
	height:150px;
	    border-bottom: 1px solid #F3F3F3;
}
#fu_label{
	width:50px;
	margin-left:10px;
	padding:9px 0px;
}
#frequently_used{
	margin-left:70px;
	margin-right:10px;
	margin-top:3px;
	color:#FF9559;
}

.handle_div{
	width:100%;
	margin-bottom:10px;
	background: #FFF;
	padding:0;
	border: 1px solid #e6e6e6;
}
#handle_type_table{
	background: #F5F4F9;
	height:65px;
	border-bottom: 1px solid #F0EFF2;
}
.handle_div table,.handle_div tbody{
	width:100%;
}
.handle_div table th{
	width:20%;
}
.handle_div table td{
	width:80%;
}
.handle_table{
	width:100%;
}
#countersign_table{
	display: none;
}
#reject_table{
	display: none;
}
#transfer_table{
	display: none;
}
.approve_demand{
	padding: 10px;
}

/*同意处理*/
.handle_table{
	width:92%;
	margin:auto;
}
.handle_table th{
	text-align: left;
}
.handle_table tr{
	height:40px;
	border-bottom: 1px solid #F3F3F3;
}
.task_activity_name{
	color:#FF9559;
    margin-left: 65px;
    width: 70%;
}
.handle_person_name li{
	float: left;
	text-align: center;
	margin:10px 8px 5px 8px;
	position: relative;
}
.first_name{
	background: #FF9052;
    padding: 9px 11px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.first_img{
	background: #FF9052;
	border-radius: 50%;
    color: #fff;
    text-align: center;
    width: 37px;
    height: 37px;
}
.person_name{
	font-size: 12px;
}
.choose_user_li,.show_many_li{
	border: 2px dashed #CCCCCC;
	padding: 7px 8px;
	margin-bottom: 15px;
}
#transfer_table i{
	float: left;
	padding-left:2px;
}
#submit_table{
	width:94%;
	margin-top: 0px;
}
#submit_table .choose_user1{
	float: left;
	padding-top:10px;
	padding-left:2px;
}
#countersign_table #countersign_person_view{
	width:85%;
	float: left;
}
#countersign_table .choose_countersign_person{
	float: left;
	padding-top:3px;
	padding-left:2px;
}
#countersign_table #countersign_type{
	width:85%;
	height:28px;
}
#countersign_table select{
	height:100%;
}
.layui-layer-page{
	width:100%;
	left:0px;
}
/*驳回*/

/*审批记录时间线*/
#approve_record {
	padding: 10px 0px;
    width: 90%;
    margin: auto;
}
#approve_record .layui-timeline-title{
	color: #D3D3D3;
}
.timeline_p span{
	margin-right:5px;
}
#approve_record .layui-timeline {
    padding-left: 5px;
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

#approve_record .layui-timeline-item {
    position: relative;
    padding-bottom: 20px
}

#approve_record .layui-timeline-axis {
    position: absolute;
    left: -15px;
    top: 0px;
    z-index: 10;
    width: 25px;
    height: 20px;
    line-height: 20px;
    background-color: #FF9052;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 10px 8px;
}

#approve_record .layui-timeline-content {
    padding-left: 40px;
}

.approval_time{
	float: right;
}
.person_despart{
	font-size: 12px;
} 
.approval_status{
	font-size:13px;
	color:#A4E063;
}
.timeline_p{
	font-weight: bold;
}
.approval_sugg{
	font-size: 15px;
	font-weight: bold;
}
.allComment{
	color:#F49368;
	font-weight: normal;
	text-align: right;
	font-size: 12px;
}

/*选人*/
#choose_user_div{
	display: none;
}
.choose_head{
	border-bottom: 1px solid #f2f2f2;
	height:40px;
	/* margin:5px 0 0 0;
	padding-bottom:3px; *//*2018-08-15*/
}
.search_div{
	float: left;
	width: 70%;
	margin-left:10px;
}
.sure_div{
	float: right;
	width: 25%;
	text-align: center;
	height: 100%;
}
.sure_div input[type='button']{
	background: #FC9153;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px;
}
.choose_body{
	display:none;
	height:245px;
	overflow-y:auto;
}
.choose_body table{
	width:90%;
	margin:auto;
}
.choose_body tr{
	height:35px;
	border-bottom:1px solid #f2f2f2;
}
.choose_body td{
	text-align: center;
}
.choose_second_th{
	width:50%;
}
.choose_three_th{
	width:50%;
}

.choose_user_name_ul{
	width:85%;
	float: left;
	min-height: 30px;
}
.choose_user_name_ul li{
	list-style:none;
	float:left;
	text-align:center;
	height:100%;
	font-size: 14px;
	margin:10px -5px 0px 0px;
}
.choose_user_name_span{
	padding: 5px 2px;
    border-radius: 10px;
    float: left;
    width: 65px;
    font-size: 12px;
    border: 1px solid #EF6301;
    color: #EF6301;
    font-weight: bold;
}
.delete_choose_user{
	position: absolute;
    top: -10px;
    right: -5px;
    font-size: 17px;
    color:#D31A31;
}
/*流转记录*/
.curr_activity{
	padding:5px 10px;
	color:#AAAAAA;
}
.curr_activity p{
	margin:5px 0px;
	font-size: 12px;
}
#transferProcess{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}
#transferProcess .layui-timeline-axis{
	color:#EF6301;
}

/*表单内容详情*/
.tip_span{
	color: red;
    float: left;
}
.table_container{
	margin: 10px 0;
    background: #fff;
    padding: 0px 10px;
}
.form-sub tr{
	border-bottom:1px solid #F3F3F3;
}
.title_p{
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #F3F3F3;
}	
.layui-table{
	margin-top:0px;
}
.layui-table .list_title{
	font-size: 14px;
}
#formTitle{
	padding-bottom:0px;padding-top:5px;border-bottom:0px;
}
#formNum{
	padding-top:0px;padding-bottom:3px;border-top:0px;
}
input[disabled], .layui-select-disabled .layui-disabled {
    border-width: 0px;
    background: #fff;
}
.layui-input, .layui-select, .layui-textarea{
	height:30px;
}
.layui-form-select dl dd, .layui-form-select dl dt{
	line-height:33px;
}

/*表单中选择人员、部门以及数据字典数据的样式*/
.choose_head{
	display:none;
}

/*上传附件*/
#loadFile_div li{
	text-align: left;
	background: #fff;
    margin-top: 10px;
}
#loadFile_div li table {
    width: 90%;
    margin: auto;
}
#loadFile_div th{
	width:30%;
    padding: 5px 0px;
}
#loadFile_div td{
	width:70%;
    padding: 5px 0px;
}

/*行详情*/
#table_tr_container{
	display:none;
    margin-top: 50px;
}
#tr_con_top{
	width: 100%;
    height: 40px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 3px #f2f2f2;
    padding-bottom: 2px;
    z-index: 10;
    background: #2E3238;
    color: #F2f2f2;
}
#tr_top_left{
    width: 17%;
    text-align: left;
    float: left;
    margin: 6px;
}
#tr_top_right{
    width: 60%;
    float: left;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}

.layui-btn+.layui-btn {
    margin-left: 5px;
}
