.mobile_container{
	width:100%;
	overflow-y:scroll;
}
.mobile_top{
	width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 3px #f2f2f2;
    padding-bottom: 2px;
    z-index: 10;
    background: #EF6301;
    color: #F2f2f2;
    position: fixed;
}
.mobile_middle{
	width:100%;
	height:auto;
	margin-top: 44px;
}

/*顶部*/
#operate_menu{
	font-size: 25px;
    vertical-align: 10px;
}
.top_content {
    width: 60%;
    float: right;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}
.top_left{
	float: left;
	width:20%;
}
.top_right{
	float: right;
	padding-top:8px;
	padding-right:3px;
	width:20%;
	text-align: right;
}

.layui-tab-title li{
	width:33%;
}

/*任务列表详细*/
.backlog_top{
	border-bottom:1px solid #f2f2f2;
	padding-bottom:15px;
}
.backlog_process_name{
	border-right: 1px solid #727272;
	padding-right:5px;
}
.backlog_task_status{
	background: #FF9052;
	padding:3px 12px;
	border-radius:40px;
	color: #fff;
	position: absolute;
	right: 10px;
}
.backlog_content{
	margin-top:10px;
	position: relative;
}
.backlog_content tbody tr{
	height: 20px;
    font-size: 12px;
}
.process_title_div{
	padding-bottom:7px;
}
.process_title{
	font-size: 16px;
	color: #111;
	font-weight: 550;
}
/*进度条*/
.progress_bar_div{
	position: absolute;
    top: 0px;
    right: 0px;
}
.progress_time{
	color:#FF9052;
	font-size: 12px;
}
/*代理标签*/
.task_agent_text{
	background: #ff9052;
	color:#fff;
	font-size: 12px;	
	padding: 9px 10px;
    border-radius: 50%;
}
.task_agent_status{
	position: absolute;
    right: 0px;
    top: 40px;
}
/*筛选条件div*/
.layui-layer-page {
    width: 100%;
    left: 0px;
}
#filter_div {
	display:none;
	background: #fff;
	height:100%;
	-webkit-overflow-scrolling : touch;
}
#filter_div table{
	width:90%;
	margin:auto;
}
#filter_div table tr{
	height:49px;
	border-bottom: 1px solid #F3F3F3;
}
#filter_div input[type='text']{
	background: #fff;
	border-width:0px;
}
#filter_div input[type='date']{
	background: #fbfbfb;
	border-width:0px;
}
#filter_div table th{
	text-align: left;
	width:30%;
}
#filter_div table td{
	text-align: right;
	width:70%;
}
#filter_div table td input{
	text-align: right;
}
.filter_btn{
	width: 50%;
    float: left;
    height:100%;
    line-height:56px;
    margin:0px;
    padding:0px;
    float: left;
    border-radius: 0px;
}
.filter_btn_div input[type='button']{
	background: #FC9153;
	color: #fff;
}
.filter_btn_div input[type='reset']{
	background: #FFF;
	color:#000;
}
.layui-btn+.layui-btn{
	margin:0px;
}