<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  		<title>待办任务</title>
  		<link href="css/layui.css" rel="stylesheet"/>
  		<link rel="stylesheet" href="css/modules/laydate/default/laydate.css" />
  		<link href="css/my.css" rel="stylesheet" />
  		<style>
			.layui-form-label{width:140px;}
			.layui-input-block{margin-left:170px;}
  		</style>
	</head>
	<body>
		<div class="container">
			<div class="search_area">
				<div class="search_area top_btn">
					<a href="set.html"><button class="layui-btn layui-btn-primary layui-btn-sm">返回</button></a>
					<span style="float:right;">
						<button class="layui-btn layui-btn-sm">保存</button>
					</span>
				</div>
			</div>
			<div>
				<p class="title_p">流程配置环节</p>
				<form class="layui-form" action="">
	    		  	<div class="layui-row">
					    <div class="layui-col-md6">
					     	<div class="layui-form-item">
							    <label class="layui-form-label">快照名称</label>
							    <div class="layui-input-block">
							      	<input type="text" name="title" required  lay-verify="required" value="快照名称1" autocomplete="off" class="layui-input" disabled="disabled">
							    </div>
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label">流程图id</label>
							    <div class="layui-input-block">
							      	<input type="text" name="title" required  lay-verify="required" value="25.c3d30227-87a4-46f6-9dc3-1eea14a2b5be" autocomplete="off" class="layui-input" disabled="disabled">
							    </div>
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label">流程图应用库id</label>
							    <div class="layui-input-block">
							      	<input type="text" name="title" required  lay-verify="required" value="2066.033d0e8d-f0a5-4d4d-a694-2501d9e82d21" autocomplete="off" class="layui-input" disabled="disabled">
							    </div>
							</div>
					    </div>
					    <div class="layui-col-md6">
					     	<div class="layui-form-item">
							    <label class="layui-form-label">流程图名称</label>
							    <div class="layui-input-block">
							      	<input type="text" name="title" required  lay-verify="required" value="流程图名称1" autocomplete="off" class="layui-input" disabled="disabled">
							    </div>
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label">流程图快照id</label>
							    <div class="layui-input-block">
							      	<input type="text" name="title" required  lay-verify="required" value="" autocomplete="off" class="layui-input" disabled="disabled">
							    </div>
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label">表单页面路径</label>
							    <div class="layui-input-block">
							      	<input type="text" name="title" required  lay-verify="required" value="" autocomplete="off" class="layui-input" disabled="disabled">
							    </div>
							</div>
					    </div>
					</div>
				</form>
				<p class="title_p">起草权限配置</p>
				<form class="layui-form" action="">
	    		  	<div class="layui-row">
					    <div class="layui-col-md6">
					     	<div class="layui-form-item">
							    <label class="layui-form-label">人员</label>
					      	    <div class="layui-input-inline">
									<input type="text" name="text" required lay-verify="required"  autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux"><i class="layui-icon choose_user">&#xe612;</i> </div>
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label">部门</label>
							    <div class="layui-input-block">
							      	<div class="layui-input-inline">
									<input type="text" name="text" required lay-verify="required"  autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux"><i class="layui-icon choose_user">&#xe612;</i> </div>
							    </div>
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label">角色</label>
							    <div class="layui-input-block">
							      	<div class="layui-input-inline">
									<input type="text" name="text" required lay-verify="required"  autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux"><i class="layui-icon choose_user">&#xe612;</i> </div>
							    </div>
							</div>					     	
					    </div>
					</div>
				</form>
			</div>
		</div>
	</body>
	
</html>
	<script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
	<script type="text/javascript" src="js/layui.all.js"></script>
	<script>
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			  	laydate.render({
			    elem: '#test1'
			});
		});
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			  	laydate.render({
			    elem: '#test2'
			});
		});
		$(function(){
			$("create_btn").click(function(){
				window.location.href="new_user.html";
			})
			$(".choose_user").click(function(){
				window.location.href="choose_user.html";
			})
			
		})
	</script>